[2021-04-08 22:02] nsmith- commented on #4535
For me with `2021.4.0` the example does not show any issues. I'm happy to close

[2021-04-09 00:37] jrbourbeau commented on #4535
Great, thanks for follow up here @nsmith-

[2021-04-09 00:37] #4535 closed

[2021-04-09 08:12] crusaderky commented on #4675
I suspect this has to do with updating x_range.end. #4651 dynamically increases x_range.end when there's a lot of spilled data, and I'm seeing a very similar behaviour.

[2021-04-09 15:37] jrbourbeau commented on #4675
cc'ing @jsignell for visibility

[2021-04-09 16:55] GFleishman opened #4724 "Cluster hangs with a few tasks in "processing" state but no cpu load on any workers"
This problem is stochastic. It seems to occur more frequently when there is more sharing of data between workers. `map_overlap` calls seem particularly problematic.

Cluster is set up using `dask-jobqueue.LSFCluster` and `dask.distributed.Client`

[code]

Workers are all allocated properly, bash scripts invoking LSF all seem fine. The task graph starts to execute, but then gets hung up and sits in

[2021-04-09 22:54] FANLONGFANLONG opened #4693 "wait_for_workers got stuck when to create cluster but application failed on yarn"
I put 500 GB for a worker accidentally to start yarn cluster. But looks likely
1. I can create cluster(application) on yarn because i got cluster.app_id and cluster.scheduler_address.
2. i use client.wait_for_workers to wait for  worker ready
3. but dask got stuck.
![image](https://user-images.githubusercontent.com/22552116/114248072-a123b180-994b-11eb-8070-1ef1da84ed76.png)

4. i checked applicat

[2021-04-10 01:30] jakirkham commented on #4513
@douglasdavis, if you are looking for things to pick up related to the Scheduler work, this would be a good one. We already know communication is slow ( https://github.com/dask/distributed/issues/4443 ). Also this would allow us to use UNIX domain sockets ( https://github.com/dask/distributed/issues/3630 ) when available. Additionally could be extended to handle shared memory-based communication (

[2021-04-10 01:44] jakirkham commented on #836
Ran this on my Mac, which uses 12 workers by default, uses ( https://github.com/dask/dask/commit/e83379d5946a8e64f21c1dcb3695cf1386539307 ) and ( https://github.com/dask/distributed/commit/053f99b85a56a2a412f27b1950f65eb93b5bc0be ). So this may differ a bit from how things were run above. Anyways this is what I see now. Basically both of these are running ~2x faster

**Round trip delay**

[code]

[2021-04-12 13:40] fjetter commented on #4413
I've been working on a more complete definition of the worker state machine which is still WIP but I'd like to share already to get some feedback. This proposal is to some extend much more complex than what we have right now but in other aspects much simpler and I believe the bottom line is a more robust state machine which is also easier to be extended. In particular, I can see much more room for

[2021-04-12 14:16] 9849842 commented on #4652
@madsbk How do I do that?

[2021-04-12 14:20] 9849842 commented on #4652
@jakirkham I still get the same error if I change to ```persist``` first and then ```map_partitions``` after.

[2021-04-12 14:21] 9849842 commented on #4652
@quasiben using ```chunksize=1000``` fixed it for a few days, but now even with the small partitions I am getting the error.

[2021-04-12 14:31] 9849842 commented on #4652
ok let me try with the latest versions of dask and distributed I will report back soon.

[2021-04-12 15:17] 9849842 commented on #4652
@madsbk I installed both dask and distributed from source, and now it just hangs when I call ```persist```.

[2021-04-12 15:47] martindurant opened #4694 "Allow workers to cancel running task?"
Currently, if a task is already running on a thread of a worker, it will always run to completion/exception even if the work is no longer required (e.g., the future was explicitly cancelled). We usually say "you cannot interrupt a python thread", so Dask has no option here. However, you [can](https://blog.finxter.com/how-to-kill-a-thread-in-python/#Method_4_Using_ctypes_To_Raise_Exceptions_In_A_Th

[2021-04-12 15:53] mrocklin commented on #4694
If there is a safe and effective way to cancel a thread then I would be
thrilled to see it added to Dask

On Mon, Apr 12, 2021 at 10:47 AM Martin Durant ***@***.***>
wrote:

[2021-04-12 15:55] martindurant commented on #4694
I'll make a PR with a version of the code linked above, so we can discuss it more there.

[2021-04-12 15:56] jrbourbeau commented on #4694
Yeah this would be nice to be able to do using a stable, public API

[2021-04-12 15:58] mrocklin commented on #4694
cc @pitrou who might be able to tell us why this would break things

On Mon, Apr 12, 2021 at 10:56 AM James Bourbeau ***@***.***>
wrote:

[2021-04-12 15:58] fjetter commented on #4694
I have a few concerns
* If the thread spawns subthreads, what happens? Are they closed automagically as well?
* What if the compute thread is supposed to close external resources, e.g. a connection, does it have time to do so, e.g. will the `__exit__` of a ctx manager be executed?

[2021-04-12 16:02] martindurant commented on #4694
Whatever would happen on a normal exception, I think. So the working thread, if it was waiting on some other thread, would raise the exception normally. The main thread would not know that there was another thread around, so work may still happen there, unless the code in the task was well-written to pass an "I have reached an exception, please end" message to its child thread.

Yes, it should be

[2021-04-12 16:10] fjetter commented on #4694
If that all works this way, that sounds great

[2021-04-12 16:15] randerzander commented on #4686
For Dask GPU workloads, we're _often_ bottlenecked by storage throughput and/or latency. This is especially true in cloud deployments.

Having Dask expose of storage related task (e.g. `read_csv`, `write_parquet`, etc) throughput would be extremely helpful.

`node-exporter` for system metrics is useful if the storage system is running locally. But for reading from HDFS, S3, GCS, ADLFS, etc it's no

[2021-04-12 16:20] 9849842 commented on #4652
@madsbk I played around with chunksizes and got it to work.

[2021-04-12 16:43] randerzander commented on #4686
Currently it's difficult to know exactly which tasks induce an OOM failure.

It's common to proceed through a workflow doing something like iteratively adding `print(f'got here 1 {len(ddf)}')`  at various places to try inducing failure as a diagnostic. This is painful.

It would be nice to expose task-level peak memory usage (both CPU and GPU) which would help avoid the above experience.

[2021-04-12 16:46] martindurant commented on #4694
That kind of cleanup doesn't happen within a task execution, though, at least not by Dask - these threads only run the functions supplied by the user.

You are right, in general, that code associated with leaving a task would not run if the "kill" happened after areas where an exception might have been anticipated. There's probably no easy way to tell if this is the case for arbitrary user code.

[2021-04-12 16:49] pitrou commented on #4694
You could do this the other way: expose an API for user code to know whether the current task should be abandoned, and let the user code call it as desired. That allows for safe cancellation. And/or expose something like a `allow_async_cancellation` parameter or function in a task.

[2021-04-12 16:51] pitrou commented on #4694
Oh, and is it inside a free-running thread or a `ThreadPoolExecutor` thread?

[2021-04-12 16:53] martindurant commented on #4694
I think it's pretty unlikely we would get any buy-in on this; in fact, you can already do this by introspecting the worker from `get_worker()`.

The latter, as subclassed in distributed. The exception would be seceded threads (which are still launched the same way). If I remember, an actor thread runs on a executor with exactly one thread.

[2021-04-12 16:55] pitrou commented on #4694
If your async exception is raised inside the ThreadPoolExecutor bookkeeping code, you might get a deadlock or other issues.

[2021-04-12 17:01] martindurant commented on #4694
Does any of `ThreadPoolExecutor`'s own code run within the threads it manages?

[2021-04-12 17:03] pitrou commented on #4694
Well, yes, so that threads are reused. Spawning a new thread for each task would be wasteful.
https://github.com/python/cpython/blob/master/Lib/concurrent/futures/thread.py#L74-L101

[2021-04-12 17:04] martindurant commented on #4694
Oh, right, I see it.
We can guard this by using our own exception class, right?

[2021-04-12 17:13] gforsyth commented on #4413
This is great, @fjetter -- thanks for sharing it!

I'm very much on board with this (and the rest of your points) -- clarifying question here, the `state` of a `TaskState` instance changes -- these are currently tracked in `self.story` but would we want to include a history of previous states / transitions in the `TaskState` instance itself?

[2021-04-12 17:34] pitrou commented on #4694
I'm not sure that would change anything. You could still interrupt the worker's task handling loop at any point.

[2021-04-12 17:52] mrocklin commented on #4413
I would love to see that image (or some future version of that image) end
up in developer docs at distributed.dask.org.  I think that that would help
future folks.

On Mon, Apr 12, 2021 at 12:13 PM Gil Forsyth ***@***.***>
wrote:

[2021-04-12 17:56] martindurant commented on #4694
I mean like this
(distributed/_concurrent_futures_thread.py)
[code]

[2021-04-12 18:10] pitrou commented on #4694
Ah! Well, I suppose that could work...

[2021-04-12 19:15] GFleishman commented on #3882
@samaust @mrocklin

FYI this caught me recently as well. I spent this morning trying to figure out why my dask-jobqueue LSFCluster workers were being killed with:

`OSError: Timed out during handshake while connecting to tcp://10.36.110.11:38453 after     10 s`

After setting:

[code]

from the scheduler process.

I thought the `config.set` function was broken. IMHO this should be mentioned in the

[2021-04-13 02:28] jrbourbeau opened #4697 "Flaky `test_dashboard`"
`distributed/cli/tests/test_dask_scheduler.py::test_dashboard` has started sporadically failing over the past few days (for example, [here](https://github.com/dask/distributed/pull/4695/checks?check_run_id=2329140090)). See the full traceback below.

<details>
<summary>Details:</summary>

[code]

</details>

[2021-04-13 06:44] fbriol opened #4698 "Client/Scheduler gather not robust to busy worker"
When I run a lot of tasks on the CNES HPC with a big Dask cluster (512 threads/128 workers), I sometimes have communication errors between the scheduler and the workers. The error is thrown by the module "distributed/utils_comm.py," because the code tries to read the key 'data' which does not exist in the dictionary.

[code]
I modified the module code, to display the content of this dictionary whe

[2021-04-13 11:04] fjetter commented on #4613
First question coming up for me is "What kind of data do we want to store" and what do we want to do with it. I would suggest not to introduce any instrumentation without an application (if it shows up on a dashboard that's enough). I see two types of data we may collect and the reality might be a subset of this.

### Static runtime information

Static runtime information would include
* What kind

[2021-04-13 12:46] fjetter commented on #3882
I believe this has been closed with https://github.com/dask/distributed/pull/4378 assuming you're using a Nanny.

Note, that you should set the configuration *before* you start the processes / local cluster. Propagating config changes once the cluster is up is something we do not support at the moment

[code]

[2021-04-13 13:49] mrocklin commented on #4613
Yeah, I think that the application that I have in mind is to store enough information to generate performance reports (or some lighter weight version of them) without the user explicitly asking us to do so  ahead of time.

I agree that storing all TaskStates isn't feasible, but I'm hopeful that TaskGroups can provide enough summary information, especially if we enhance them (see #4671 for one exam

[2021-04-13 14:18] mrocklin commented on #4613
Also, in the future when we reliably send layers up to the scheduler it would be useful to translate those direclty into TaskGroups.  Currently we back this information out with keynames.  Hopefully once we have layers we can store lots of more ~fun~ useful information.

[2021-04-13 15:10] jrbourbeau commented on #3882
As Matt pointed out in https://github.com/dask/distributed/issues/3882#issuecomment-642338414, for clusters which span across multiple machines we recommend using a yaml configuration file in your `.config/dask/` directory if that is accessible to you.

I'm not sure if `dask-jobqueue` supports a built-in way to forward configuration files to nodes in the cluster. Perhaps @andersy005 knows what the

[2021-04-13 16:03] crusaderky commented on #4697
I'm seeing it a lot in #4651, and the issue is clearly unrelated to my work.

e.g. https://github.com/dask/distributed/pull/4651/checks?check_run_id=2333024257

The test successfully performs, on the first attempt,
- ``requests.get("http://localhost:8787/status")``  and
- ``requests.get("http://127.0.0.1/status")``

Immediately afterwards, it gets stuck on a call to
- ``requests.get(f"http://{get_

[2021-04-13 16:36] jacobtomlinson opened #4701 "Dask Batch Base Class Proposal"
Inspired by [dask-mpi](https://mpi.dask.org/en/latest/batch.html) I would like to introduce a primitive batch base class within Dask Distributed to enable the development of similar tooling for other platforms.

Today much of the Dask deployment tooling assumes that the user is outside of the infrastructure scheduling system and is working to leverage some external resource to scale out their work

[2021-04-13 16:36] jacobtomlinson commented on #4701
@mrocklin is this the kind of thing that may suit a DEP or whatever we are calling them?

[2021-04-13 18:36] jrbourbeau commented on #4697
Just noting that if `socket.gethostname` is the only issue, then we should only see failures on linux CI builds

https://github.com/dask/distributed/blob/5c9a7ed54d55b936fff16465cf8709a5da5dc4cd/distributed/cli/tests/test_dask_scheduler.py#L79-L81

I'll keep an eye out for whether or not `test_dashboard` fails on macOS or windows builds

[2021-04-14 00:24] dhirschfeld commented on #4613
I'm quite interested here as it sounds like this may enable my use-case for tracking different ETL jobs. I had thought annotations might be useful for that but haven't gotten around to trying them out:

https://github.com/dask/distributed/pull/2180#issuecomment-562902173

[2021-04-14 07:22] CMCDragonkai commented on #4391
I noticed that `client.publish_dataset` doesn't seem to work according to the docs:

[code]

But if I use `client.publish_dataset(**{name: result})`, it does work as expected.

[2021-04-14 11:09] fjetter commented on #4697
The test seems to fail pretty reliably by now. Looking at the test, I'm not entirely sure if this should even be part of the test. the test passes for localhost, ips, etc. so the dashboard is reachable and this is what we're trying to test. Whether or not it is reachable via the hostname is rather a question of whether the host/os is properly configured ([nsswitch.cfg](https://man7.org/linux/man-p

[2021-04-14 13:41] martindurant commented on #4391
It seems to me that the docstring is clear:
[code]
So all non-keyword arguments are considered datasets, and you must explicitly pass `name=` and `override=` for this case.

I agree that a meaningful exception should be raised when the inputs do not match expectations.
Marking this as good-first-issue.

[2021-04-14 13:43] martindurant commented on #4391
-EDIT-

please make a new issue with the case of `client.publish_dataset()` or `client.publish_dataset(thing)` not raising an exception. That should be the good-first-issue

[2021-04-14 15:22] fjetter commented on #4413
Short summary of an offline discussion with @gforsyth with some hints about possible implementations
* Intermediate states like Rescheduled, Canceled, etc. are probably a good idea. Work stealing, for instance, would always go via these intermediate states and we'd hope to gain more stability in this system by starting from scratch and transition all states through the ordinary, intended paths and

[2021-04-14 22:06] #4697 closed

[2021-04-15 02:36] #4637 closed

[2021-04-15 13:51] fjetter opened #4707 "test_adapt_then_manual failing on master"
`deploy/tests/test_local.py::test_adapt_then_manual` is failing on master due to some timeouts

OSX: https://github.com/dask/distributed/runs/2348952541?check_suite_focus=true
other OS: ?

[2021-04-15 19:33] fredms opened #4708 "Timed out during handshake while connecting to tcp://localhost:9002 after 10 s"
The local client "local=tcp://127.0.0.1:65441" CAN connect to "remote=tcp://localhost:9002", but failed during handshake later. my knowledge is limited here. Please advise how can I fix this?

I located the place raising error in comm/core.py:
[code]

[2021-04-16 00:21] fredms commented on #4708
Hi @mrocklin,  I saw this was added 8 months ago. The issue might be small, but I have limited knowledge here. Please advise how can I fix this?

[2021-04-16 00:25] jrbourbeau commented on #4708
Thanks for raising an issue @fredms. Can you provide any additional information about your cluster setup and the code you're running which is triggering the error? With the level of information provided it may be hard for others to help. See https://blog.dask.org/2018/02/28/minimal-bug-reports for crafting minimal bug reports.

What version of Python / Dask / Distributed are you running? Are you s

[2021-04-16 00:39] fredms commented on #4708
Thanks @jrbourbeau . This is usage of AzureMLCluster (it's deprecated, but I maintain a copy in my repo). I would like to do some benchmarking with AML compute.

python: 3.6.5
dask: 1.0.0
distributed:1.25.1

It failed to create cluster because of handshake exception. The handshake is between local=tcp://127.0.0.1:58240 and remote=tcp://localhost:9002.

I added some outputs for debug in distributed

[2021-04-16 01:17] jrbourbeau commented on #4708
It looks like you have a `distributed` version mismatch somewhere. The following part of your output

[code]

is using the `local_info` variable added in https://github.com/dask/distributed/pull/4019 which was included in the `distributed==2.23.0` release. I recommend making sure you're using the same version of `distributed` everywhere and then retrying.

[2021-04-16 06:01] fredms commented on #4708
Thanks. I tried to use the same requirements in my local and remote compute. In the requirements, I specified versions as follows:
adlfs==0.7.3
azureml-core==1.26.0
dask==2021.3.0
dask-ml==1.8.0
distributed==2021.3.0
fastparquet==0.5.0
fsspec==0.9.0
joblib==1.0.1
jupyterlab==3.0.14
lz4==3.1.3
mpi4py==3.0.3
notebook==6.3.0
pyarrow==3.0.0

And the issue still exists:
core.py, trying to connect to tc

[2021-04-16 08:57] fjetter commented on #4708
I'm wondering why you are trying to connect to `localhost` if it is a remote compute setup. Is there some kind of proxy active? Maybe this is responsible for the failures.

I would also recommend to increase the timeout using the option `distributed.comm.timeouts.connect` to eliminate slow network.

[2021-04-16 10:21] pl-marasco opened #4709 "distributed.protocol.core - CRITICAL - Failed to deserialize exceeds max_bin_len from Distributed >= 2021.3.0"
Working with Xarray, I need to load a series of dataset lazily (with a delayed approach); at a certain point of the flow, this needs to be combined in a single XR.Dataset through an XR.combine_nested(). This step requires computing the delayed objects. To better follow the process I'm using Distributed locally.
Up to v. 2021.2.0, everything went smoothly, but from v. 2021.3.0 (tested as well over

[2021-04-16 14:15] jrbourbeau commented on #4709
Thanks for reporting an issue @pl-marasco! This issue should be resolved in the current development versions of `dask` and `distributed`. Could you install the latest development version of those packages to confirm it resolves the issue you're seeing?

[2021-04-16 14:41] pl-marasco commented on #4709
Thanks @jrbourbeau it works!

[2021-04-16 14:41] #4709 closed

[2021-04-16 18:52] fredms commented on #4708
Thanks @fjetter. You're right. we set up port forwarding when starting remote cluster from local ([line 790](https://github.com/fredms/dask-cloudprovider/blob/main/dask_cloudprovider/azureml/azureml.py) ).  I tried to increase the timeout, but I got tornado exceptions:
core.py, trying to connect to tcp://localhost:9002
core.py, inside connect method
core.py,time left 99.9994101524353, loc is local

[2021-04-17 09:23] gsakkis opened #4711 "DeprecationWarning on python 3.9"
[This line](https://github.com/dask/distributed/blob/main/distributed/deploy/spec.py#L342) triggers the following warning on 3.9:
[code]

**Environment**:

- Dask version: 2021.4.0
- Python version: 3.9.2
- Operating System: Linux
- Install method (conda, pip, source): pip

[2021-04-18 10:16] rahulsemwaliiita opened #4712 "inputs contain futures that were created by another client"
As per the Dask documentation, client.persist() returns the futures pointing to actively running task in the background. In my code, I am contacting multiple CSV files with persist and wait operation, then converting dask dataframe to dask array. But, before I convert dask dataframe into dask array, I get the following error:

[code]

Please, provide any suggestions to rectify the same. The source

[2021-04-19 08:50] fjetter commented on #4712
I am assuming you are also using `distributed==2021.04.0`? Are there any other exceptions visible? Is your computation stopping / deadlocking / finishing or do you merely see these exceptions logged?

[2021-04-19 11:01] BENR0 opened #4714 "SSHCluster multiple worker options"
Currently when using `SSHCluster` worker options are the same on all nodes. To a certain degree this limits the usage on clusters with heterogeneous nodes (e.g. some nodes have 4 cpu's while other might have more). So it would be nice if similar to the connect options different worker options could be specified for each node.

Additionally it would be nice to optionally be able to specify custom n

[2021-04-19 11:41] rahulsemwaliiita commented on #4712
Yes, I am using distributed==2021.04.0. Till now apart from this exception, nothing is visible and this stops my code execution before converting dask dataframe to dask array.

[2021-04-19 13:54] fjetter commented on #4712
Have you tried reproducing the error without CSV files? See https://blog.dask.org/2018/02/28/minimal-bug-reports

This would help us reproducing the issue to track it down.

[2021-04-19 14:54] jrbourbeau commented on #4711
Thanks for reporting @gsakkis! To avoid this `DeprecationWarning` I think we want to first wrap the coroutine in `asyncio.create_task` before passing it to `asyncio.wait` as outlined [here](https://docs.python.org/3/library/asyncio-task.html#asyncio-example-wait-coroutine). Do you have any interest in submitting a PR?

[2021-04-19 15:43] mrocklin opened #4715 "Have workers query service for scheduler address"
Currently a worker needs a scheduler address in order to start.  This can cause issues in two situations:

1.  If the scheduler and workers are started at the same time then it can take twice as long to start a meaningful dask cluster than it takes to start a process/vm/pod/...  (see https://github.com/dask/distributed/pull/4710#issuecomment-822374645)
2.  If the scheduler goes down and comes up s

[2021-04-19 15:46] mrocklin commented on #4715
I'm curious if there is some generic thing that we could do here that would easily plug into other systems, like Zookeeper, or other cloud native solutions.  A web route is the simplest to invent I think, but maybe there are more tailored solutions that already exist that we would want to support in a more pluggable way.

[2021-04-19 16:48] jacobtomlinson commented on #4715
I am very much in support of this.

Tools like zookeeper, etcd and consul do this today and are popular in many other projects. I think Spark folks tend to use zookeeper. Kubernetes nodes commonly use etcd.

[2021-04-19 16:49] jacobtomlinson commented on #4715
I am hesitant to invent yet-another-raft-election-tool.

[2021-04-19 17:06] mrocklin commented on #4715
Yeah, agreed.  This should be an interface to rely on existing tools.  Do you have thoughts on what that interface should look like?

[2021-04-19 18:59] mrocklin opened #4716 "Remove path prefix from filename in profile"
Currently in profiles we include the full filename in the profile information.  These filenames look like this:

    /srv/conda/evs/notebook/libs/python3.8/site-packages/fsspec/asyn.py

We might consider chopping off everything before site-packages so that we have the following:

    fsspec/asyn.py

The path prefix is useful in that it helps us to immediately identify a file if we're on the same m

[2021-04-19 18:59] mrocklin commented on #4716
This work would be done in the distributed/profile.py file (search for filename to see most occurrences).

[2021-04-19 19:30] mrocklin commented on #4716
One can see these filenames in any of the "profile" tabs by hovering over any of the rectangles in the flame graph (the main chart on the page).  One can view these live at /profile in the dashboard and one can inspect them by calling `client.profile()` for use in tests.  A test might look something like the following:

[code]

[2021-04-19 20:16] rahulsemwaliiita commented on #4712
Dear @fjetter, now when I running above code I get following error log:

[code]

[2021-04-19 22:22] jrbourbeau commented on #4711
Closed via https://github.com/dask/distributed/pull/4717

[2021-04-19 22:22] #4711 closed

[2021-04-20 08:32] fjetter commented on #4715
For reference, the kazoo (zookeeper python) interface for leader election is very simple https://kazoo.readthedocs.io/en/latest/api/recipe/election.html and a more thorough description on how this works in the background using ephemeral zookeeper nodes can be found [here](https://zookeeper.apache.org/doc/current/recipes.html#:~:text=own%20ephemeral%20node.-,Leader%20Election,with%20both%20flags%20

[2021-04-20 09:06] fjetter commented on #4701
I assume #4701 is a first draft for an implementation and https://github.com/dask/distributed/issues/4715 discusses sync between the different jobs

[2021-04-20 09:27] fjetter commented on #4712
I do not really understand, yet, what's going on but I suspect the for loop you are writing is somehow causing confusion with the futures/tasks. Every time you call `result = new_result` this looses the reference to the old future which might trigger some race condition.
Have you tried reading all CSVs with one API call instead of looping over the collection?

https://docs.dask.org/en/latest/dataf

[2021-04-20 11:35] #4634 closed

[2021-04-20 13:05] fjetter opened #4718 "Distributed request tracing"
I frequently find myself in a position where I need to answer questions like: "Who triggered this coroutine? Why was this coroutine triggered?", "Was this triggered by a remote call via a stream handler or due to some internal mechanics? If it was remote, who was it?". Is this the result of a cascade of tasks or was this an isolated request?

Most, if not all of these questions can be answered by

[2021-04-20 13:29] mrocklin commented on #4718
Certainly when we started adding more structured logging, like the
transitions log, debuggability went way up and development became smoother.

Also, my recollection is that cause= in some cases refers to another key.
I could be wrong about this though, or I could be associating this memory
to some other method.

On Tue, Apr 20, 2021 at 8:06 AM Florian Jetter ***@***.***>
wrote:

[2021-04-20 13:56] fjetter commented on #4718
Indeed. That makes things just much worse since it is sometimes used as a task key with actual semantic meaning and sometimes just as added context information.

----

Yes, I think the important bit here is the _structured_ logging part. Structuring this information and storing it somewhere would allow something similar to `story` but for coroutines. I would be thrilled to see this as a library bu

[2021-04-20 15:52] mdering opened #4721 "KeyError: ('ready', 'memory')"
**What happened**:

    ERROR - 2021-04-20 08:43:37,220 - distributed.worker.execute.l2800 - ('ready', 'memory')
    Traceback (most recent call last):
      File "\miniconda3\lib\site-packages\distributed\worker.py", line 2765, in execute
        self.transition(ts, "memory", value=value)
      File "\miniconda3\lib\site-packages\distributed\worker.py", line 1584, in transition
        func = sel

[2021-04-20 16:01] fjetter commented on #4721
Thanks for the report. We've seen issues around this lately. There is a bigger issue open https://github.com/dask/distributed/issues/4413

I believe for this particular instance it indeed looks like an oversight. You don't happen to have a minimal example which reproduces this error, do you?

[2021-04-20 16:03] gforsyth commented on #4721
Looks like I missed out adding it to the `_transitions` table -- thanks for flagging it @mdering

[2021-04-20 17:40] mdering commented on #4721
I'm sorry, I don't. We have a largeish application and we just see this in the logs sometimes, the error message doesn't even tell me which future it is so I can't deduce anything about it from that either. I appreciate the quick responses!

[2021-04-20 20:26] rubenvdg commented on #4724
We’ve seen very similar problems with map_overlap (running on Kubernetes). In the end we prepended and appended data to each partition with our own logic to circumvent it...

[2021-04-20 20:41] GFleishman commented on #4724
Hi @rubenvdg - thanks for the comment. This does happen most often with `map_overlap`, but it also occurs for me with `map_blocks` on very large arrays: (40000, 500, 2048, 1024).... that's (time, z, y, x) for 4D imaging data.

[2021-04-20 20:42] GFleishman commented on #3878
Hi Krishan - You said this no longer occurs when you increase `distributed.comm.timeouts.connect/tcp`? Is that still the case or have you observed this even with very large values for those config settings? I have a similar issue: https://github.com/dask/distributed/issues/4724. I have increased those `comm` values and will experiment with increasing them even more, but your experience here would

[2021-04-20 21:08] rubenvdg commented on #4724
Same here. In our case it also happened on `map_partitions`, although with `map_overlap` the problem seemed to happen more often. Was difficult to reproduce, so was never able to make a good issue for it.

[2021-04-20 21:28] GFleishman commented on #4724
I agree that it's difficult to reproduce. On several occasions I've convinced myself that the problem was solved only to find out on the next big run that it wasn't. I think it must have something to do with worker to worker communication of dependencies and/or task states, which can be disrupted for a number of reasons, and then potentially is not reset properly by the scheduler. That's all specu

[2021-04-21 08:51] peterroelants opened #4732 "Unexpected behaviour of /health endpoint of Dask sheduler and workers"
**What happened**:

Each time when I call the [`/health` HTTP endpoint](https://distributed.dask.org/en/latest/http_services.html#:~:text=/health) on either the Dask scheduler and worker my logs get printed the following line:
[code]

What is more, when looking at the output I see binary output (and not [JSON](https://distributed.dask.org/en/latest/http_services.html#:~:text=JSON%20endpoints)):
[c

[2021-04-21 12:03] rahulsemwaliiita commented on #4712
Thank you @fjetter for providing the suggestion. Now, everything is working fine. I think you were right that due to the assignment operation the old future reference was lost.

[2021-04-21 12:58] #4712 closed

[2021-04-21 14:13] jacobtomlinson commented on #4715
This is what I was trying to do with `Runner` in #4710

[2021-04-21 14:42] mrocklin commented on #4715
I see Runner as a combination between stuff-currently-in-Cluster and things-that-look-like-zookeeper.

I'm curious if we can keep these two abstractions separate, and so maybe more composable.  That may or may not make sense though.  I look forward to discussion

[2021-04-21 16:11] mrocklin commented on #4715
In a conversation with @jacobtomlinson one thing that came up was that the `scheduler_file=` functionality already works like this, and could be another example of such an abstraction.

We could also extend that functionality to have workers select a scheduler if we wanted to extend things to high-availability.  This would probably require using lockfiles (not always present on NFS systems) and te

[2021-04-21 17:22] abergou commented on #4724
@jfetter I think this may be another instance of the issues you're working on.

[2021-04-21 22:52] nuKs commented on #2832
I did checked with htop and resources are respected in my case, even though worker's "Processing" tab displays multiples "ongoing task", only the top one task in the worker task list is actually being processed.

I have Consumed > Total as well. I think it is normal, as consumed tasks amounts for all tasks that have moved through the worker:
- Some may have moved to other worker, so "Consumed" > "

[2021-04-21 23:40] jrbourbeau opened #4730 "Handle `ts=None` in `_task_to_report_msg`"
We've started seeing some tests fail when `ts=None` is passed to `_task_to_report_msg` (e.g. see [this CI build](https://github.com/dask/distributed/pull/4720/checks?check_run_id=2403923283)). Currently if we pass `ts=None` to `_task_to_report_msg` we will attempt to retreive its `._key` attribute:

https://github.com/dask/distributed/blob/f492aa7e7a39270aaf0b58e37ed855c149b68a8f/distributed/sched

[2021-04-22 02:14] jrbourbeau commented on #4732
Thanks for raising an issue @peterroelants. Could you try hitting port `8787` instead? That's what our current test for the health endpoint checks

https://github.com/dask/distributed/blob/611414c0529daba3007a13a2ee7230e1881942b9/distributed/http/scheduler/tests/test_scheduler_http.py#L158-L169

(note I also transferred this issue over to the `dask/distributed` repo)

[2021-04-22 07:56] madsbk commented on #4673
@gjoseph92, FYI I am working on a PR streamlining serialization: https://github.com/dask/distributed/pull/4699

[2021-04-22 08:18] peterroelants commented on #4732
Thanks for the reply and reference to the test.

The health-check on 8787 works. If I understand correctly, the health-check has to go via the dashboard (which is started at 8787)?
I think what confused me was the [documentation](https://distributed.dask.org/en/latest/http_services.html), which (to me at least) seemed to imply that the dashboard, scheduler, and worker each provided their own endpo

[2021-04-22 09:15] fjetter commented on #4732
The servers start one HTTP server, by default on port `8787`. This HTTP server serves the dashboard but also the other routes, like health, metrics, etc.

Note that the `dashboard-address` is different from the `port`. `port` is the server address for internal administration and `dashboard-address` is the one for the HTTP server.

You are right, the dask workers bring their own server and also hav

[2021-04-22 09:20] fjetter commented on #2155
We've seen this popping up occasionally again on OSX

[2021-04-22 09:26] peterroelants commented on #4732
I see that starting the "--dashboard" does not just only start the dashboard, but also provides all other HTTP services (like the `/health` endpoint).

Starting the worker with its own dashboard by running:
[code]
and then using `wget --quiet -O - http://dask-worker:8789/health` worked for me :+1:

Thank you for the help and clarifications. I will close this issue.

[2021-04-22 09:26] #4732 closed

[2021-04-22 13:16] jacobtomlinson commented on #4715
We could also explore having each process work out among themselves who is in charge. Perhaps when processes start they run an RPC server and open comms in order to negotiate who is leader.

It would rely on all processes being able to discover a list of the other processes.

Unless we fully implement some RAFT system this is likely to not scale well, but is a simpler case than having to set up so

[2021-04-22 13:19] fjetter commented on #4715
Please don't XD

[2021-04-22 13:44] mrocklin commented on #4715
Yeah, I agree that I'm jumping ahead a bit here.  Right now I want an agreed-upon abstraction in Dask which allows workers to query a thing and get the address of the scheduler.  I think that that abstraction should be able to grow to support things like figuring out who should be a scheduler as well.  The `scheduler_file=` feature is an example of the first part today and could be an example of t

[2021-04-23 08:01] ArtinSarraf opened #4738 "[Feature] Implicit secede/rejoin for client.gather() executed on a worker"
Before I continue with this suggestion, as I'm unfamiliar with the history/details behind the feature, I'd like to first ask if there's a known good reason not to implicitly secede/rejoin when gathering on a worker. A couple possible reasons I can think of:

1) It's a relatively expensive operation, which you would prefer to avoid when you know you have enough workers to avoid a deadlock
2) You do

[2021-04-23 08:15] fjetter opened #4740 "Flaky test teardown in check_thread_leak"
E.g. https://github.com/fjetter/distributed/runs/2411704392?check_suite_focus=true

[code]

[2021-04-23 08:27] fjetter commented on #4738
We do have a seceding logic in place in case you are performing a `Client.get` instead of a `Client.gather`, see https://github.com/dask/distributed/blob/2e446ae70f3bfc23853c2a61915f5bd0625ce7d0/distributed/client.py#L2659-L2672
I'm not very familiar with the context of this. cc @jrbourbeau

[2021-04-23 09:12] fjetter opened #4742 "Tornado Already reading errors"
We've seen lately a few failing tests with low level tornado assert errors

E.g. in
- https://github.com/dask/distributed/pull/4727
- https://github.com/dask/distributed/pull/4729

CI runs

- https://github.com/dask/distributed/pull/4729/checks?check_run_id=2412174289

[code]

[2021-04-23 12:01] KrishanBhasin commented on #3878
Hey @GFleishman,
Unfortunately our application went through several major changes which solved this problem for us as a side effect, so I'm unable to provide any useful advice to you; I think we ended up reverting back to defaults after a while as the problem stopped cropping up.
Apologies I can't be more helpful!

[2021-04-23 13:59] ncclementi commented on #4237
Just a heads up, I'll be working on this one.

[2021-04-23 17:45] mrocklin opened #4744 "Visualize TaskGroups"
We should find other representations to replace the Task stream.  See https://github.com/dask/distributed/issues/4260

One view of that data is aggregated within the TaskGroups.  A TaskGroup collects many related tasks together.  For example one `dd.read_csv` call may generate 10,000 tasks, but will generate only one task group.  These correpond to high level layers on the client side, or Spark la

[2021-04-23 18:03] jrbourbeau opened #4745 "Add `Client.register_scheduler_plugin`"
Today scheduler plugins are added to a cluster by calling the `Scheduler.add_plugin` method. I often see plugins added at scheduler startup through a preload script.

However, it's also useful to be able to add a scheduler plugin to an existing, already running scheduler. In these cases one often doesn't have direct access to the `Scheduler` instance and ends up calling `client.run_on_scheduler` t

[2021-04-23 18:04] jrbourbeau commented on #4745
Additionally, we're in the process of adding a `client.unregister_worker_plugin` method (xref https://github.com/dask/distributed/issues/4237). So we could also add a corresponding `client.unregister_scheduler_plugin` method as well.

[2021-04-23 18:17] jrbourbeau opened #4746 "Add an info tooltip to dashboard plots"
We expose many diagnostic dashboard plots to users. This is great as it provides a detailed, real-time look into a cluster's state.

However, it may not be immediately clear to users (especially new users) what information is actually being displayed in each plot. For example, users may not know that the central circle in the "cluster map" plot (a.k.a the "pew-pew plot") represents  the scheduler

[2021-04-24 04:57] chrisroat opened #4749 "Scheduler /system endpoint failure"
**What happened**:

Scheduler sends a 500 for "System" endpoint, and sends the following traceback.   (Note the scheduler itself still seems to be alive and well)

<details>

<summary>traceback</summary>

[code]

</details>

**What you expected to happen**:

View the metrics for the scheduler.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

[2021-04-26 02:26] maurosilber opened #4750 "Different behaviour in distributed vs single-machine scheduler: missing task"
I'm adding extra tasks on the optimizing step to save some task results to disk. The extra tasks are run on the dask single-machine scheduler, while they are not run on the distributed scheduler. It might not be a bug, but the intended behavior. In that case, how should have I done it?

Thanks!

**Minimal Complete Verifiable Example**:

**Example 1:**

[code]

Running example 1 prints:
[code]

**E

[2021-04-26 11:45] jacobtomlinson opened #4751 "Large tracebacks when starting `LocalCluster` directly in script"
**What happened**:

I noticed if you try to create a `LocalCluster` object outside of a `if __name__ == "__main__":` you get some pretty hard to debug exceptions.

**What you expected to happen**:

I'm not sure, naively I expected things to just work really.

**Minimal Complete Verifiable Example**:

[code]

[code]

[code]

<details>
<summary>Full Traceback</summary>

[code]

</details>

Things wo

[2021-04-26 12:03] fjetter commented on #4750
Looks like the optimizer function is not properly selected. I would try to very if the config was properly updated. You can also try calling `dask.optimize` yourself to troubleshoot the issue.

Note that the graph manipulation you are adding is actually not processing the output of any previous task but is rather an unconnected edge in your graph. Some of the default optimizers would cut this simp

[2021-04-26 12:06] jacobtomlinson commented on #4658
Only having one port available is a pretty extreme constraint. I worry about major refactoring or decoupling work to satisfy a niche requirement (only Coiled?).

Perhaps deploying a popular proxy (nginx, traefik, etc) in front of your scheduler to aggregate the websocket comm and dashboard onto a single port would satisfy your use case?

[2021-04-26 13:19] maurosilber commented on #4750
Thanks for the fast reply!

There is an optimizing step running locally, as the `print("Optimizing graph")` runs in both cases. But, are there additional optimizing steps, such as culling, *after* sending the graph to a scheduler?

I did forget to build a minimum example that reflects my use case. What I'm trying to do is more or less the following.

With this starting graph, computed as `delayed(

[2021-04-26 13:58] mdering opened #4752 "workers not always restarting after lifetime"
**What happened**:
Occasionally, workers do not restart after their lifetime lapses

**What you expected to happen**:
workers should always restart after their lifetime lapses

**Minimal Complete Verifiable Example**:
I don't have one, but we are seeing it in production

**Anything else we need to know?**:
We'd encountered some issues like this with worker restarts coming too close together, but i

[2021-04-26 14:04] charlesbluca commented on #4746
This sounds like a good idea! I think Bokeh's [`HelpTool`](https://docs.bokeh.org/en/latest/docs/reference/models/tools.html#bokeh.models.tools.HelpTool) should be good for this. One thing to consider is that this tool redirects to a URL on click; there are a couple options for handling that:

- Have the tool redirect to some general documentation on the dashboard
- Have the tool redirect to a spe

[2021-04-26 14:39] jrbourbeau commented on #4751
Thanks @jacobtomlinson! This comes from how Python starts a new process in module code. I'm not sure there's anything we can do about this other than to raise a more informative error.

I'm going to close this issue as a duplicate of https://github.com/dask/distributed/issues/2520 / https://github.com/dask/distributed/issues/2708. Though based on the number of 👍 in https://github.com/dask/distribu

[2021-04-26 14:39] #4751 closed

[2021-04-26 14:52] jrbourbeau commented on #4749
Thanks for reporting @chrisroat! I tried to trigger the `IndexError` locally with the example you provided but wasn't able to after a few attempts. Do you see this error consistently or sporadically? Also, I know you've been experimenting with various log length, etc. parameters to reduce the scheduler's memory usage recently -- are there any non-default configuration values you're using when you

[2021-04-26 15:16] jacobtomlinson commented on #4751
Ah thanks @jrbourbeau.

It would be good to get a better error because I had a search before raising that issue but didn't find those issues.

[2021-04-26 17:42] gjoseph92 opened #4754 "[Discussion] Streaming results to Client as they become available"
Sometimes, the wait between “all tasks are done on the dashboard” and “.compute() returns” can be long (minutes) when computing large arrays (~60GiB), even with a local cluster. (Yes, I’m definitely oversubscribing my laptop in that case, but I’ve still generally found this type of latency noticeable in less-extreme situations.)

What is the historical reasoning for running `__dask_postcompute__`

[2021-04-26 17:52] mrocklin commented on #4754
There are a couple of reasons to leave it the way it is:

1.  Resilience on the workers is already a solved problem.  Bringing the client into this picture might complicate things.
2. The workers and client may have different environments.

Those aren't necessarily critical though.  It's an option worth talking about.  I will say that it doesn't seem as critical to me as some other changes do.

[2021-04-26 19:12] gjoseph92 commented on #4754
I agree that it's not the most important thing to focus on. I think it would mainly benefit:
1. Latency-sensitive applications (which, I would guess, are not the most common use case for dask)
2. Interesting architectures that could benefit from streaming chunks of results into another system (also an uncommon use case)
3. UX, as a small perceptual improvement that might make distributed feel snap

[2021-04-26 19:13] ncclementi commented on #4716
I'll be working on this one. Just a heads up.

[2021-04-26 19:37] jrbourbeau commented on #4716
Great, thanks @ncclementi!

[2021-04-26 22:23] jakirkham commented on #4730
That's interesting as [CI notes `report_on_key` is called first]( https://github.com/dask/distributed/pull/4720/checks?check_run_id=2403923283#step:11:2252 ) (this is the function calling `_task_to_report_msg`). Within `report_on_key`, the following logic should ensure either `ts is not None` or an `AssertionError` is raised

https://github.com/dask/distributed/blob/a2308319d3030da311d41813b6921b7

[2021-04-26 22:24] chrisroat commented on #4749
It was triggered every time, and I didn't have anything set.  It seemed important, but maybe I jumped the gun in reporting.  I started my environment fresh, and things seem to be OK.  Apologies for the extra work.

[2021-04-26 22:24] #4749 closed

[2021-04-26 22:32] jakirkham commented on #4730
Or are we saying we now have a `key` for which there is no longer an associated `ts` in `_tasks`? If so, that is likely a deeper issue

[2021-04-26 22:34] jrbourbeau commented on #4749
No worries! Let us know if it pops up again

[2021-04-26 22:55] jakirkham commented on #4730
NVM think I found the issue. Submitted PR ( https://github.com/dask/distributed/pull/4755 )

[2021-04-26 23:49] ndanielsen opened #4756 "Static Performance Report: Allow stacklevel optional argument for gathering source code"
Allow the user to specific which level of the call stack is used for capturing source code in the static report generated by `dask.distributed.performance_report`. In some cases, the method might be wrapped by another function so allowing users to ability to select which level to include in the report might be helpful to them.

[code]

I am happy to pick this up as I'm working on related functiona

[2021-04-27 01:35] jrbourbeau opened #4757 "Error transitioning worker task from `waiting` to `fetch`"
Similar to https://github.com/dask/distributed/issues/4721, I had some folks report offline that they were encountering an error due to an unsupported task state transition on their workers (traceback shown below)

[code]

which was observed using `dask` and `distributed` 2021.04.0

cc @fjetter @gforsyth

[2021-04-27 11:42] fjetter commented on #4757
FYI That's a work stealing transition

We could patch this but I'm not very eager of introducing more and more transitions right now without a solid concept to avoid this kinds of problems.

[2021-04-27 13:26] gforsyth commented on #4757
I think while patching #4721 was more of a "well, that shouldn't happen but we can work around it for now" this seems like more of an oversight (by me).  `waiting` -> `fetch` is definitely a valid transition (and we have handling for the inverse)

[2021-04-27 15:29] jacobtomlinson commented on #4668
Generally the dashboards give us two things:

- **Reassurance that things are happening.** For this aesthetics can win over practicality. For example the task stream is my favourite plot, but the information could be displayed in a more boring but useful way. For example [this plot](https://github.com/dask/distributed/issues/4260#issuecomment-738183697) may be a better replacement, but is less vis

[2021-04-27 16:22] charlesbluca commented on #4746
Opened up a draft of this #4759; if you get the chance, could you chime in on some of the missing descriptions there? I'm not fully familiar with all the dashboard plots myself 🙂

[2021-04-27 21:08] ncclementi commented on #4716
I'm trying to find a good logic to either strip the part we don't want to show or to keep what we want. But can't seem to be able to generalize.
In `profile.py` the place where we are getting the `filename` that we want to strip out is in the function [`info_frame(frame)`](https://github.com/dask/distributed/blob/8dfaca632403b14bf73350780201394d1dd0e5ba/distributed/profile.py#L65)  where we do `"f

[2021-04-28 00:32] jakirkham opened #4760 "Dashboard not loading with Cythonized Scheduler"
This appears to have started recently. Possibly related to PR ( https://github.com/dask/distributed/pull/4651 ) ( cc @crusaderky )? In particular loading the dashboard shows a 500 error. Locally the following exception comes up when the Scheduler is Cythonized. The issue does not occur when pure Python is used.

cc @quasiben

**What happened**:

<img width="1792" alt="Screen Shot 2021-04-27 at 5 2

[2021-04-28 01:01] jrbourbeau commented on #4760
Thanks for surfacing this @jakirkham! I tried to reproduce locally but was able to see the dashboard as usual (no errors were logged). I first checked out the latest `distributed` commit locally (b577ece3f4bf5626d5ab6040065d8ff4d3880feb) and then, to cythonize the scheduler,  followed [these instructions](https://github.com/dask/distributed/issues/4442#issuecomment-763074600). Is that all I need t

[2021-04-28 01:06] jakirkham commented on #4760
My guess is it is not using the Cythonized Scheduler then. Don't know offhand why. Maybe there is still some lingering bits from the pure Python Scheduler? Maybe a fresh environment needs to be used?

Ben ran into this when we were doing some other work earlier. Have since reproduced this myself locally as well

[2021-04-28 01:11] jrbourbeau commented on #391
FWIW today there's a special [`distributed.Reschedule` exception](https://distributed.dask.org/en/latest/api.html#distributed.Reschedule) which tasks can `raise` to automatically be stopped and rescheduled. This doesn't guarantee that it will ultimately be run a different worker, but might still be useful for folks who are tracking this issue.

[2021-04-28 01:19] jakirkham commented on #4760
Dug into this a bit locally. The changes in PR ( https://github.com/dask/distributed/pull/4761 ) fix this issue for me. Just to test things a bit further I created an array and computed its sum to make sure something a bit more dynamic worked as well. Switching between tabs seems to work as well

[2021-04-28 01:25] jakirkham commented on #4760
As a sanity check to ensure the Cythonized Scheduler is used, it might be worth trying the following

[code]

<br>

Note that the filename for the scheduler contains `.so` instead of `.py`

[2021-04-28 01:34] jrbourbeau commented on #4760
Alright, I tried in a fresh env and was able to reproduce the 500 error

[2021-04-28 01:46] ArtinSarraf commented on #4738
@jrbourbeau - thoughts on this? The above snippet that @fjetter provided, suggests to me the usefulness of providing the ability to implicitly gather. If you wanted to write a function that could be run both locally or nested through another worker, it would be tedious to have to write the boilerplate to check if you can/should secede/rejoin.

[2021-04-28 09:21] fjetter opened #4762 "Contextual and/or structured logging"
Logging is often a crucial instrument for debugging and we are using different ways to do so.

1. Python stdlib `logging` for human readable messages without contextual information
2. Implementation specific log calls which store logs in a `deque` with _some_ context information, e.g.
* `Scheduler.log_event`/`Scheduler.events` Logs external stimuli from workers and clients as an event in a diction

[2021-04-28 14:20] #4740 closed

[2021-04-28 14:50] crusaderky commented on #4760
test_scheduler.py contains extensive unit tests for the MemoryState class. Why don't they trip in CI?

[2021-04-28 16:37] jakirkham commented on #4760
Because CI doesn’t test the Cythonized Scheduler correctly

[2021-04-28 19:42] jrbourbeau commented on #4757
Yeah, I with both of you. We should continue to develop higher-level solutions for [improving worker state transitions](https://github.com/dask/distributed/issues/4413), which I believe Florian is working on now, and also add a `waiting` -> `fetch` transition in the meantime.

[2021-04-29 01:30] jrbourbeau opened #4766 "Flaky `test_workspace_concurrency_intense`"
For example, see [this CI build](https://github.com/dask/distributed/pull/4763/checks?check_run_id=2459092140)

<details>
<summary>Full traceback:</summary>

[code]

</details>

[2021-04-29 13:53] sharkinsspatial opened #4769 "Issue with external address in SpecCluster"
**What happened**:
As part of a Prefect integration we are using dask_cloudprovider to create a temporary Dask cluster within an existing ECS Fargate cluster as outlined here https://docs.prefect.io/orchestration/flow_config/executors.html#using-a-temporary-cluster.  After reading through the address setting section here https://github.com/dask/dask-cloudprovider/blob/main/dask_cloudprovider/aws/e

[2021-04-29 13:54] jacobtomlinson commented on #4769
Thanks for raising this @sharkinsspatial.

Moving this to distributed as this seems to be an issue with `Client` showing the cluster's internal address, not the external address.

https://github.com/dask/distributed/blob/56aed4489288fc95f36e9fe11f29a452c39de4ac/distributed/deploy/spec.py#L62

[2021-04-29 13:56] jacobtomlinson commented on #4769
@sharkinsspatial could you also share the code where you create your `Client` object? I'm curious to see what info, if anything, you pass to it.

[2021-04-29 14:30] mrocklin commented on #4756
I'm slightly conflicted work-wise, but this seems fine to me.  I think that the use of the `stacklevel=` keyword name is nice because it matches existing Python API with `warnings.warn`

[2021-04-29 14:43] jrbourbeau commented on #4756
This seems reasonable to me, but I have a similar conflict. @quasiben would this be useful for any of the RAPIDS folks? You and your group seem to produce a lot of `performance_report`s

[2021-04-29 15:10] sharkinsspatial commented on #4769
@jacobtomlinson The `Client` creation is managed by Prefect's `DaskExecutor` [here](https://github.com/PrefectHQ/prefect/blob/0.14.13/src/prefect/executors/dask.py#L213).  I'm not currently passing any additional `client_kwargs`.  We are currently using Prefect `0.14.13` but on l noticed they have since updated logging prior to initialization with this [pr](https://github.com/PrefectHQ/prefect/com

[2021-04-29 16:19] crusaderky opened #4770 "scattering a large list of objects causes overspilling"
distributed git tip as of today (56aed4489288fc95f36e9fe11f29a452c39de4ac), Linux x64

# Use case
I perform a single call to ``distributed.Client.scatter`` and pass to it a list of objects that is larger than what the cluster can accommodate.

# Issue
The whole list is spilled to disk instead of just the excess elements.

# Workaround
Break down the list into chunks and perform a burst of calls to

[2021-04-29 16:25] jacobtomlinson commented on #4769
Thanks @sharkinsspatial that's really helpful. It looks like everything is working as expected. Fargate is being launched with private networking and we are not setting an external address. I guess this is because Prefect is also within AWS, so the dashboard is correct from Prefect's perspective.

I'm going to move this back to cloudprovider so we can continue debugging there.

[2021-04-29 18:06] jakirkham commented on #4760
Fixed with PR ( https://github.com/dask/distributed/pull/4761 ). Also CI is now covering Cythonization correctly ( https://github.com/dask/distributed/pull/4764 ). Closing this out

[2021-04-29 18:06] #4760 closed

[2021-04-29 18:09] jakirkham commented on #4442
@jrbourbeau and I made some improvement to testing in PR ( https://github.com/dask/distributed/pull/4764 ). We did observe a few test failures (and are now skipped when the Scheduler is Cythonized). These are being tracked in PR ( https://github.com/dask/distributed/pull/4767 ). Some of these issues may involve working with Cython to address

[2021-04-29 20:47] maawoo opened #4773 "performance report - Number of tasks limited to 100k ?"
**What happened**:
On the first page of the performance report it lists the `number of tasks`.
I've run two separate computations recently and used the report (which is great btw, thanks!) but both times it listed exactly 100000 tasks instead of ~174000 tasks. Is it capped for some reason or really a bug? Couldn't find anything else about this via a quick check of existing issues.

**Environment**

[2021-04-29 21:18] jrbourbeau commented on #4773
Thanks for raising an issue @maawoo, glad to hear you're finding performance reports useful! You're indeed correct that the total number of tasks is capped at 100k. I think this is to limit the total amount of memory taken up on the scheduler by the data that goes into the task stream. (otherwise it would grow indefinitely).

There is a `distributed.scheduler.dashboard.tasks.task-stream-length` co

[2021-04-29 22:05] crusaderky commented on #4770
Even if you don't reach the spill threshold, if you scatter a list of futures all to the same worker and then you free *all but one*, the process memory of the worker won't be released at all once the total size passes a certain threshold (~1 GiB on my machine).

[2021-04-30 02:00] gjoseph92 commented on #4424
I'm curious about the ripple effects this could be having on performance. See https://github.com/ocean-transport/coiled_collaboration/issues/9, where the same workload is running with and without `dask.config.set({"distributed.worker.memory.spill": None})`, doing much better with spilling turned off. Copying the links for convenience:

* [Spilling on](https://gistcdn.githack.com/jbusecke/c1ac1d74d

[2021-04-30 03:10] #4237 closed

[2021-04-30 06:00] jakirkham commented on #4756
Conflicted meaning it is useful for other work projects or something else?

Anyways I don't see any issue with this. People frequently are interested in recommendations on how to profile in a distributed setting. Continuing to improve our tooling on this front makes sense to me

[2021-04-30 07:03] maawoo commented on #4773
Thanks for your quick reply!
That makes sense but good to have the option to configure it manually 👍🏻

[2021-04-30 07:03] #4773 closed

[2021-04-30 09:08] fjetter commented on #4424
@gjoseph92
You might want to look into the crick statistics for `get-data-load-duration`, see https://github.com/dask/distributed/blob/233ec8840671b5d705a06d0dcfe1ff42b771230b/distributed/worker.py#L1366-L1380
That's the time spent loading the data before the sender submits it. That's 100% disk IO.

Similarly, there is the `get-data-send-duration` https://github.com/dask/distributed/blob/233ec8840

[2021-04-30 10:09] fjetter commented on #4424
I've thought about the suggest of @gjoseph92 w.r.t a streaming like interface and I believe this aligns pretty well with the target of avoiding data duplication. I tried to put my idea about how this interface could look like into some code and would be glad to receive feedback. To be entirely honest, this proposal would not allow for direct from-disk-streaming but I think this could be easily add

[2021-04-30 12:43] fjetter commented on #4762
I was made aware of https://eliot.readthedocs.io/en/stable/introduction.html and https://github.com/Delgan/loguru. Happy to hear about more libs and/or get feedback of the already mentioned.

[2021-04-30 13:48] jrbourbeau commented on #2780
Closed via https://github.com/dask/distributed/pull/2851

[2021-04-30 13:48] #2780 closed

[2021-04-30 13:57] jrbourbeau commented on #4424
cc'ing @madsbk who has worked on spilling over in `dask-cuda` and has experience with [using data proxy objects](https://github.com/dask/distributed/issues/4568) (though to be clear, I've not yet looked deeply into how @madsbk and @fjetter proposals overlap)

[2021-04-30 14:52] mrocklin commented on #4756
Conflicted meaning that both James and I work for Coiled, and this is necessary for internal Coiled work.  This seems pretty innocuous, but we'd feel more comfortable giving the green light if some non-Coiled person signed off on it.  I think that @jakirkham 's comment does that.  Thanks!

[2021-04-30 15:20] mjspeck commented on #2801
I get the same messages, and I don't think it could be the fault of my code, as it happens when just using `.unique()` on a `dask.dataframe.core.Series` object. All of a sudden I'm continually bombarded with this message, and over time the CPU time percentage slowly trickles up.

`my_df["ip_address"].unique().compute()`

gives this output:

[code]

The task doesn't seem difficult, as it completes

[2021-04-30 16:08] jrbourbeau commented on #4756
Woo! @ndanielsen a PR adding `stacklevel=` would be very welcome

[2021-04-30 16:15] jrbourbeau commented on #4744
I think https://gist.github.com/mrocklin/2f37440e52420b0b2899f72c6f61b802 is the notebook you're referring to, but @mrocklin feel free to correct me if there's a different notebook

[2021-04-30 16:21] jrbourbeau commented on #4744
Sounds good, thanks @ncclementi! Also cc'ing @ian-r-rose

[2021-04-30 21:42] #4730 closed

[2021-05-02 12:32] orttak commented on #2720
@TomAugspurger  I use dask with rioxarray in Jupyter and test something and Dask works fine but after test another functions, I back my same Dask code block in jupyter and dask throw different error from same code block that I share in below.
After small search, below code automatically closed client and and cluster, Is it right?
In my pipeline, I just change layer (from_stac_2rgb) and then run th

[2021-05-03 12:58] madsbk commented on #4424
@gjoseph92 I think you are right in your observations. I made some similar ones, which turned in to the JIT-unspilling approach for GPU -> CPU memory spilling: https://github.com/rapidsai/dask-cuda/pull/451. Notice, this approach delegates the de-serialization to the worker-thread executing the task. Also it handles the de-serializing & re-serializing issue in `get_data()`.
I have summarized the s

[2021-05-03 13:14] madsbk commented on #4424
I think there is a significant overlap. If I am not mistaken, the interface @fjetter propose is very similar to the [`ProxifyHostFile`](https://github.com/rapidsai/dask-cuda/blob/branch-0.20/dask_cuda/proxify_host_file.py#L123) in Dask-CUDA. The main difference being that Dask-CUDA _leaks_ the proxy objects into the executing task. However, there is no reason why we couldn't _un-proxify_ the input

[2021-05-03 14:36] quasiben commented on #4756
Sorry to be late here.  This seems like a solid improvement for everyone +1

[2021-05-03 15:27] fjetter commented on #4424
I think there are some common ideas in the two proposals but the way they are executed are very different. The common ideas are
* Do not store actual data as part of the mapping value but rather a reference
*

[2021-05-03 15:55] fjetter commented on #4424
There are at least similar ideas. The execution is quite different but it is also not a fair comparison since my code is not actually working :)

Considering that the goal of this issue is to allow for async data access, this would require us to change the interface for the worker anyhow and I would consider un-proxification a hard requirement for this feature since generic user functions should n

[2021-05-03 16:12] mrocklin commented on #4424
I will put forward three options here for asyncio interfaces.  I'm not recommending these interfaces in particular; instead my objective is to highlight a choice we have.

## AsyncMutableMapping

We could make an async extension of the MutableMapping Interface with `async def getitem` and `async def setitem` methods.   This would be a relatively small change, but would stop the stalling that we cu

[2021-05-03 16:15] mrocklin commented on #4424
Hrm, or perhaps that's too simple.  I now realize that the `DeviceHostDisk` abstraction isn't just a stack of storage layers where one overflows to the other, but that there is some more complex logic about what to put where.

[2021-05-03 17:11] gjoseph92 commented on #4424
As another option (or an extension of the Storage Layer abstraction), could we define an interface for storage layers to give us enough information to make such smarter scheduling decisions? What are the questions this would need to answer? It sounds like we want to know "which keys are fast to load". Maybe also "how much memory will this key take if I load it", "give me the ranking of (these keys

[2021-05-03 22:01] nickvazz opened #4778 "Bokeh dashboard not viewable at all"
**What happened**:
Using a docker image for dask, was unable to load the dashboard
![image](https://user-images.githubusercontent.com/8573886/116937956-df488400-ac1e-11eb-8999-4d01db176845.png)

**What you expected to happen**:
To load the bokeh dashboard from the docker container

**Minimal Complete Verifiable Example**:
[code]

## Looks like it comes from here: https://github.com/dask/distribute

[2021-05-03 22:07] mrocklin opened #4781 "Include scheduler logs in performance_report"
We might want to add a new tab in the performance report that includes the logs from the scheduler

[2021-05-03 22:26] jrbourbeau commented on #4778
Thanks for raising an issue @nickvazz. Can you confirm you're using the same version of `distributed` everywhere (meaning on the scheduler / workers / client)? If so, what version of `distributed` is it?

[2021-05-03 22:38] nickvazz commented on #4778
I was running only the scheduler when running into this issue. I hadn't deployed to workers/clients quite yet.

The versions _should_ follow whatever is in the docker release it feels like

[code]

[2021-05-03 22:54] ndanielsen commented on #4756
@jrbourbeau I just put a PR up for this. Thanks for the go ahead 🏎️

[2021-05-04 08:58] jacobtomlinson opened #4782 "Run dashboard on multiple ports"
In some constrained environments (like one I am currently working with) it may be desirable to run the scheduler dashboard on multiple ports.

The use case I have is that ports on the cluster can only be exposed internally or externally, and it is desirable for the user to connect to the dashboard either way. So the only option is to run the dashboard on two ports and expose one internally and one

[2021-05-04 11:01] mdwint opened #4783 "Uncaught OSError in scheduler restart"
**What happened**:

During a restart of the workers (by calling `client.restart()`), I've encountered the following error in the scheduler:

[code]

This occurred on a cluster running in AWS with adaptive scaling enabled. It's possible that a worker really disappeared during the restart, causing the connection error.

**What you expected to happen**:

Judging by the traceback and scheduler code, I

[2021-05-04 13:59] quasiben commented on #4762
Configuring the logging is also challenging.  And while our docs demonstrate how to log to disk, it's a little buried:
https://docs.dask.org/en/latest/debugging.html#logs and not obvious what to change

xref: https://github.com/dask/distributed/issues/3669

[2021-05-04 14:20] mrocklin commented on #4762
cc @itamarst

[2021-05-04 14:23] mrocklin commented on #4782
That seems fine to me.  I think that we should also support a list of
ints.  There is precedent here with other keywords like protocol to have
Dask comms listen on multiple protocols.

I hope that we can just call some listen method a few times on the same
HTTP Server

On Tue, May 4, 2021 at 3:59 AM Jacob Tomlinson ***@***.***>
wrote:

[2021-05-04 14:26] quasiben commented on #4778
Hmm, I used your docker-compose setup and was able to load the dashboard at `localhost:8787`.  Here's the output from  `docker-compose up`

[code]

And after exec-ing into the container was able to load the function you tried

[code]

[2021-05-04 15:56] jrbourbeau commented on #4778
`individual_systemmonitor_doc` was removed in the `distributed=2021.4.1` release. @nickvazz could you confirm whether the version of `distributed` you're using in the Python REPL is `2021.3.0` or something else?

[2021-05-04 16:17] jacobtomlinson commented on #4782
HTTP Server

That's the plan.

It just seems like the `clean_dashboard_address` takes a variety of input forms, and we will need to continue supporting those and also support a list of ints, a list of strings like `['localhost:8787', 'localhost:8887']` and also something that can be passed via the CLI like `--dashboard-address ":8787,:8887"`.

[2021-05-04 16:59] mrocklin commented on #4782
There is always dask-spec.  FWIW we've switched to using this in Coiled and
it's been great.  I think that other dask-foo deployment projects may want
to move over at some point as well.

On Tue, May 4, 2021 at 11:18 AM Jacob Tomlinson ***@***.***>
wrote:

[2021-05-04 17:36] mrocklin commented on #4424
Perhaps it would make sense to just start with adding async methods to the MutableMappings in zict so that we can avoid blocking the event loop.  This is probably an easy(ish) change and would relieve short term pressure.

[2021-05-04 17:37] mrocklin commented on #4424
It would also avoid us having to come to some grand design here

[2021-05-04 17:45] nickvazz commented on #4778
Looks like I needed to clear some caches or something (everything works as it should), thank you for the quick help!

[2021-05-04 17:45] #4778 closed

[2021-05-04 19:10] #4756 closed

[2021-05-04 19:28] quasiben commented on #4744
Visualizing some kind of timeseries of task groups would be really cool!  I wanted to note that last year we added a visualization for aggregate timing information using TaskPrefixes and aggregate action information.

xref: https://github.com/dask/distributed/pull/3792

[2021-05-04 21:55] mrocklin commented on #4744
@ian-r-rose you may also find this interesting.  I think that you
and @ncclementi might be a good pairing here.  (James' idea, I just wanted
to make sure that this got out there)

On Tue, May 4, 2021 at 2:28 PM Benjamin Zaitlen ***@***.***>
wrote:

[2021-05-05 08:57] jacobtomlinson commented on #4782
Yeah we've used it in Dask Cloudprovider and I'm planning on swapping other things over in the future. But we should probably still support the CLI.

[2021-05-05 09:13] fjetter commented on #4750
Is it possible for you to construct a minimal example? Input graph + optimizer function for your use case? I personally would probably still try to solve this problem without resorting to the optimizer but the optimization itself sounds still simple enough that it should work. Definitively, it shouldn't change depending on the execution backend.

I think not but I'm not 100% sure for high level gr

[2021-05-05 10:04] #4738 closed

[2021-05-05 14:52] riedel commented on #4080
Is there a way to identify a deadlock situations that is related to network timeouts? Is this a typical log for such a situation. Our computation suddenly halts and it does not seem to move forward or backwards. Is there a way to recover from such situations, e.g. by killing a worker?

Is this such a situation. Or does this look normal:
[code]
and many more of this...

None of the workers seem to

[2021-05-05 16:19] jakirkham commented on #4080
That sounds like something different. @riedel could you please raise a new issue with a minimal reproducer?

[2021-05-05 16:32] ian-r-rose commented on #4744
Yep, we are meeting on this today to plan our a line of action

[2021-05-05 16:56] fjetter commented on #4080
@riedel  there is a stale issue https://github.com/dask/distributed/issues/4133 and some more recent ones about the general issue https://github.com/dask/distributed/issues/4413 and maybe https://github.com/dask/distributed/issues/4439

[2021-05-06 01:14] maurosilber commented on #4750
Sure! It's a minimal example using a dict as storage.

[code]

It prints `"Running func"` only once, and the second time its replaced by the stored result.

I'm developing a package which uses this idea to store (some) results to disk: https://github.com/maurosilber/pipeline

[2021-05-06 07:21] madsbk commented on #4750
Yes if possible, optimizations such as culling and blockwise fusion will be done by the scheduler. Currently, this might not happen if low-level fusion is enabled but we are working on moving most, if not all, optimizations to the scheduler.

I don't think plugging into the optimizers are an optimal choice here. Maybe introduce a function that parse `x.__dask_graph__()` and inject load/save instru

[2021-05-06 13:54] jacobtomlinson opened #4788 "Server node tried to pass kwargs to object"
While debugging an issue in dask-cloudprovider I noticed that `distributed.core.Server` tries to pass any remaining kwargs to `object` which doesn't take any kwargs.

https://github.com/dask/distributed/blob/7bfd1ae202bb973aea36da0e0d41a7377d2a47ab/distributed/core.py#L241

This came about from `dask-spec` being given kwargs which do not exist in `distributed.Worker`.

[2021-05-06 14:44] jrbourbeau commented on #4788
Thanks for reporting @jacobtomlinson! Closing as a duplicate of https://github.com/dask/distributed/issues/4640

[2021-05-06 14:44] #4788 closed

[2021-05-06 15:36] pentschev opened #4790 "Timeout in `test_thread_time`"
There was a [timeout in CI when running `test_thread_time`](https://github.com/dask/distributed/pull/4787/checks?check_run_id=2518984863):

[code]

Perhaps the timeout is a bit too tight, should we maybe consider increasing it to `0.3`?

[2021-05-06 16:01] mdering commented on #4721
Hi everyone, I was able to reproduce this finally. Our experience with dask had lead us to notice that some of the workers would jam up inexplicably, and this would prevent our application from proceeding. These workers would be given tasks, but the tasks would never start nor be completed. This lead me to use a method based on calling `reschedule` on the scheduler, if a key took too long to progr

[2021-05-06 16:11] quasiben commented on #4790
Test test_num_fds also (failed](https://github.com/dask/distributed/pull/4787/checks?check_run_id=2518984824#step:10:2136) because of a timeout

[code]

[2021-05-06 16:15] quasiben commented on #4790
Also seeing a timeout issue on [test_AllProgress_lost_key](https://github.com/dask/distributed/pull/4786/checks?check_run_id=2508907268#step:10:2153) seen on https://github.com/dask/distributed/pull/4786

[2021-05-07 08:58] fjetter opened #4792 "Incompatibility between allow_other_workers and resources"
When using a multitude of annotations to specify where the task shall end up, this creates certain incompatibilities, in particular with `resources`. The following test causes a `KeyError` since the task is transitioned prematurely to a waiting state.

(What I actually wanted to do in this test is "Never execute on B" which is why I chose this construction but that is not the point here)

I believ

[2021-05-07 09:35] jacobtomlinson commented on #4790
`test_AllProgress_lost_key` also spotted in #4785

[2021-05-07 12:26] mdering commented on #4721
hi @fjetter i just wanted to make sure you saw this

[2021-05-07 12:53] mdering commented on #4721
maybe try upping the number of cycles, and size of A, and decreasing the sleep time before the reschedule?

[code]

[2021-05-07 16:03] itamarst commented on #2602
This seems like a good place to bring up a new option that I haven't seen discussed: Linux memory pressure statistics (https://www.kernel.org/doc/html/latest/accounting/psi.html). This is a fairly new metric, and it allows a fundamentally different approach to memory pressure.

Basically, it tells you "this is how much time you've spent waiting for the memory subsystem". So as memory resources get

[2021-05-07 22:14] ian-r-rose commented on #4058
Sorry, I missed this the first time around -- it should be fairly straightforward to do this. We would just have to inline the CSS variables in the IPython reprs (with fallback values so it will be rendered correctly in non-JupyterLab environments)

[2021-05-08 09:28] rainwoodman commented on #4565
Thanks for looking into it.

I actually have had difficulty reproducing this on my local machine. It used to occur randomly on our github workflow, but has become a persistent error recently:

https://pipelines.actions.githubusercontent.com/4WG3RDC5LrvSQSfVuzaeJ6lLFmXDn3iE4xIDQGf4ZMGoiw0ciN/_apis/pipelines/1/runs/206/signedlogcontent/3?urlExpires=2021-05-08T09%3A25%3A08.0077385Z&urlSigningMethod=H

[2021-05-09 07:51] rgoggins commented on #2520
This works for me, I am curious though, why does this fix the issue?

[2021-05-09 15:41] djhoese commented on #2520
@rgoggins This has to do with how the additional/child processes are created. Python has to "import" your script(s) in every child process. If you don't put initialization code (code that should only be run once) into the `if __name__ == "__main__":` block then it gets run for every child process (at "import" time). This can end up with an infinite recursion as each process creates child processes

[2021-05-09 16:44] maurosilber commented on #4750
Do you mean something like:

[code]

I wanted it to be hidden from the user, as it could be misused as follows:

[code]

[2021-05-09 17:31] m-albert opened #4798 "Dashboard complaining about old bokeh version"
Hi, on my system the `dask` dashboard is not accessible. Thanks a lot for any hints!

**What happened**:

Browser displays (despite bokeh version 2.3.1 being installed):

Install with conda: conda install bokeh>=0.13.0
Install with pip: pip install bokeh>=0.13.0

This is with a fresh conda environment with only `bokeh` and `distributed` installed using pip.

**What you expected to happen**:

The d

[2021-05-10 08:58] fjetter commented on #4798
Can you execute `import distributed.dashboard.scheduler` in a fresh python interpreter and tell us what you see? The "missing bokeh" message is coupled to this import and I suspect something else is going on.
I couldn't reproduce with neither conda not pip environment.

If that doesn't help to resolve the issue, can you please provide a full `pip freeze`? Also, do you have an intel or M1 mac book

[2021-05-10 10:02] fjetter commented on #4565
I could reproduce and probably fix the issue in #4799. It is an application I would not consider straight forward, though :) Either way, I got the edge case and wrote a test for it. No idea whether this has been connected to any recent change, though.

[2021-05-10 11:11] #4058 closed

[2021-05-10 11:36] m-albert commented on #4798
Thanks @fjetter :)

The import works fine and doesn't print or log anything. How else can the "missing bokeh" message be triggered?

Here's my `pip freeze`:

bokeh==2.3.1
certifi==2020.12.5
click==7.1.2
cloudpickle==1.6.0
dask==2021.4.1
distributed==2021.4.1
fsspec==2021.4.0
HeapDict==1.0.1
Jinja2==2.11.3
locket==0.2.1
MarkupSafe==1.1.1
msgpack==1.0.2
numpy==1.20.2
packaging==20.9
partd==1.2.0
Pil

[2021-05-10 12:06] fjetter commented on #4798
I am not aware of any other way

The relevant code sections which arms this warning can be found here https://github.com/dask/distributed/blob/a2a0feb33b19eea27f0ff73fe12acfa8a90d73b6/distributed/scheduler.py#L3332-L3345

TLDR if the above mentioned import cannot be found, the status page / dashboard will be replaced with the warning you're seeing.

---

Even with the above `pip freeze`, I cannot

[2021-05-10 12:23] m-albert commented on #4798
Yeah, it's really just the above two lines. Also starting a `dask-scheduler` from the command line leads to the same error page.

Also, if I install the same minimal environment (just `bokeh` and `distributed`) using `conda` the same happens...

[2021-05-10 12:35] m-albert commented on #4798
Interestingly, I found an old environment in which the dashboard still works. I recreated it in a new environment with

bokeh==1.0.4
dask==2.0.0
distributed==2.0.1

and here the dashboard also works.

[2021-05-10 12:50] fjetter commented on #4798
That's not old, that's ancient ;)

I tried at least four different ways to install the environment on my machine but couldn't reproduce this, yet. J

* I occasionally had an issue with the `zsh` integration of conda, such that a conda activate would not reliably work and would still select the wrong interpreter. You can verify this with `which python` and ensure this points to the interpreter you

[2021-05-10 12:58] m-albert commented on #4798
Indeed `dask` did change quite a bit since then 😅

The interpreter seems fine. Also I placed a `pdb.set_trace()` after line 3341 in the code you posted, and verified that `missing_bokeh==False` as the client is instantiated.

[2021-05-10 13:15] m-albert commented on #4798
Hmm okay, so some dashboard pages such as

http://localhost:8787/tasks
http://localhost:8787/system

do work. Basically everything apart form status.

[2021-05-10 16:31] mdering opened #4800 "KeyError: ('error', 'waiting')"
**What happened**:
Sometimes the worker logs indicate the following `KeyError: ('error', 'waiting')`:
[code]

right before the worker seems to lose connection, eventually the TTL lapses and the worker dies. Simultaneous to this, the scheduler logs indicate the following

[code]
I'm not totally sure how to handle this, so I've put in some fixes where we handle errors more generally. However, when I

[2021-05-11 15:08] fjetter commented on #4800
I believe it is loosely connected to #4413 but fixing this transition is likely not solving the types dictionary issue. I remember this issue but couldn't find the ticket. Do you, by chance know where this was reported?

[2021-05-11 15:14] fjetter opened #4806 "[CI] Warnings about used ports"
Lately we are observing hundreds of warnings about the dashboard ports being occupied. While I understand that we occasionally may have an overlap, I would expect every test to close the HTTP server properly such that these overlaps happen only infrequently.
I can't help but wonder if this connects to our recent CI instabilities and/or CI performance.

Example https://github.com/dask/distributed/p

[2021-05-11 16:11] jrbourbeau commented on #4806
Thanks for raising an issue about this @fjetter -- I agree it seems like there are a lot more of these warnings lately. Perhaps there's a new test which leaves a server running and this impacts all the subsequent tests? Regardless of why, someone going through and resolving these warnings would be very welcome

[2021-05-11 16:18] mdering commented on #4800
I'm not sure what you mean. I saw this error above. I believe it may be due to tasks broadly failing, but its hard to tell for sure. Since the transition error should be resolved (since worker code says if the status is error, no transition is taken), I was wondering if this would resolve the other issue as well. I guess we'll wait and see.

[2021-05-11 20:13] agoose77 opened #4820 "Asynchronous clients cannot compute delayed"
[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/agoose77/5b61e23614fd82a5148de749d826ad1f/HEAD?filepath=reproducer.ipynb)

Running `dask.compute` on a `delayed` function with an asynchronous client raises an `Exception`. Locally, I see `'coroutine' object is not iterable`, but in the Binder I see `zip` complains about the first argument not being iterable. I presume the

[2021-05-11 21:44] douglasdavis commented on #4745
Thanks for pining me here @jrbourbeau, and apologies for not noticing earlier

[2021-05-12 08:58] ManuelBahr opened #4809 "dask-scheduler and dask-worker CLI break with `click==8.0.0`"
**What happened**:

When using `click=8.0.0` which was released on May 11th, the scheduler as well as worker CLI don't come up.

**What you expected to happen**:

Working scheduler and worker CLIs

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Probable root cause for dask-scheduler**:

Click changelog:

https://github.com/dask/distributed/blob/5e150aa6a3b

[2021-05-12 10:49] #3811 closed

[2021-05-12 13:00] quasiben commented on #4809
Thanks for the report @ManuelBahr .  Confirmed that this is an issue:

[code]

Do you know how challenging it would be to support older and latest versions of click ?

[2021-05-12 13:06] ManuelBahr commented on #4809
The fix for `multiple` is trivial since the new version of clicks seems to enforce a restriction that would have made sense earlier. The issue is that all older versions of `dask` will suffer from this as well with the newest `click`. Not sure how you would go about that.

For the `dask-worker` I believe that code fragment that `distributed` used was something internal to click. Not sure how that

[2021-05-12 13:16] quasiben commented on #4809
Probably the easiest thing to do right now is set a pin for pip / conda and restrict to less than 8.X.

[2021-05-12 14:50] jrbourbeau commented on #4809
Thanks for reporting @ManuelBahr and investigating @quasiben! I opened up a PR over in https://github.com/dask/distributed/pull/4810 which proposes we add some compatibility code to handle the changes in `click` 8

[2021-05-12 15:43] ManuelBahr commented on #4809
Do you plan to backport those changes to the last version that supported Python3.6?

[2021-05-12 16:02] quasiben commented on #4809
I don't think we need to do that. Dask has dropped Python 3.6 support: https://github.com/dask/dask/pull/7006

[2021-05-12 16:41] ManuelBahr commented on #4809
Sure that is the definition of ending support. However, that renders `dask` effectively unusable for Python3.6 users until they discover the solution to constrain `click`. Up to now they were just frozen at a certain version.

[2021-05-12 16:59] quasiben commented on #4809
That is true.  There is not a plan at moment to take this action .  Dask has typically not made patches for older versions and instead opted to encourage folks to upgrade.  We recognize this comes with some frustration but we've also found this to be helpful is resolving bugs quickly while also delivering new features/improvements.

With that said, Is Python 3.6 critical for you and/or some commun

[2021-05-12 17:14] ManuelBahr commented on #4809
No, I was just thinking about the new user experience for that segment of `dask` users.

[2021-05-12 19:48] #4809 closed

[2021-05-12 20:21] AndrewHannigan opened #4812 "dask-scheduler is failing"
Running `dask-scheduler` fails with the following error message:

[code]

Here is my environment to reproduce:

Dockerfile
[code]

Build and run
[code]

[2021-05-12 20:25] jrbourbeau commented on #4812
Thanks for reporting @AndrewHannigan. This is due to changes in the latest `click=8` release and should be resolved by https://github.com/dask/distributed/pull/4810. You should be able to workaround this `ValueError` by either installed the development version of `distributed` or temporarily pinning `click < 8`

[2021-05-12 20:40] AndrewHannigan commented on #4812
Thanks the quick response - will pin to click<8 for time being

[2021-05-12 21:28] jrbourbeau commented on #4812
Great, thanks @AndrewHannigan! Closing this issue for now, let us know if you run into any other issues

[2021-05-12 21:28] #4812 closed

[2021-05-13 15:51] drobison00 opened #4814 "Attempting to launch with SSHCluster for gpu workers doesn't appear to work"
**What happened**:
Attempting to launch a local cluster with SSHCluster fails.

*Note*:
Setting worker_module to `dask_cuda.CUDAWorker` or `dask_cuda.dask_cuda_worker`, as indicated in the SSHCluster docs results in a 'no module named ...' error.

**What you expected to happen**:
A functioning cluster to come up.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**

[2021-05-13 16:54] martindurant commented on #4806
The top of the warnings:

[code]

Perhaps the first in this list is the cause; or the first appearance in `distributed/deploy/tests/test_local.py::LocalTest::test_context_manager` gives us an idea of where the actual problem might be.

[2021-05-13 17:39] drobison00 commented on #4814
Thanks @quasiben for pointing out that `worker_module='dask_cuda.cli.dask_cuda_worker'` is the correct syntax, which resolves the issue, so this seems like a doc fix rather than a bug.

[2021-05-13 18:38] jesusch opened #4815 "dask-scheduler fails w/ latest version of click"
**What happened**:

[code]
Downgrading click to `<8` solved this

[2021-05-13 18:42] jrbourbeau commented on #4815
Thanks for reporting @jesusch. The next `distributed` release (which we're pushing out tomorrow) will contain support for `click >= 8`. In the meantime you can, as you mentioned, pin `click < 8`.

[2021-05-13 18:42] #4815 closed

[2021-05-13 20:28] elaineejiang opened #4816 "Show subclass example in Adaptive docs"
It'd be helpful to have a skeleton subclass of `Adaptive` in the documentation that users can copy conveniently. Right now, there are examples for subclassing `Cluster` but not `Adaptive`: [https://docs.dask.org/en/latest/setup/adaptive.html?highlight=adaptiv#distributed.deploy.Adaptive](https://docs.dask.org/en/latest/setup/adaptive.html?highlight=adaptiv#distributed.deploy.Adaptive)

Something l

[2021-05-13 21:59] #4551 closed

[2021-05-13 22:22] nmerket opened #4817 "Click dependency problem with latest version (8.0.0)"
**What happened**: Error when calling `dask-scheduler` or `dask-worker`

**What you expected to happen**: Not an error

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

If I downgrade click to 7.1.2, it works as expected.

**Environment**:

- Dask version: 2021.4.1
- Python version: 3.7, 3.8
- Operating System: Mac, CentOS
- Install method (conda, pip, source)

[2021-05-13 22:26] jrbourbeau commented on #4817
Thanks for reporting this issue @nmerket! There's a new release of `distributed` coming out tomorrow which includes updated to support `click >= 8.0.0` (xref https://github.com/dask/distributed/pull/4810).

Additionally, we've recently patched all `distributed` releases on `conda-forge` to pin `click < 8`. If you're using `pip` to install `distributed` from PyPI, could you please manually pin `cli

[2021-05-13 22:28] jrbourbeau commented on #4817
I'm also pinning this issue in the issue tracker to (hopefully) increase it's visibility for other who may also be running into the same issue

[2021-05-13 22:36] nmerket commented on #4817
Wow, thanks for the quick response!

[2021-05-14 08:29] fjetter commented on #4816
PRs for documentation are always welcome!

On top of an actual example, I personally would also be interested to know in which circumstances one might want to subclass `Adaptive` since this is also not discussed in the docs right now. Feel free to open a PR without that particular information, though.

[2021-05-14 09:41] fjetter commented on #4800
Sorry, I got confused. A similar issue was reported recently and I thought for a moment you were referring this one.

Reading the exception message and code, it _think_ it is actually a problem on its own but probably triggered by the first exception

[2021-05-14 13:38] quasiben commented on #4809
@ManuelBahr FYI, a patch was submitted to conda-forge to restrict `click <8` for versions of dask older than 2021.05.0:
https://github.com/conda-forge/conda-forge-repodata-patches-feedstock/pull/142/

[2021-05-14 14:10] jameslamb opened #4819 "gaps between distributed and dask releases to anaconda main channels results in incompatible environments"
**What happened**:

Twice in the last two months, LightGBM's continuous integration has been broken by the following situation:

* `distributed` changes in a way that makes it incompatible with older versions of `dask`
* the newest release of `distributed` is published to anaconda's main channels several days before the corresponding `dask` version
* something like `conda install -y dask distribut

[2021-05-14 14:16] mdering commented on #4800
got it. After removing some of our "strategic" errors (exceptions there to supersede the need to schedule downstream tasks), these issues stopped occurring, so it does indeed appear to be the root cause of this. Hope this helped, and thanks for looking into this!

[2021-05-14 14:21] quasiben commented on #4819
Thanks for bringing this up @jameslamb .  We don't have much input on the main anaconda channel.

Still, @seibert do you know who we should talk to about updating the main channel as the current versions are incompatible with one another.  FWIW we are planning a release today: https://github.com/dask/community/issues/155

[2021-05-14 15:17] agoose77 commented on #4820
@jsignell thanks for taking a look (and no need to apologise)! I initially wondered about placing it under distributed. I'll take note for the next time that I might raise an issue in this space :)

[2021-05-14 15:34] jrbourbeau commented on #4819
Thanks for reporting @jameslamb! FWIW some folks also ran into this with the `2021.04.1` release
 on `conda-forge` (see the discussion starting here https://github.com/dask/community/issues/150#issuecomment-826844711). I think the core issue here is that we don't specify maximum allowed versions for our `dask` and `distributed` dependencies.

Over in https://github.com/dask/community/issues/155#is

[2021-05-14 15:40] jakirkham commented on #4820
I think the `compute` line needs to be `await`ed as well

[2021-05-14 15:44] jakirkham commented on #4820
Something like this works for me locally

[code]

[2021-05-14 15:44] agoose77 commented on #4820
@jakirkham originally I did await anything returning a `Future`, and I couldn't get anything reproducible. I did manage to get it to work via `client.compute`.

[2021-05-14 15:48] jameslamb commented on #4819
Ok sure, will do! You can close this issue then if you'd like. To keep the discussion focused over in `dask/community`.

[2021-05-14 15:49] jakirkham commented on #4820
Right I don't think `dask.compute` works with the `async` `Client`. One needs to use `client.compute`. `dask.compute` is not implemented using `async` so wouldn't expect it to work. The examples in the docs also show using `client.compute` with `await`.

[2021-05-14 15:50] agoose77 commented on #4820
@jakirkham naively I'd expect `dask.compute` to block with a sync call, given that the internals are async (or at least, I thought that they were). If this is a WONTFIX, would it make sense to add a test in `dask.compute` that the client is synchronous?

[2021-05-14 15:54] jrbourbeau commented on #4820
From briefly looking at this issue I think it may be a duplicate of https://github.com/dask/dask/issues/5518

[2021-05-14 16:04] jakirkham commented on #4820
Right I think this comment from Jim ( https://github.com/dask/dask/issues/5518#issuecomment-544980219 ) and the one that follows are a good description of what would need to change and why this doesn't work today. To be clear it isn't that things couldn't change, but it would require some careful (though manageable) work from someone to do.

[2021-05-14 17:03] jakirkham commented on #4819
Yeah I think tighter pinnings as James proposed should address this going forward

[2021-05-14 17:03] jakirkham commented on #4819
cc @anaconda-pkg-build (for awareness)

[2021-05-14 17:42] jsignell commented on #4820
Ah ok I agree that this is a dupe of #5518 sorry for the noise!

[2021-05-14 17:42] #4820 closed

[2021-05-14 23:11] fredms commented on #4817
Seeing the same issue. Tried to install the latest package of distributed 2021.5.0, but got error:
ResolvePackageNotFound:
  - distributed==2021.5.0

[2021-05-14 23:19] jrbourbeau commented on #4817
@fredms how are you installing? `distributed==2021.5.0` should be on PyPI, but isn't up on `conda-forge` yet

[2021-05-14 23:36] fredms commented on #4817
Just tried pip install distributed==2021.5.0
ERROR: Could not find a version that satisfies the requirement distributed==2021.5.0
ERROR: No matching distribution found for distributed==2021.5.0

[2021-05-14 23:46] fredms opened #4823 "map_partitions unexpected behavior"
The dask dataframe has 4 partitions, and I mapped the "write_and_run" func to each partition,

Expected:
	1. There are total 4 subprocesses started.
	2. I am using 2 gpus and I also suppose the partitions are distributed evenly to each gpu

Actual:
	There are more than 4 subprocesses started because I can see more than 4 prints of "starting subprocess"

[code]

**Environment**:

- Dask version: la

[2021-05-14 23:47] jrbourbeau commented on #4817
Hmm, unfortunately I'm not able to reproduce. `distributed==2021.5.0` is [definitely on PyPI](https://pypi.org/project/distributed/2021.5.0/). I did the following locally on my mac:

[code]

which ran successfully for me (output shown below). I'm not totally sure how to help debug further. By chance to do you have `pip` configured to point to some non-default index?

<details>
<summary>Details:</s

[2021-05-15 00:02] fredms commented on #4817
It works now. I tried a different machine.

[2021-05-15 00:14] fredms commented on #4823
@jrbourbeau can you take a look?

[2021-05-15 03:17] jakirkham commented on #4513
Somehow missed issue ( https://github.com/dask/distributed/issues/2162 ) also discusses a very similar idea when opening this. Though I guess that was looking at `asyncio` as an alternative as opposed to replacing `tornado` completely as mentioned here.

One thing worth noting is Matt's existing work on this from before ( https://github.com/dask/distributed/compare/main...mrocklin:asyncio-comm ).

[2021-05-15 06:43] fredms commented on #4587
Hi, will this issue be fixed soon? I am seeing the similar issue several times. Is it possibly caused by unhealth nodes?

[code]

[2021-05-15 08:58] guillaumeeb commented on #4654
Hi,

I've no hint on what is going on there, but just to say that I've seen a similar behaviour on several workloads: tasks stall at random after several hours of computation. This is really a paint point for several of our Dask users. Sadly, I don't have a reproducible example.

I havnen't checked if tasks duration do increase over time before stalling, and didn't look on the logs yet.

[2021-05-15 14:27] mrocklin commented on #4513
The PR is at https://github.com/dask/distributed/pull/2165 , which also includes some context.  That PR stalled because it asyncio servers needed to be awaited and we didn't await `distributed.comm.Listeners` at the time.  We do now, so things should be easier.

[2021-05-17 16:31] jrbourbeau commented on #4819
Closing as discussion moved over to the `dask/community` issue tracker and the relevant folks have been pinged here for visibility

[2021-05-17 16:31] #4819 closed

[2021-05-17 18:58] jrbourbeau commented on #4823
Dask will run your function to try and figure out relevant metadata for what your function does to DataFrame partitions (e.g. does it create a new column? Does it return a DataFrame or a Series? etc.). So seeing it run more than four times is expected. If this is an issue, you can explicitly pass a `meta=` keyword argument to `map_paritions` to bypass the automatic inference step.

[2021-05-17 19:11] jakirkham commented on #4817
Closing as this should be fixed in the latest release

[2021-05-17 19:11] #4817 closed

[2021-05-17 19:23] fredms commented on #4823
Thanks @jrbourbeau . The func doesn't create a new column and it returns a series.
what's the value of "meta" argument? if I want to keep it only run 4 times.

[2021-05-17 19:26] jrbourbeau commented on #4823
The [`DataFrame.map_partitions` docstring](https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.map_partitions) has additional information and examples on `meta=` -- hopefully that helps

[2021-05-17 22:21] fredms commented on #4823
Without "meta=", there is one more call of func to inference the return type, which is probably ok. I am running prediction job and it only picks 4 rows to inference return type.

In my example, if each node is assigned 2 partitions, will 2 subprocesses be started at the same time on this node?

[2021-05-17 22:43] jrbourbeau commented on #4823
It depends on the size of the threadpool your workers have, but in the general case (when there are multiple threads) multiple calls `write_and_run` can happen on the same node

[2021-05-17 23:10] fredms commented on #4823
Thanks @jrbourbeau . that's helpful.
In the func `write_and_run`, it starts a subprocess.  Does this mean multiple subprocesses will be started at the same time if there are multiple threads on one worker?

If it desires to have 1 subprocess on 1 worker, should I limit the process/thread when starting the worker? like this
`dask-worker --nprocs 1 --nthreads 1`

[2021-05-17 23:46] jrbourbeau commented on #4823
Yes

Yep, that would limit each worker to only be able to make a single call to `write_and_run` at a time (i.e. no concurrent calls leading to multiple subprocesses being launched)

[2021-05-18 00:30] fredms commented on #4823
That's great. thanks @jrbourbeau .

In such case, how to fully utilize the resource capacity without starting multiple subprocesses at the same time?

for example, I have a compute node with capacity `(6 cores, 56 GB RAM, 380 GB disk)`.
if I limit the -`-nprocs 1 --nthreads 1`, only 1/6 capacity of compute node is used.

[2021-05-18 01:03] joseph-long opened #4827 "LocalCluster CPU usage climbs to 100% over time without submitting computations, connecting workers"
I noticed when I was working locally in a Jupyter Lab session on my laptop that computations would gradually slow down, down, down, until there was nothing to do but restart the notebook kernel (and therefore scheduler/workers). I started to pare down a minimal reproducing example, and got all the way down to launching a LocalCluster with zero workers. After five minutes, CPU use is hovering aroun

[2021-05-18 01:15] joseph-long commented on #4827
This appears to be an interaction between JupyterLab and Dask, since running the minimal reproducing code in a plain vanilla `python` session showed ~20% CPU consistently over time.

[2021-05-18 01:32] joseph-long commented on #4827
Launching `dask-scheduler` and `dask-worker` in a terminal and just connecting from JupyterLab *does* seem to result in asymptotically increasing CPU.

[2021-05-18 15:25] jrbourbeau commented on #4827
Thanks for reporting this issue @joseph-long! I tried this out locally and observed similar behavior.

cc @ian-r-rose due to the Jupyter connection

[2021-05-18 20:32] ian-r-rose commented on #4827
Thanks for the ping! I wonder if this is at all related to https://github.com/dask/dask-labextension/issues/185 .

[2021-05-18 20:41] joseph-long commented on #4827
Yes, seems likely. It seems limited to the labextension display of the plots. Opening up the scheduler web UI directly doesn't accumulate CPU load the same way, in my testing. If you think it's better to continue over on the labextension issue tracker, I can move over there!

[Here's](https://gist.githubusercontent.com/joseph-long/86ec211180b600116aa0eb0c60edc6fc/raw/9ff2d5b13a151f862b6e97c551c787

[2021-05-18 22:56] ian-r-rose commented on #4827
Fix open, if you care to take it for a spin @joseph-long: https://github.com/dask/dask-labextension/pull/188

[2021-05-19 00:59] jrbourbeau commented on #4823
It sounds like you want to explicitly _not_ utilize all the resources available since you don't want to run `write_and_run` in parallel on the same node. If setting the worker threadpool to only have a single thread is too restrictive (for example, if you have other tasks in your workflow that you do want to run in parallel) then you can use a [`SerializableLock`](https://github.com/dask/dask/blob

[2021-05-19 01:58] joseph-long commented on #4827
Unrelated issue but following the development install instructions I ran in to this:
[code]

Had to pip install manually and then install worked.

Anyway, I've been running the PR version for a few minutes now and CPU use is constant! Hooray!

[2021-05-19 09:39] fgebhart opened #4830 "Dask cluster suddenly pauses computation for hours before finishing it up"
## What happened:

We have a dask cluster set up which is configured to compute three different runs every day. Sometimes one of the first two runs fails due to an unrelated problem. This failure is not really an issue as we have a workaround in place, which can be applied on demand. However, recently the previous failure _seems_ to have led to a long pause during computation in the third run. The

[2021-05-20 00:34] RayAtUofT commented on #2801
I have get the same problem while processing large sets of data. For my case, the warning did not affect my output.

I somehow get away by allocating more workers to the job (used to be only one worker).

I am not sure about the implications and consequences (I also haven't test the speed before and after).

Hope that helps.

[2021-05-20 03:49] AlecThomson opened #4831 "Collection of futures gets TimeoutError"
**What happened**:
Possibly related to #2880.

I'm using `client.persist` to execute delayed tasks (see rough format in the MCVE). I'll note that I get the same error using `client.compute`. Despite using the same code, I recently encountered an error where I get a `TimeoutError` (see traceback). The error points back to the line where I either call `progress(results)` or `client.gather(results)`.

[2021-05-20 07:48] YarShev opened #4832 "Future can't be passed to actor method"
**What happened**:

Future is not materialized in an actor method by Dask machinery.

**What you expected to happen**:

Future is able to be materialized in an actor method by Dask machinery how it is done to submit ordinary functions.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

Related to #4488.

**Environment**:

- Dask version: 2.19.0
- Python version

[2021-05-20 15:55] jrbourbeau commented on #4831
Thanks for raising an issue @AlecThomson! From the traceback it looks like there's a third-party `TqdmProgressBar` object where the error is originating from. It would be great if we could reproduce the issue with `dask` / `distributed` alone. Otherwise, it will be difficult to determine if this is a Dask issue or not

[2021-05-20 16:52] crusaderky opened #4833 "Unmanaged and max memory is double-counted when workers share the same process"
[code]
In this use case, all workers share the same process. Note that this is not the same as a single Worker with multiple threads.

The total memory usage graph at the top left of the GUI is wrong, because it counts the unmanaged and maximum memory multiple times, bluntly summing up each worker under the blind assumption each is in a different process, whereas in reality psutil.Process().get_me

[2021-05-20 18:05] nsmith- opened #4834 "OAuth2 authorization"
Dask provides a [TLS](https://distributed.dask.org/en/latest/tls.html) client-scheduler secure connection mechanism that can serve double duty as a client authentication mechanism. However, x509 certificate+key pairs for both server and client can be cumbersome to set up, especially if many different users need to authenticate. A popular authentication flow these days is [OAuth2](https://oauth.net

[2021-05-20 18:11] jrbourbeau commented on #4834
Thanks @nsmith-! cc'ing @jcrist @ian-r-rose too

[2021-05-21 04:55] RichardScottOZ commented on #4538
I just saw this:-

[code]

[2021-05-21 04:55] RichardScottOZ commented on #4538
Definiitely not 3.6.

[2021-05-21 05:02] AlecThomson commented on #4831
Ah, sorry @jrbourbeau -- I was experimenting with a progress bar at the same time. The error occurs regardless of how the futures are called. This is the traceback when using `progress(results)` (as above):
[code]

And now with `client.gather(results)`:
[code]

[2021-05-21 05:28] jakirkham commented on #4538
Do you have a reproducer? If so, can you please share this in a new issue?

[2021-05-21 05:35] RichardScottOZ commented on #4538
Not easy to reproduce in that is large scale satellite data processing via Open Data Cube on a Dask Gateway Kubernetes cluster, but can give some details.

[2021-05-21 12:11] fjetter commented on #4830
Thanks @fgebhart for your detailed write up. I will try to provide you with a few pointers on where you can try to find out more about your problem but please be aware that support for a complex problem like this without any minimal reproducer is extremely difficult.
Also note, that version 2.30.1 is more than 6months old by now. IIRC, you are, in fact, running on a slightly modified version of 2.

[2021-05-21 13:13] quasiben commented on #4538
It looks like this is also happening in Python >= 3.8:
https://bugs.python.org/issue42853

[2021-05-21 15:51] fjetter commented on #4806
Simple test to reproduce

[code]

and is caused by https://github.com/dask/distributed/blob/0a14902ecc88938c30e48e22f0bc1478f47bba7d/distributed/scheduler.py#L3367 The scheduler init is already opening a socket to listen on that port regardless of whether the server is "started" or not. That pops up in tests like https://github.com/dask/distributed/blob/0a14902ecc88938c30e48e22f0bc1478f47bba7d/dis

[2021-05-21 18:37] jakirkham commented on #3831
Maybe this can be done with entrypoints like what is being done with sizeof ( https://github.com/dask/dask/issues/7647 ) ( https://github.com/dask/dask/pull/7688 )

[2021-05-21 20:01] jrbourbeau commented on #3831
Agreed that entrypoints would be well suited for this. For reference, `distributed` already supports entrypoints for registering third-party communication backends https://distributed.dask.org/en/latest/communications.html#extending-the-communication-layer

[2021-05-21 20:02] martindurant commented on #4484
@jakirkham
Since I've had quite a bit of cython practice with fastparquet lately, I'd be happy to help adding types. Do you have a list of outstanding areas being compiled but not annotated?

(NB this is the first issue that I found when searching - things probably have moved on and this one should b closed)

[2021-05-21 20:06] jakirkham commented on #3831
Right this would be for custom object serialization that comes up occasionally. For example I think ITK ran into this issue not long ago. Periodically users come by with their own custom objects that need serialization and don't necessarily know the right way to hook in. This was also an issue for RAPIDS early on and we would likely have used such a system if it were available. IOW very much the s

[2021-05-21 20:11] jrbourbeau commented on #3831
Yeah, that all makes sense. I was mostly just pointing out the existing comms entrypoint to say we had a similar need elsewhere in `distributed` (for third-party library authors to register some custom code) and added entrypoint support, which has, I think, been successful. We should repeat that process for serialization and sizeof registration

[2021-05-21 20:28] jakirkham commented on #4484
Probably wrapping up the `update_graph` work ( https://github.com/dask/distributed/pull/4418 ) would be a good place to start.

Could also use your help reviewing PR ( https://github.com/dask/distributed/pull/4650 ). Planning to rework that next week so can ping once it is ready (shouldn't take too long).

There have also been some finicky things historically where typing some attributes hasn't wo

[2021-05-21 20:31] jakirkham commented on #4484
Also yes this could be closed. Was trying to share where things stood earlier on. Though am also fine repurposing this for general discussion

[2021-05-21 21:07] martindurant commented on #4484
Thanks - I'll have a dig around next week.

[2021-05-21 21:12] jakirkham commented on #4484
Sounds good. Thanks Martin!

(also added one more note about test failures we've identified when Cythonizing)

[2021-05-21 21:45] stefanor opened #4839 "test_metrics.py:test_process_time() failing assertions"
@andrewshadura reports in [Debian Bug #987816](https://bugs.debian.org/987816) that he's getting some assertion failures in `test_process_time()` in his build environment:

[code]

I haven't been able to reproduce it, but those numbers feel like they were pulled out of thin air in #1625. @pitrou?
Should we just reduce the 0.03 to 0.02?

**Environment**:

- Dask version: 2021.01.0
- Python version:

[2021-05-21 22:24] #4823 closed

[2021-05-23 17:19] fredms opened #4841 "How to start multiple dask workers with 1 GPU each?"
I have a compute node with setting:
Virtual machine size:  (24 cores, 448 GB RAM, 1344 GB disk)
Processing unit: 4 GPUs

How to start multiple dask workers with 1 GPU each? For example, I'd like to start 4 dask workers with 1 GPU each and use all resources provided by node.

I have tried the following from [document](https://docs.dask.org/en/latest/setup/cli.html):
`"dask-worker {scheduler} --reso

[2021-05-24 07:59] prutskov opened #4842 "Wrapped `Future.result` hangs in remote function call"
**What happened**: Execution is hangs when I try to call `result` method of Future which is wrapped in some object.

**What you expected to happen**: Successful materialization of Future without any hangs.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version:  2.19.0
- Python version: 3.8.8
- Operating System: Ubuntu 20.04
- Insta

[2021-05-24 08:25] Nihhaar opened #4843 "dask-scheduler CLI fails on click version 8.0.1"
**What happened**:
Installed dask[complete] package on a fresh machine and ran `dask-scheduler` command. It failed with following error:
[code]

**What you expected to happen**:
To work normally as stated in the docs

**Minimal Complete Verifiable Example**:
Same as above.

**Anything else we need to know?**:
I think this is due to a click version compatibility. Works fine when using `click==6.6`.

[2021-05-24 12:04] YarShev commented on #4842
Hi there, I encountered similar problem that stops us to move forward. Please, prioritize this issue to the nearest release.
cc @jsignell , @martindurant

[2021-05-24 13:41] quasiben commented on #4841
I would recommend using [dask-cuda](https://docs.rapids.ai/api/dask-cuda/nightly/index.html) -- the `dask-cuda-worker` is designed specifically for creating dask workers pinned to GPUs

[2021-05-24 14:22] quasiben commented on #4843
Thanks for reporting @Nihhaar. `2021.05.0` has support for click >= 8.   We were able to fix this issue for older versions in conda but not for pypi.  You can either upgrade to restrict to `click < 8` when installing

[2021-05-24 14:47] #1621 closed

[2021-05-24 15:24] #4843 closed

[2021-05-24 18:50] drorspei commented on #2908
I just ran into this in my work; I need to limit MKL and OpenBLAS to single threads so that I can solve matrices on many workers, without incurring huge amounts of thread contention.

What do you think of adding some API to LocalCluster for passing environment variables?

[2021-05-24 19:04] jrbourbeau commented on #2908
FWIW I think `LocalCluster` should already forward any client-side environment variables you have set:

[code]

Additionally, if you're using `Nanny` workers, then there's an `env=` keyword you can use to pass environment variables to your workers:

[code]

[2021-05-24 19:10] drorspei commented on #2908
Hehe yeah

Thanks for the super fast reply. I checked exactly the same thing and
deleted my comment just before you finished typing :P

On Mon, May 24, 2021, 21:04 James Bourbeau ***@***.***> wrote:

[2021-05-24 22:28] timhdesilva opened #4844 "Dask Client Computing Prior to Calling .compute()"
Hi,

I'm having a problem that is almost surely a mistake on my part, but I haven't been able to sort it out so I'm posting it as a bug here. I'm running the following code:

[code]

Next, I run ``data = dd.read_csv('data.csv') # 12GB file``. When doing so, the code executes immediately, but a computation on the client that takes a few minutes begins. Then, I run ``data = data[data['X'] <= 180]``.

[2021-05-24 22:54] jrbourbeau commented on #4844
Thanks for raising an issue. Can you post a minimal reproducer (see https://blog.dask.org/2018/02/28/minimal-bug-reports)? When I run the following snippet locally I don't see any computations being triggered on the cluster:

[code]

[2021-05-24 23:24] rlratzel opened #4845 "DEBUG log messages imply UCX config options are invalid"
When debugging is enabled, distributed outputs the following messages:
[code]
When the corresponding env vars as set, such as `export DASK_UCX__CUDA_COPY=True`, the code in `ucx.py` [here](https://github.com/dask/distributed/blob/d41169bf231949f7dfb69e052a9690f7381e62f7/distributed/comm/ucx.py#L500) seems to behave correctly, but the check [here](https://github.com/dask/distributed/blob/d41169bf23

[2021-05-24 23:25] timhdesilva commented on #4844
Thanks for the prompt response. I just ran your code snippet and a computation was triggered. See below. I wonder if this has something to do with the fact that I'm using Spyder as an IDE?
![Capture](https://user-images.githubusercontent.com/51328901/119418313-b79c8700-bcc5-11eb-82fc-52784c63692d.PNG)

[2021-05-24 23:39] timhdesilva opened #4846 "Issue with Client()"
Hi,

Sorry to raise another issue, but I just ran into an additional problem. When I execute the following code, I get a bunch of error messages below and the code never finishes running.
[code]

Error message printed to console many times:

[code]

As additional information, if I remove ``client = Client()``, the code runs with no issues.

Thanks so much for all the help!

[2021-05-25 01:02] jrbourbeau commented on #4846
You can put your code inside a `if __name__ == "__main__"` block like so:

[code]

Closing as a duplicate of https://github.com/dask/distributed/issues/2520 (which includes more background information about the underlying cause of this `RuntimeError`)

[2021-05-25 01:02] #4846 closed

[2021-05-25 02:06] timhdesilva commented on #4846
Great, that works perfectly, thank you!

[2021-05-25 02:11] timhdesilva commented on #4844
Even after replacing ``client = Client()`` with
[code]
based on #4846 resolution, I still have this problem.

[2021-05-25 08:27] fjetter commented on #4844
@timhdesilva can you please state the dask and distributed versions you are using? I would like to encourage you to try out more recent versions to see if this problem might already be fixed (at least judging from the dashboard screenshot you posted, there should be newer versions available)
I tried reproducing with latest versions but I couldn't see any computations either and the entire thing fi

[2021-05-25 08:34] fjetter commented on #4842
Works fine on my machine. I noticed you're using a rather old dask version. Can you try upgrading your dask and distributed versions to see if this works then?

[2021-05-25 09:39] fjetter commented on #4839
Thanks for the report! We've seen a similar issue popping up in https://github.com/dask/distributed/issues/4790

[2021-05-25 10:08] fjetter commented on #3831
I don't get what's missing, yet. Why is `cuda_serialize` even a dedicated function? With the dispatch in `distributed.protocol.serialize.dask_serialize` (maybe there is an easier import) we can already register serializers for custom classes. is this a comm-specific registration or am I missing something more fundamental?

[2021-05-25 10:52] fjetter opened #4848 "test_nprocs_negative flaky"
I've observed the test test_nprocs_negative being flaky on OSX
https://github.com/dask/distributed/blob/d41169bf231949f7dfb69e052a9690f7381e62f7/distributed/cli/tests/test_dask_worker.py#L250-L254

Example https://github.com/dask/distributed/pull/4793/checks?check_run_id=2585287221

traceback

[code]

[2021-05-25 11:40] prutskov commented on #4842
I updated dask and distributed packages to version 2021.5.0, but it continues to hang.

[2021-05-25 11:50] zhangte113 commented on #4831
I got the same problem with you
 `distributed.protocol.core - CRITICAL - Failed to deserialize
Traceback (most recent call last):
  File "C:\Users\Administrator\Documents\Python\Python3.7\lib\site-packages\distributed\protocol\core.py", line 107, in loads
    small_payload = frames.pop()
IndexError: pop from empty list
Traceback (most recent call last):
  File "C:\Users\Administrator\Documents\Pyt

[2021-05-25 12:03] fjetter commented on #4831
@zhangte113 your issue seems to be triggered by a serialization error and the version you are using is pre-`2021.04.X`. I would suggest to update and see if the issue persists

[2021-05-25 12:14] fjetter commented on #4842
As I said, I cannot reproduce. The script above terminates properly for me. However, I noticed that you are using `Client.scatter` in combination with a function (lambda in this case). The `scatter` function is used to scatter / distribute data on the cluster, not to execute a function. Can you please verify the script again if this is actually reproducing the issue and if this is also your intend

[2021-05-25 12:29] timhdesilva commented on #4844
@fjetter I'm using version 2021.02.0 of each. I cannot update to a newer version because I'm also using ``dask-sql``, which isn't compatible with any earlier versions.

[2021-05-25 12:43] zhangte113 opened #4849 "Build cluster between multi computers"
In order to speed the calculation speed, I have built clusters between two computers. And there are several models write by myself.
I build connection between two computers by the command of  `dask-scheduler` and `dask-worker 10.100.207.208:8786` in two computers respectively, and it success. However, when I run my code on one computer, there are a error in another computer `ModuleNotFoundError: N

[2021-05-25 13:59] quasiben commented on #4849
You many things to solve this issue:
- manually copy the file to the other machines
- use [upload_file](https://docs.dask.org/en/latest/futures.html?highlight=upload_file#distributed.Client.upload_file) to copy the file to the workers
- create a pip / conda package and make a reproducible environment

[2021-05-25 14:15] pentschev commented on #4845
Thanks @rlratzel , I think this was just a bug in how we were checking variables but wasn't harmful, that should now be addressed in https://github.com/dask/distributed/pull/4850 .

[2021-05-25 14:20] fjetter commented on #4844
This is an unfortunate and misleading error which usually appears if the worker process either never started properly or died very suddenly. I would hope there are other messages to indicate what the underlying problem is

Can you please try to verify the problem in an isolated environment with more recent versions of dask? Especially with the above message about failed processes, this might also

[2021-05-25 15:32] jakirkham commented on #3831
It’s needed because some frames need to stay on device, which means they don’t play well with Blosc and cannot be coerced to `memoryview`s. Dask serialization is only used with device objects that need to be copied to host. Though that’s not really the subject of this issue

Yes users can register their own objects for serialization. The issue is Dask won’t know whether they can be serialized unle

[2021-05-25 16:30] fjetter commented on #3831
Sorry if I'm being a bit complicated but I'm still having trouble to understand since the way I understand this issue, this is already possible.

I see that there are many types registered in distributed but I don't really understand why. Can't the libraries themselves register this?

Let's take the example for the cudf below

https://github.com/dask/distributed/blob/43ad2f8cfaa216588f15d39dc4ea24

[2021-05-25 17:12] jakirkham commented on #3831
Well that's the point of this issue. To make this not a requirement.

Even if we `import` this on the `Client` and send it to the `Worker`, the `Worker` won't know what to do with the message unless `cudf` was already `import`ed. It will look for a way to deserialize and not find one. So will raise an error instead.

Not exactly. Dask makes sure [this is always `import`ed when `to_frames`/`from_fr

[2021-05-25 17:25] fjetter commented on #3831
The import order was the missing piece to (my/the) puzzle. I understand now, thanks!

[2021-05-25 17:26] gjoseph92 commented on #4849
https://docs.dask.org/en/latest/setup/environment.html also has some suggestions for this.

[2021-05-25 17:38] timhdesilva commented on #4844
Thanks for the response. On the first error, there is no other information provided aside from that message repeated multiple times. However, I was able get rid of it in an environment where I do not import any other modules. I'm not sure why this is the case, but I guess I can work around it by copying the functions from the modules I'm importing into the actual file.

On the problem about the co

[2021-05-25 19:45] timhdesilva commented on #4844
As a follow-up on the above, the execution of operations immediately (instead of upon calling ``.compute()``) appears to be a problem specific to Spyder. Everything works as expected when code is executed in Jupyter Notebook, but not in Spyder.

[2021-05-25 19:46] michaeldoron59 opened #4851 ""500: Internal Server Error" in dask scheduler"
I get this log:
dask version = '2021.05.0'
[code]

Looks like some new feature and broken code..
Thanks

[2021-05-25 19:49] jrbourbeau commented on #4844
Thanks for following up @timhdesilva. Could you open up a GitHub issue over with the Spyder folks since this appears to be Spyder-related and not an issue with Dask itself?

[2021-05-25 19:51] jrbourbeau commented on #4851
Thanks for raising an issue @michaeldoron59. Are you able to provide a minimal example (see https://blog.dask.org/2018/02/28/minimal-bug-reports) that we can run which reproduces the issue?

[2021-05-25 20:32] timhdesilva commented on #4844
Will do, thanks @jrbourbeau!

[2021-05-25 20:32] #4844 closed

[2021-05-25 20:43] michaeldoron59 commented on #4851
well, it just happens after I use helm to install it in my gcloud-kubernetes environment. Basically I only run the basic dask-scheduler command and then I try to connect it via my browser.

[2021-05-25 21:24] jrbourbeau commented on #4851
Do you connect a `Client` to the scheduler after running `dask-scheduler`?

[2021-05-25 23:17] rbavery commented on #3955
I'm getting this error just by creating a cluster on an azure VM with dask and distributed versions `2014.04.01`

[code]
A cluster appears to be created but with 0 workers and 0 memory and these errors go on to infinity unless I kill the jupyter kernel. Sometimes the output is large enough with these repeating errors that the notebook freezes.

[code]

[2021-05-26 00:02] fredms commented on #4841
Thanks @quasiben
I started several workers with:
"dask-cuda-worker " + scheduler

Then created client:
client=Client(scheduler)

but I got:
<Client: 'tcp://10.0.0.6:8786' **processes=0 threads=0, memory=0 B**>
....
distributed.worker - INFO -       Start worker at:       tcp://10.0.0.6:42159
distributed.worker - INFO -          Listening to:       tcp://10.0.0.6:42159
distributed.worker - INFO -

[2021-05-26 02:29] jrbourbeau commented on #3955
@rbavery the `AttributeError: 'NoneType' object has no attribute 'process'` error you're seeing usually means that the worker process wasn't able to start up properly. After https://github.com/dask/distributed/pull/4733, which was just merged, any exceptions that are raised which caused the worker to not start up will now be raised. Could you try again with the current `main` branch of `distribute

[2021-05-26 05:39] rbavery commented on #3955
@jrbourbeau thanks for the quick tip. I installed from main and now the error in the notebook where I'm running `distributed.LocalCluster(nworkers=2)` looks like this. Not sure if there is a difference?:

[code]

However I just noticed these logs in the terminal where my notebook is running:

[code]

[2021-05-26 08:27] zhangte113 commented on #4849
@quasiben  I tried your way, but I haven't grasped it. Fisrt，I zipped my model to egg file. Second, I copy the egg file to the directory of my main program. Last, I ran my code, but it appeared a error : `zipimport.ZipImportError:` bad local file header: 'E:\\cmder\\dask-worker-space\\worker-lhqaxx42\\cosipy-0.0.1-py3.7.egg'.`

[2021-05-26 08:52] prutskov commented on #4842
@fjetter I use `scatter` to distribute my lambda function on the cluster. Thanks for the clarification.

Could you clarify, please, what packages do you have in your environment? Do you use Ubuntu too?

[2021-05-26 08:55] zhangte113 commented on #4849
In fact, I want to run this model [https://github.com/cryotools/cosipy](url), and I did this change in the COSIPY : `#!/usr/bin/env python

"""
    This is the main code file of the 'COupled Snowpack and Ice surface energy
    and MAss balance glacier model in Python' (COSIPY). The model was initially written by
    Tobias Sauter. The version is constantly under development by a core developer tea

[2021-05-26 09:06] michaeldoron59 commented on #4851
yes, I can connect to the scheduler and it works properly, the only thing that doesn't work is the bokeh monitor.

[2021-05-26 11:51] #3785 closed

[2021-05-26 11:58] YarShev commented on #4842
@fjetter , I see the issue on the latest master.

[2021-05-26 11:59] #4845 closed

[2021-05-26 12:30] fjetter commented on #4842
Scatter is built to distribute _data_, not function or code object. The fact that this works in the first place is rather a bug than a feature. Is there any particular reason for this complex construction? Why not simply defining it this way

[code]

or if you require a _remote_ factory, why not

[code]

that's more in line with how the API is intended to work. users are generally not expected to

[2021-05-26 12:47] michaeldoron59 commented on #4851
I just did a rollback to my GKE docker image, and now everything works properly, so it seems that the problem is at your side..

[2021-05-26 13:02] prutskov commented on #4842
I have a some reasons to use this complex construction.

But if user wants and has some reasons to control on future unwrapping, why it isn't expected? We have a special API like `Future.result` to unwrap data.

Could you, please, clarify this, please:

[2021-05-26 13:05] martindurant commented on #4842
I think the missing piece here may be, that the futures API is meant to be *client side*. If you want to pass futures around between worker tasks for your own reasons, you probably at minimum need to create a client (see [worker_client](https://distributed.dask.org/en/latest/api.html#distributed.worker_client)) for that future to attach to.

[2021-05-26 15:13] michaeldoron59 commented on #4851
I see that this problem was already in another variation [here](https://github.com/dask/distributed/issues/2474)

[2021-05-26 16:33] quasiben commented on #4841
The above looks like the workers have not started correctly.  Can you post the output from how you started the workers ?

[2021-05-26 16:41] marcosmoyano commented on #4834
+1
I've been thinking about writing a plugable auth system sitting in front of Dask. And have the Security class accept some sort of auth policy object as well. On the other hand, this feels like something that should be handled outside of Dask. I keep going back and fwd with this idea 🤔. @jacobtomlinson I'm curious to hear your thoughts on this.

[2021-05-26 16:48] mrocklin commented on #4834
Also cc'ing @jcrist

[2021-05-26 17:25] jcrist commented on #4834
How would this work? Distributed's comms aren't http based, so any proxy and auth mechanism here would need to be custom. There's nothing preventing us from using OAuth2 to validate a token sent to the scheduler when a new client connection is created, but I'm also not sure I see the use case. It'd be a fair amount of custom code.

[2021-05-26 17:28] nsmith- commented on #4834
I was a bit unclear: we spin up a separate cluster per user, but part of that operation is generating an x509 key system per user. If we want to allow users to connect to the cluster from their personal computer as well as from JHub, then they would have to download that keypair. It would simplify operations a bit if the user just had to generate an access token (easy copy-paste) instead of downlo

[2021-05-26 17:30] jcrist commented on #4834
FWIW, this is a use case that [dask-gateway](https://gateway.dask.org/) handles fairly well. Certs are automatically minted and distributed, and users can connect from either within the cluster (usually on jhub) or externally from their own laptop.

[2021-05-26 18:07] gjoseph92 opened #4854 "TLS expects a `ssl_context` argument during nested compute"
I suspect there's an issue unpicking Clients that use Security. `Client.__setstate__` calls `get_client` when there is no global Client: https://github.com/dask/distributed/blob/7e10875528d955947340f6f95da54f6919bdd815/distributed/client.py#L362-L367

This ends up falling through to constructing a Client here: https://github.com/dask/distributed/blob/7e10875528d955947340f6f95da54f6919bdd815/distri

[2021-05-26 18:34] fredms commented on #4841
[code]

[2021-05-26 18:46] quasiben commented on #4841
Is the scheduler showing those worker register ?  You might have some networking issues between the scheduler and worker.

[2021-05-26 18:58] fredms commented on #4841
yes,
[code]

[2021-05-26 19:23] quasiben commented on #4841
Looking at what you posted, the scheduler is at `tcp://10.0.0.4:8786` and the workers are also on `tcp://10.0.0.4:XXXX`.  You're client looks it's connecting on `tcp://10.0.0.6:8786` so maybe this is just a typo ?

[2021-05-26 20:15] mrocklin opened #4855 "Style hover tooltip in worker memory plot"
The new managed worker memory is great.  I wonder if we could improve it by styling the hover tooltip a bit.  Currently the hover changes depending on if you're on the managed or unmanaged part.  It's also quite long, looking like this:

    tls://worker-address:1234: 10.0 GiB (8.33 GiB managed (in memory))

And then if you wander over to the right a bit you get something like

    tls://worker-ad

[2021-05-26 20:20] fredms commented on #4841
Sorry for the confuse. I have several repros.
the client is:
[code]

[2021-05-26 20:26] quasiben commented on #4841
Still seems like you are having connectivity issues.  Does this work with vanilla dask-workers and the dask-scheduler ?

[2021-05-26 21:04] mrocklin commented on #4855
For convenience, here is the code for the hover for the progress bar.  I think that it might be a good model here.

https://github.com/dask/distributed/blob/26a1da050636b4e37490b675ba16aa29a484e106/distributed/dashboard/components/scheduler.py#L1825-L1849

[2021-05-26 21:14] quasiben commented on #4849
Seems like you may want to consider building a python package if you have multiple files associated with one another.  If not, you could upload multiple files?

[2021-05-26 22:36] fredms commented on #4841
what's vanilla dask workers/scheduler?

[2021-05-26 23:32] quasiben commented on #4841
Sorry, I mean the regular dask-worker and scheduler?

Is this all on one machine?  Are you able to describe the hardware you are using?

[2021-05-26 23:56] jrbourbeau commented on #4855
xrefing https://github.com/dask/distributed/issues/4746

[2021-05-27 03:27] zhangte113 commented on #4849
@quasiben Thank you very much, I made it.

[2021-05-27 05:14] zhangte113 opened #4856 "It becomes slower, when I build clusters between two computers"
After I build clusters between two computers, there are only one process in the dashboard. And the computation speed became slower than that only run in one computer.
I just use `dask-scheduler` and `dask-worker 10.100.207.208:8786` to build clusters. Is there are any way to set the number of process???
![image](https://user-images.githubusercontent.com/49877472/119769605-50f9b200-beed-11eb-80d1-1

[2021-05-27 06:16] fredms commented on #4841
yes,
`"dask-cuda-worker " + scheduler + "--resources GPU=4"`

It is on one compute node:
[code]

[2021-05-27 08:25] YarShev commented on #4842
@martindurant , I think `worker_client` doesn't make sense here because we need to unwrap `wrapped_future` (i.e. call `.get()` and thus `.result()` inside of `.get()`) before we call wrapped lambda inside of a worker.
Even if we change the script above to use `worker_client`, it keeps hanging.

[code]

The reason that `lambda x: x` (actually, any other objects) should be put into distributed memor

[2021-05-27 08:41] #4856 closed

[2021-05-27 09:22] oshadura commented on #4834
@nsmith- about dask-gateway, I was going to try dask-gateway as one of todo's for coffea-casa (I think I mentioned it even in presentation at Dask summit :) ).

[2021-05-27 10:52] fjetter commented on #4842
What do you mean with "distributed memory"? Distributed does serialize the function and arguments (sometimes referred to as `runspec` internally) and submits this to the scheduler as part of the `task`. the scheduler then only submits this to the workers who actually need to know about it. On worker side, this is then also cached such that if it is required repeatedly we're saving some time. The d

[2021-05-27 11:51] michaeldoron59 commented on #4851
@jrbourbeau ?

[2021-05-27 12:52] quasiben commented on #4849
Were you able to create your cluster correctly this time ?

[2021-05-27 13:00] quasiben commented on #4841
Hmm, I would suggest running the following tests:

Test regular dask workers correctly:

[code]

Test dask-cuda works correctly:

[code]

[2021-05-27 13:17] quasiben commented on #4851
@jacobtomlinson do you have time to test out latest dask helm chart to see if you can reproduce ?

[2021-05-27 15:13] fjetter opened #4859 "Test timeout test_target_duration"
The test `test_target_duration` is frequently hanging and is torn down by pytest-timeout which aborts the entire test run. Cause is unclear and it is not reliably reproducible.

Example run https://github.com/dask/distributed/runs/2683878847?check_suite_focus=true

<details/>

[code]

[2021-05-27 15:41] bbockelm commented on #4834
To be clear, OAuth2 is simply a protocol for distributing the tokens.  I think what you're really proposing here @nsmith- is having a token-based authentication mechanism for authentication within the cluster?  The distribution of the token to the client (via OAuth2) almost certainly should be done outside of Dask.

Two thoughts:

1.  There's not a great way to add a token to the TLS transport its

[2021-05-27 16:39] bbockelm commented on #4834
Yes, agreed, that ticket is a reasonable way to go about it.

I do think easier distribution is indeed something worth highlighting.  Another thing that might be possible is having different authorized roles (e.g., client-only token, worker node-only token) without having to break into the concept of authentication and mapping client certificates to specific roles.

Right.  I think @ncsmith- might

[2021-05-27 18:39] zhangte113 opened #4861 "It becomes slower, when I build clusters between multi computers"
I did a test to compare the time that code runs on one computer and four computers.

1.  one computer with 32G memory： total time about 8 mins
![image](https://user-images.githubusercontent.com/49877472/119879087-68708380-bf5d-11eb-81ac-435c5e16fca7.png)

2. four computers with a total  memory of more than 100G： total time of about 12 mins
![image](https://user-images.githubusercontent.com/4987747

[2021-05-27 22:00] fredms commented on #4841
I think I figured out the cause.
It looks like that `dask-cuda-worker` takes longer time to start a worker and I have to wait some time before create client connection.

[2021-05-27 22:53] quasiben commented on #4841
Great!  Glad things are working for you .  In the future you might want to use something like:

[client.wait_for_workers(n_workers=...)](https://docs.dask.org/en/latest/futures.html?highlight=wait_for_workers#distributed.Client.wait_for_workers)

[2021-05-27 22:53] #4841 closed

[2021-05-28 02:24] zhangte113 commented on #4849
@quasiben Yes, I can. In fact, I have a model(named constant) out of the main model(named cosipy), so it doesn't work. Then I moved the constant model to the cosipy model and changed the way of import(from cosipy.comstant import *), it can work.
Thank you very much again!

[2021-05-28 02:46] zhangte113 commented on #4861
Sometimes, the two speeds are similar, but the former will not surpass the latter.

[2021-05-28 03:59] gjoseph92 commented on #4849
Out of curiosity, @zhangte113 do you think https://github.com/dask/distributed/pull/4628 would be helpful to you here? (Documentation for this is at https://github.com/dask/dask/pull/7459/files.)

[2021-05-28 12:16] YarShev commented on #4842
By "distributed memory" I refer to the concept that is used in dask.distributed documentation ([link](https://distributed.dask.org/en/latest/memory.html)).

It is mostly done to retrieve preliminary saved data from distributed memory avoiding extra serialization.

Oh, my fault, thanks! However, even if we apply your suggestion, the script keeps hanging.

Even if we replace `complex_obj = FutureWra

[2021-05-28 13:24] fjetter opened #4862 "Flaky distributed/tests/test_worker.py::test_lifetime"
Random test failure of `distributed/tests/test_worker.py::test_lifetime`

First observed in https://github.com/dask/distributed/pull/4774/checks?check_run_id=2693532608

<details/>

[code]

[2021-05-28 13:38] quasiben commented on #4861
It's hard to say why something is slower/faster without a detailed look at the code.  Moving data between machines can be a source of slower performance.  I'd recommend reading: these two pages:
- https://docs.dask.org/en/latest/understanding-performance.html
- https://distributed.dask.org/en/latest/diagnosing-performance.html#performance-reports

[2021-05-30 02:00] zhangte113 commented on #4861
@quasiben Thank you very much, but this is hard for me to understand. Maybe I have to give up it.

[2021-05-31 07:52] #4565 closed

[2021-05-31 14:30] fjetter commented on #4790
FWIW I can reproduce this and #4839 reliably locally using `pytest-xdist` with oversubscribed CPUs, i.e. by more processes than actual CPUs. That simulates the heavy load problem of CI.
I would suggest to remove these tests since we're effectively only testing the stdlib here anyhow.

[2021-06-01 10:37] prutskov commented on #4842
Code with  `namedtuple`-wrapper instead of class-wrapper also keeps hanging:

[code]

@fjetter Do you test this in a pure environment? Could you clarify packages versions which I should use to reproduce your behavior of the script?

[2021-06-01 12:39] mrocklin commented on #4790
This doesn't quite test the stdlib.  We needed to make our own timers in
order to support subsecond readings for Windows.  This code is in metrics.py

On Mon, May 31, 2021 at 9:30 AM Florian Jetter ***@***.***>
wrote:

[2021-06-01 14:21] fjetter commented on #4790
order to support subsecond readings for Windows.  This code is in metrics.py

That's true for `metrics.time` but not for `metrics.thread_time` and `metrics.process_time`. Here the relevant code

https://github.com/dask/distributed/blob/9d4f0bf2fc804f955a869febd3b51423c4382908/distributed/metrics.py#L86-L95

`timemod` is simply `import time as timemod` https://github.com/dask/distributed/blob/9d4f0

[2021-06-01 21:43] mivade commented on #2992
I'm seeing this issue sporadically now with distributed version 2021.5.1 (I upgraded from 2021.5.0 which was also showing this problem). Did this regress?

[2021-06-01 21:55] mivade commented on #2992
Nevermind, my conda environment seems to have been in a weird state. I'm not sure exactly what caused it, but wiping and recreating it from scratch made this go away.

[2021-06-01 22:20] chrisroat commented on #4471
FWIW, when the solution with wait_on is deployed on a cluster with auto-scaling (at least in my hands), I do not see the same improvement.  I'm not sure exactly what could be different.  For now, I just manually provision/deprovision, and avoid autoscaling for these calculations.

[2021-06-02 04:48] martinsotir opened #4868 "Workers' system monitors errors when running without GPU and pynvml initialized/installed"
**What happened**:

I am getting a lot of errors on Dask workers started on hosts without GPU (at least with no visible GPUs, within SLURM jobs) :

[code]

**What you expected to happen**:

Be able to deploy Dask workers without errors even when pynvml initialize correctly and no GPU are available.

**Anything else we need to know?**:

* I am not 100% confident, but I don't think this issue affect

[2021-06-02 13:40] mrocklin opened #4870 "Add bar chart for worker occupancy"
We currently have bar charts for worker memory and the number of tasks processing.  A similar chart to number of tasks processing would be worker occupancy, which records the sum of the amount of compute time of all tasks currently residing on the worker.  This would be exactly like the number of tasks processing chart, but use `ws.occupancy` rather than `len(ws.processing)`

I would have used thi

[2021-06-02 13:41] mrocklin opened #4871 "Rename "nbytes" chart to "worker memory""
The current chart in the dashboard that is named "nbytes" should probably be renamed to something else.  I suggest "worker memory", which I think is more easily identifiable

[2021-06-02 14:24] jrbourbeau commented on #4868
Thanks for reporting @martinsotir! cc @pentschev @quasiben @charlesbluca

[2021-06-02 14:33] mrocklin opened #4872 "Worker memory chart is very jittery"
Currently the worker memory chart moves around a lot as data is allocated and deallocated rapidly.  This makes it distracting and hard to read.  I suggest that we consider slowing down the rate at which we scale down the x-axis after deallocation.  Maybe at every cycle we only allow it to decrease by 5% or something.  Inside the code for updating this plot we would look at the maximum of the x-ran

[2021-06-02 14:34] mrocklin commented on #4872
Actually, looking at it now while it's still at rest it appears to be jumping around on its own faster than the cycle time.  I suspect that there is some fanciness going on (maybe even fanciness like what I propose above)

[2021-06-02 14:38] crusaderky commented on #4871
on it

[2021-06-02 14:45] jrbourbeau commented on #4872
xref-ing https://github.com/dask/distributed/issues/4675 as these issues might be related

[2021-06-02 14:47] pentschev commented on #4868
Thanks for the report @martinsotir , this should be an easy fix. I send a PR shortly.

[2021-06-02 15:01] pentschev commented on #4868
I opened https://github.com/dask/distributed/pull/4873 to handle this. @martinsotir would you be able to test that and see if it resolves your use case?

[2021-06-02 15:58] jacobtomlinson commented on #4851
With the latest release of the Dask helm chart I am unable to reproduce this.

Steps I tried:
- Deploy Dask helm chart
- Port forward Jupyter service locally, create a `Client` and do some quick `dask.array` tests
- Port forward the scheduler dashboard service locally and view all tabs.

[2021-06-02 16:57] jrbourbeau commented on #4870
Good idea -- a worker occupancy plot would be useful. cc'ing @charlesbluca as you may find this interesting

[2021-06-02 21:31] jakirkham commented on #4538
At the end of that Python issue Christian notes this is fixed in Python 3.10. PR ( https://github.com/python/cpython/pull/25468 ) seems to be the relevant change.

Also he notes that this due to limitations of OpenSSL 1.0.2 and so remains an issue where that OpenSSL version is used. This is not an issue when OpenSSL 1.1.1 is used with the patch noted above

[2021-06-02 22:52] cjnolet opened #4877 "scheduler.json to store additional connection arguments to the scheduler"
Currently, enabling Infiniband support for a Dask cluster using UCX requires that the workers and client be configured w/ the same connection arguments as the scheduler. As an example of a realistic configuration in a CUDA environment, a user might need to specify options to enable `tcp-over-ucx`, `nvlink`, `infiniband` and potentially `rdmacm`. In addition, they might need to manually specify a v

[2021-06-02 23:15] RichardScottOZ commented on #4538
Seems to happen on the bigger/longer workloads I was doing- haven't seen it on small ones as yet.

[2021-06-02 23:58] ian-r-rose commented on #4827
I've published a patch release of `dask-labextension` which avoids this behavior.  It doesn't fix any underlying reference leaks on the scheduler, but should make it much less likely that users will run into them.

A small reproducer for this which is independent of using JupyterLab:

In one terminal:

[code]

Run a small python script:
[code]

watch CPU for the process climb.

A fair criticism he

[2021-06-03 00:05] joseph-long commented on #4827
It's like you read my mind. I was just checking in to see if the PR had made it into a release!

[2021-06-03 00:46] jrbourbeau commented on #4827
Thanks @ian-r-rose! @joseph-long do you mind trying out the new `dask-labextension` release and letting us know if it fixes the issues you were seeing?

[2021-06-03 01:04] jakirkham commented on #4538
Yeah suspect that it is likely reproducible with a large message if that CPython bug is relevant. If not, maybe we are missing something

[2021-06-03 13:19] #4861 closed

[2021-06-03 13:19] #4849 closed

[2021-06-03 14:46] mrocklin commented on #4877
An alternative would be to put those values into configuration files.  In
situations where we're using the scheduler file I suspect that we also have
a shared file system and so using a shared configuration file might work ok?

If we want to add support for arguments in the scheduler file then I would
ask that we think about how to do this holistically, rather than just for
UCX (although I suspect

[2021-06-04 00:59] gjoseph92 opened #4880 "Make remote tracebacks easier to read and distinguish"
When an exception occurs on the cluster, the traceback that shows up is long, and includes both a local component and a remote component. I suspect this is a stumbling block for beginners because:
1. When tracebacks are too long, people glaze over and don't read them
2. For those that do read them, separating the local client boilerplate from the remote part requires practice

Specifically, I alwa

[2021-06-04 11:16] apatlpo commented on #2602
Hi all, thank you very much for exposing this challenge @rabernat !
The issue was very helpful to our team.

I am not sure this is the right place for it but don't know where to push it otherwise.
I deeply apologize if this is not the place to report on this.

We have been using for some time an helper method in order to sequentially process large datasets along embarrassingly parallel dimensions

[2021-06-04 12:57] fjetter commented on #4859
The test stimulates an upscaling to 20 workers. I could track this down to a race condition where the cluster close would hang in the `SpecCluster._lock` while trying to upscale the 20 workers here https://github.com/dask/distributed/blob/6b089268387121e8220803fdef6d074bc7d349df/distributed/deploy/spec.py#L369
while simulateneously trying to close. The close call tries to scale down to zero worker

[2021-06-04 13:14] rpanai opened #5447 "FargateCluster timeout on exit"
When I close a Fargate cluster (similar to [#220](https://github.com/dask/dask-cloudprovider/issues/220#issue-765269946) )
 using

[code]
I receive the following error
[code]

[2021-06-04 14:23] #4868 closed

[2021-06-04 14:49] quasiben opened #4881 "Scheduler Experiments"
1. Is tornado usage causing significant performance degradations ?
a. Should we replace tornado with asyncio/custom library (uvloop friendly)
b. Test UCX (TCP only) this will not use tornado for comms and give us some idea of the performance benefits if we replaced tornado

2. Are we sending messages too frequently ?
 a. We can batch writes from worker -> scheduler by increasing worker batch sizes

[2021-06-04 15:23] fjetter commented on #4881
I'd be interested in some statistics for this, e.g. how large are our batches we send on average (# msgs not necessarily byte size)

[2021-06-04 16:04] mrocklin commented on #4881
It would be easy to add some basic running statistics on the BatchedSend
object to start.  That's something that I could imagine putting into main.

On Fri, Jun 4, 2021 at 10:23 AM Florian Jetter ***@***.***>
wrote:

[2021-06-04 16:33] #4560 closed

[2021-06-04 16:33] #4598 closed

[2021-06-04 16:33] #4655 closed

[2021-06-04 17:09] mrocklin commented on #4655
That's actually a really interesting point.  cc'ing @martindurant who has thought about this in the past.

I suspect that if we had layers that were strictly IO, and then marked those layers with the appropriate annotation,  then everything here might _just work_?  (I think that high level fusion doesn't cross differences in annotation)

[2021-06-04 17:35] jakirkham commented on #4655
Was also thinking about that in the context of spilling

[2021-06-04 17:37] martindurant commented on #4655
This is almost never the case. Not only does loading bytes often need some CPU (e.g., gzip decompression of HTTP calls; which may be offloaded to a thread maybe), and for dask only usually form *part* of a given task. For the simplest example, a zarr load may fetch several chunks concurrently on the event loop, and then decode them synchronously on the worker thread (this can be quite a speed-up).

[2021-06-04 17:38] jakirkham commented on #4655
This might be a harebrained idea, but haven't quite shaken it. We might want to explore this new functionality Mads has added with a custom `Executor` using CUDA streams. Wrote it up as issue ( https://github.com/rapidsai/dask-cuda/issues/641 ) if others have thoughts.

[2021-06-04 17:55] mrocklin commented on #4655
Yeah, to be clear, I'm saying that if we were to change how dask collections handle IO, by moving `read_bytes` calls into fully separable tasks, then we could take advantage of this.  You had mentioned this in the past I think.

It wouldn't work for Zarr, you're right, because that abstraction hides I/O from us, but it could work for Parquet, CVS, and others if we wanted to make that explicit spli

[2021-06-04 18:00] mrocklin commented on #4880
There are some cases where I or others want to see the full traceback, but I agree that this probably shouldn't be the default.  I'd be comfortable cutting off the traceback at a certain point.  Ideally this would be controllable by a configuration value.

[2021-06-04 18:07] jakirkham commented on #4655
It might work if we supplied that in a `MutableMapping` or `fsspec` based object that Zarr could consume

[2021-06-04 18:26] martindurant commented on #4655
@jakirkham : that's already the case, and you could set the fsspec backend's loop to be the one it needs to be; but zarr will still do its part decoding synchronously. You'd have to pass the filters down to the storage layer and replicate the work there - but then it would no longer be pure IO.

I think a rewrite in which we can fetch multiple blocks of bytes in a single task and pass to a separat

[2021-06-04 18:33] martindurant commented on #4655
Recent example of increasing the chunk size (of the dask task - same on disk) in zarr: https://nbviewer.jupyter.org/gist/rsignell-usgs/9ccb9c18d4c1bf2205561387837d6868

Time went 30s->20s; can't readily tell on the surface how much was IO/latency.

[2021-06-04 19:08] gjoseph92 commented on #4880
I think the key is "when we _know_ the error wasn't an internal distributed error". Specifically, if the client is re-raising an exception sent from the cluster, I think we know that the preceding client frames aren't that relevant (besides maybe knowing the top-level client function, hence the `While calling Client.compute`).

Also agreed.

[2021-06-05 23:08] chrisroat opened #4884 "Restart worker on CommClosedError"
On a dask-gateway GKE cluster, I have a few workers that stop processing and the logs show some combination of CommClosedError, missing dependency warnings, and garbage collection.  The scheduler seems happy with the worker, as the "Last seen" remains up to date.

I've attached an example log.  This worker was still in "processing" for its current task, which I think is sub-second, after 30 minute

[2021-06-07 08:53] fphammerle commented on #4851
I have the same issue on `v2021.05.1`.

Requests to scheduler at http://127.0.0.1:8787/status return HTTP500.
Scheduler's log:
[code]

http://127.0.0.1:8787/workers
[code]

http://127.0.0.1:8787/system
[code]

http://127.0.0.1:8787/tasks and http://127.0.0.1:8787/info/main/workers.html look ok

[2021-06-07 09:19] SteffenBauer opened #4885 "Simple local cluster on laptop fails with deactivated GPU"
**What happened**:
Thinkpad T470p with dual Intel HD Graphics 630 / Nvidia GeForce 940MX GPU ('optimus' configuration). I use [bumblebee](https://wiki.debian.org/Bumblebee) to switch on/off the Nvidia GPU only when I need it for CUDA computational work to save power. The Nvidia is still visible but inactive when switched off this way.

When I start below code snippet with a deactivated Nvidia, it

[2021-06-07 09:34] jacobtomlinson commented on #4851
Without a minimal reproducer like @jrbourbeau suggests in https://github.com/dask/distributed/issues/4851#issuecomment-848215293 we can't start to debug this. I am unable to reproduce so far.

[2021-06-07 12:14] fjetter commented on #4884
I am currently investigating a deadlock issue which might be connected to this. Can you reproduce this?

See https://github.com/dask/distributed/pull/4784 (the issue is long and grew in scope)

[2021-06-07 15:43] mrocklin commented on #4781
@quasiben in case anyone on your team wants to add this

[2021-06-07 17:00] fgebhart commented on #4830
Thank you @fjetter for your feedback. I will keep you updated in case of any news.

[2021-06-07 17:36] jrbourbeau commented on #4885
Thanks for reporting @SteffenBauer! cc @pentschev @quasiben

[2021-06-07 17:41] pentschev commented on #4885
A way to tell any process to ignore NVIDIA GPUs is to specify an empty string to `CUDA_VISIBLE_DEVICES`, prepending it to the process or running `export CUDA_VISIBLE_DEVICES=""` before launching Python. Programatically, you can place the following at the top of your code:

[code]

Could you try that @SteffenBauer ? Unfortunately, bumblebee can create a number of issues such as the one you're repor

[2021-06-07 17:56] quasiben commented on #4781
@charlesbluca do you have time to look at this issue?   If you do, that'd be great especially given recent experience with performance_report updates

[2021-06-07 18:13] charlesbluca commented on #4781
Sure! I can look into this

[2021-06-07 20:31] charlesbluca commented on #4781
I have a pretty simple implementation of this working:

![image](https://user-images.githubusercontent.com/20627856/121080695-c006be80-c7a9-11eb-9f5d-b438189865cf.png)

Happy to open a PR for this, although a thought that crossed my mind while working on this is that scheduler (and worker) logs might be easier to incorporate into the performance reports if we migrate some of the Tornado app inform

[2021-06-07 20:44] mrocklin commented on #4781
Woot.  Hooray for the fast turnaround.

I know that this is just an early/rough draft, but two small comments (you may already have these in mind)

1. We probably don't want that much space given to the log level.  Currently half of our pixels are not-very-informative
2. We might want to get clever and bold or redden error/warning/critical logs

If we're being bound by Bokeh's table plot type then

[2021-06-08 06:08] chrisroat commented on #4884
Reproduction can be tricky.  I see this sporadically on a GKE cluster.  It'll take me a day or two to find time to test this usefully.

[2021-06-08 06:15] YarShev commented on #4842
I see distributed released new version on June, 4. What actions/plans to fix this issue for the next release?

[2021-06-08 06:59] fphammerle commented on #4851
Thanks for your reply! I am sorry, I didn't test this immediately but
the upgrade from `v2021.05.1` to `v2021.6.0` fixed the issues mentioned here: https://github.com/dask/distributed/issues/4851#issuecomment-855742641
I am now able to open all tabs of the scheduler's dashboard.

[2021-06-08 07:46] SteffenBauer commented on #4885
I already tried this by setting CUDA_VISIBLE_DEVICES='' with starting the file as script, as mentioned in my initial post.

To be sure, I set it inside the python script, but I still get the crash. It looks to me that Distributed is not observing CUDA_VISIBLE_DEVICES when it is set to empty, in contrast to Tensorflow.

Both
[code]
and
[code]
fail with `pynvml.nvml.NVMLError_Uninitialized: Uninitia

[2021-06-08 08:25] pentschev commented on #4885
Ah yes, you're right, NVML doesn't respect `CUDA_VISIBLE_DEVICES`, I had this discussion just last week with @quasiben and missed this now again as well as your initial post, sorry about that.

Unfortunately, I don't think there's another way of disabling GPU visibility in NVML. The only option I can see at this point is that we introduce a variable in Distributed to explicitly disable it, such as

[2021-06-08 09:01] michaeldoron59 commented on #4851
Well I suppose we should try to update and see if the problem being resolved, as it's very complicated to let you a minimal reproducible example..  The only possibility I see here is that some developer will make a meeting with me and I'll let him see the problem. But I think that for now I'll just try to update..

[2021-06-08 13:21] oshadura opened #4889 "Dask-worker cli doesn't work with symlinked files passed as a parameters for TLS options (-tls-ca-file, --tls-cert, --tls-key))"
**What happened**:
[code]

[code]

But it works if to use directly `dask-worker --tls-ca-file /etc/cmsaf-secrets/..data/ca.pem ..`, it works...

**Environment**:

- Dask version: 2021.06.0
- Python version: Python 3.8.8 from conda
- Operating System: Debian based image
- Install method (conda, pip, source): conda

cc: @bbockelm

[2021-06-08 13:23] oshadura commented on #4889
We are not sure when happen regression but we noticed problem while updating between Dask 2021.06.0 and 2021.05.0

[2021-06-08 14:16] fjetter commented on #4884
That's what I thought so don't worry. I still wanted to ask in case this was my lucky day :)

If you can afford this without slowing down your system too much, debug logs might indicate one or two useful things. Either way, I'm working on getting #4784 merged which fixed two deadlock situations. Before you dive into too sophisticated testing, I would suggest to wait for this to be released

[2021-06-08 14:24] quasiben commented on #4885
I don't see an alternative here.  I think it make sense to have an option to not load any GPU even if they are present on the system.  `DASK_DISTRIBUTED__NVML` is fine can you think of a more descriptive name ?

[2021-06-08 14:42] rjzamora opened #4890 "[DISCUSSION] Can the scheduler use pickle.dumps?"
This question/discussion is related to the ongoing `HighLevelGraph` (HLG) work in dask/dask and dask/distributed (and the clear [need for documentation](https://github.com/dask/dask/issues/7755)).

In order to establish a formal convention for the implementation of `Layer` objects, it is essential that we also establish a clear specification for task-serialization in `Layer.__dask_distributed_pack

[2021-06-08 14:43] SteffenBauer commented on #4885
I checked `distributed.yaml`, according to the configuration schema perhaps `DASK_DISTRIBUTED__NVML__ENABLED`? This could allow further configuration options for nvml in the future, should the need for it arise.

[2021-06-08 14:52] pentschev commented on #4885
@quasiben could you elaborate on what you mean by "not load any GPU"? Currently, I think the only part that actively attempts to address GPUs is the NVML module -- apart from the UCX comms which will create a CUDA context when `cuda-copy=True`. I don't know what more we could prevent from doing that, for instance anybody could use Numba/CuPy or some other GPU library that would create contexts any

[2021-06-08 14:57] quasiben commented on #4885
You're correct.  Loading GPUs from Numba/CuPy will also be possible so it's just the NVML module

[2021-06-08 15:46] mrocklin commented on #4890
It's ok to call pickle.dumps (not a security concern), but it seems slightly unclean/suboptimal to me.

[2021-06-08 15:55] rjzamora commented on #4890
Thanks for the reply Matt!  Just to clarify, I do not envision a case where the scheduler will explicitly call pickle.dumps, but I was worried that the scheduler may not be allowed to use a serialization utility (like `dumps_task`) that may need to use pickle.dumps internally.  After our offline discussion, it soulds like this is "okay"

[2021-06-08 17:34] mrocklin opened #4891 "Deprioritize/pause tasks that generate memory"
Some workloads get bogged down because they generate data faster than they clean it up.  This is commonly caused by very fast access to I/O, but relatively slower access to inter-worker communication, such as occurs in large reductions.

This has come up several times, notably in https://github.com/dask/distributed/issues/2602 and https://github.com/ocean-transport/coiled_collaboration/issues/3 .

[2021-06-08 17:40] mrocklin opened #4892 "Co-assign neighboring tasks to neighboring workers"
**Edit:** This proposal is now defunct(ish).  Read below for updated proposal.

Sometimes we assign tasks that are closely related to different machines, resulting in unnecessary communication.  The most simple case is when we have a couple of siblings

[code]

Because neither `a` nor `b` have dependencies, they are assigned somewhat randomly onto workers.  However because `c` requires them both o

[2021-06-08 17:47] mrocklin commented on #4892
I hit send on this too early.  I've updated the original comment.

[2021-06-08 17:50] TomAugspurger commented on #4892
A (failed) attempt at something like this in https://github.com/dask/distributed/pull/2940. I didn't post it, but I vaguely recall that approach really slowing down the scheduling.

[2021-06-08 17:51] mrocklin commented on #4892
Yeah, the implementation you had hit the full `N^2` case.  See https://github.com/dask/distributed/pull/2940/files#r311737887

I'm hopeful that if we are able to restrict things suitably that we can avoid significant slowdown

[2021-06-08 17:54] mrocklin commented on #4892
Conversely though, the question of the approach in this issue is whether or not this set of constraints will let us actually solve important problems.  It could be that although these constraints make things fast, they exclude important cases.

For example, this wouldn't work with a rechunk situation (although, to be fair, that graph is fully connected in just two layers, and so not a case where w

[2021-06-08 18:42] mrocklin commented on #4872
cc also @crusaderky

[2021-06-08 18:51] jrbourbeau commented on #4889
Thanks for reporting @oshadura. The only recent CLI-change that is coming to mind is https://github.com/dask/distributed/pull/4810, but that was included in the `distributed=2021.05.0` release so probably isn't related to what you're seeing. What version of `click` are you using? You might try with `click < 8` to test if you're running into https://github.com/pallets/click/issues/1921

[2021-06-08 19:53] crusaderky commented on #4872
If you're talking about x_range.end, it only changes when
1. you add or remove a worker
2. the amount of spilled memory causes process + spilled memory to go beyond the worker's memory limit

In both cases rate limiting won't solve the problem. On chrome the graph keeps bouncing around well after x_range.end has stopped moving, and only stabilizes after a browser page refresh.

[2021-06-08 21:51] mrocklin commented on #4892
OK, @gjoseph92 and I were talking about this for a while.  I'll try to summarize some of the thoughts that went around there.

First, Gabe brought up the same concern I brought up before with Tom around checking for siblings, namely uncles/aunts, cousins, second cousins twice removed, and so on.  Graphs get messy and so restrictive rules are less fun.

We then went on a journey thinking about swit

[2021-06-08 22:12] pentschev commented on #4885
@SteffenBauer would you mind testing if https://github.com/dask/distributed/pull/4893 fixes the issue for you? You should have two options:

1. [Edit the `distributed.yaml` file](https://docs.dask.org/en/latest/configuration.html), setting `distributed.diagnostics.nvml=False`; or
2. Setting the environment variable `DASK_DISTRIBUTED__DIAGNOSTICS__NVML=False` (`False` is case-sensitive here, make s

[2021-06-08 22:31] mrocklin commented on #4890
I think that there is a broader question of "How should the Client, Scheduler, and Workers jointly talk about tasks?  Especially given the possible complexity of tasks and the restrictive nature of the path through the Scheduler."

One approach would be to communicate tasks as a serialized callable, and then msgpack-serializable kwargs.  Maybe there is a way to standardize on something like that a

[2021-06-09 07:16] SteffenBauer commented on #4885
Looks good!

Steps I took to test fix #4893:

a) Clone fork branch `pentschev/distributed`
`git clone git@github.com:pentschev/distributed.git`
`cd distributed; git checkout config-nvml`

b) Build python wheel:
`python3 ./setup.py bdist_wheel`

c) Replace main `distributed` with patched build:
`pip uninstall distributed`
`pip install dist/distributed-2021.4.0+88.ga2e26b6b-py3-none-any.whl`

d) Tes

[2021-06-09 10:35] pentschev commented on #4885
Thanks @SteffenBauer for confirming. I pushed another small commit to fix CI issues, I don't expect that would change the behavior for your case, but if you have a chance could you test it as well just in case?

[2021-06-09 11:03] oshadura commented on #4889
@jrbourbeau wonderful investigation! You were right, I deployed both images separately in prod and dev instance and I see that not working image with dask 2021.06.0 has click "8.0.1" while working 2021.05.0 still has '7.1.2'

Using reproducer from https://github.com/pallets/click/issues/1921:

 Dask 2021.05.0 (from conda) with click '7.1.2'

[code]
Dask 2021.06.0 (from conda) with click "8.0.1"

[

[2021-06-09 11:16] SteffenBauer commented on #4885
@pentschev I build a new wheel from scratch with your newest commit.

To check, package is `distributed-2021.4.0+89.g0c154324-py3-none-any.whl`, so commit number is your latest commit (0c15432), I'm testing against the correct commit.

[code]
Still works fine. As expected test script throws NVMLError without env variable.

[2021-06-09 11:25] fjetter commented on #4892
I don't mind the batched assignment and think this is in general a good idea as long as it requires minimal state and clean APIs. I wouldn't want to have something like `Worker.gather_dep / Worker.select_keys_for_gather` again. imho, that feels overly complicated. If we can pull this off with minimal state and clean APIs, that's great. However, our entire state machine is currently working using i

[2021-06-09 11:59] pentschev commented on #4885
Great! Thanks for testing and confirming again @SteffenBauer !

[2021-06-09 13:39] mrocklin commented on #4892
I don't think that code complexity will be a big issue here.  I think that we can accomplish this by storing the most recently assigned worker, and making a ten-line change to decide worker

[code]

That's probably optimistic, but I think that something similar might work

[2021-06-09 13:40] mrocklin commented on #4892
@gjoseph92 my understanding is that you're trying this path out.  Is that correct?

[2021-06-09 13:51] mrocklin commented on #4892
It's also worth noting that all of this is built on the assumption that we're iterating over tasks in a way that respects dask.order.  It might be worth verifying that assumption at some point.  (or not, if this is very easy to test)

[2021-06-09 13:56] jrbourbeau commented on #4889
Thanks for following up @oshadura! I'm going to close this issue for now and we can continue the conversation over on the `click` side

[2021-06-09 13:56] #4889 closed

[2021-06-09 13:57] #4790 closed

[2021-06-09 13:57] #4839 closed

[2021-06-09 14:40] madsbk commented on #4890
I am working on a PR that does exactly that #4897 :)

[2021-06-09 16:16] #4814 closed

[2021-06-09 19:36] jrbourbeau commented on #4478
I just tried this with the latest `main` branch of `dask` and `distributed` and don't see errors logged. @mariusvniekerk could you try again with dev versions of `dask` and `distributed`?

Also, note I had to make a couple of changes (e.g. add `import`s) to the snippet you posted. Here's what I ran

[code]

[2021-06-09 19:43] gjoseph92 commented on #4892
@mrocklin yes, I'm working on this.

I think that a clever metric for when to switch to a new worker (like `ts._prefix._duration_average + old.occupancy < ws.occupancy + ratio * ts._prefix._duration_average` in your example) might not be better than just counting how many tasks have been assigned to `last_worker`, and when that's exceeded our `ratio`, finding a new worker. If we trust that our ini

[2021-06-09 20:01] mrocklin commented on #4892
I don't disagree.  However then we would need to keep track of how many tasks we've assigned to each worker.  We're *already* doing this implicitly with occupancy, so I'm reusing that counter by multiplying by the duration_average (which is what gets added to occupancy each time we add a task).

I think that what I wrote down achieves the result that you want, but tracks less new things.

[2021-06-09 20:02] mrocklin commented on #4892
Regardless, I think that the thing to do now is to try this out and see how it performs.  I'm hopeful that this is a small enough change that running this experiment takes a small number of hours.

[2021-06-09 20:03] mdering commented on #4800
Hi, is there any news on this? If this is indeed a typo, it should be easy to fix, is there any reason not to fix it?

[2021-06-09 20:11] quasiben commented on #4881
UCX Experiment (Linux Only):

Build UCX/UCX-Py from latest:

[code]

Configure scheduler:

Worker:

Client

The [UCX_TCP_TX/RX_SEG_SIZE](https://ucx-py.readthedocs.io/en/latest/configuration.html#ucx-tcp-rx-seg-size) env var is something which can be tuned.  We've found `8M` to be a good size for setting the send/receive buffer size but have not investigated deeply here

cc @gjoseph92

[2021-06-09 20:45] gjoseph92 commented on #4892
Unfortunately `ts._prefix._duration_average` is -1 for all the root `sum` tasks in the example from #4864. I'd expect this to be the case in general, since we should be scheduling root tasks much faster than they complete—when we're scheduling the second root task moments after scheduling the first, we wouldn't have any timing information about that task prefix yet.

[2021-06-09 21:16] gjoseph92 commented on #4892
Here are initial results from #4899. I'm using a `_last_worker_tasks_left` field on the TaskGroup to keep track of when to switch to a new worker for the reason above.

Performance report: https://cloud.coiled.io/gjoseph92/reports/16. The task stream looks great; no transfers just like in #4864.

I'm confused why worker memory usage increases like this, as though tasks aren't being released from m

[2021-06-09 21:40] mrocklin commented on #4892
Those look like excellent initial results?  :)

[2021-06-09 21:41] mrocklin commented on #4892
I'm curious if any of the Pangeo workloads benefit from this as well .  Is it too early to ping Julius?

[2021-06-09 22:14] gjoseph92 commented on #4892
I think it is. I'll try running some Pangeo cases once this is further along, but I think this monotonically-increasing-memory issue is important to track down first.

[2021-06-09 23:01] mrocklin commented on #4892
This feels like an orthogonal problem to me.  We can see that tasks are being assigned to workers well.  Extra memory sticking around seems to be a lower level issue to me.

[2021-06-10 00:17] gjoseph92 commented on #4892
Using jemalloc on macOS (with `DYLD_INSERT_LIBRARIES=$(brew --prefix jemalloc)/lib/libjemalloc.dylib mprof run --multiprocess test.py`) gives this—so yup, it was the same malloc issue as usual:

![jemalloc](https://user-images.githubusercontent.com/3309802/121445141-17de2a80-c94e-11eb-9440-9ff1180d5746.png)

[2021-06-10 13:49] mrocklin commented on #4881
Gabe had decent results with batching messages, which shows that there are
certainly some benefits to be gained.  I do think it would be useful to do
the UCX experiment as well to see if it's more about Tornado IOStreams or
more about the concurrency system, but in general we have good signal that
there is room for optimization here.

On Wed, Jun 9, 2021 at 3:11 PM Benjamin Zaitlen ***@***.***>
wr

[2021-06-10 14:16] mrocklin commented on #4781
Yeah, right now I think that it makes sense to optimize for static HTML, either for the performance report, or for the dashboard info pages (we serve static log reports there as well)

99% of the time I want logs it's to look at something that has already happened, rather than to look at ongoing activity.  I think that if removing the option to stream logs can give us a better reader experience th

[2021-06-10 15:07] PeterDaveHello commented on #4514
GitHub Actions doesn't seem to support IPv6 yet, see: https://github.com/actions/virtual-environments/issues/668

[2021-06-10 15:46] jrbourbeau commented on #4640
Closing as this was resolved by https://github.com/dask/distributed/pull/4733. From the current `main` branch:

[code]

[2021-06-10 15:46] #4640 closed

[2021-06-10 16:03] mrocklin commented on #4607
Having get/set routes for msgpack serailizable data in the `Scheduler`, or even down in the`Server` class sounds fine to me.  This should also be pretty trivial to implement.

[2021-06-10 16:08] jrbourbeau commented on #4607
The scheduler already has `get_metadata` & `set_metadata` methods / handlers. I've not looked at them in a while, but they might be of use here

[2021-06-10 19:00] jrbourbeau commented on #4827
Closing this issue as being resolved by https://github.com/dask/dask-labextension/pull/188. @joseph-long let us know if you want us to reopen

[2021-06-10 19:00] #4827 closed

[2021-06-10 19:01] joseph-long commented on #4827
Tried the new release and it worked for me, but forgot to comment. Thanks!

[2021-06-10 19:04] jrbourbeau commented on #4684
Closing for now as it seems we're having trouble reproducing. @bhagatsajan0073 let us know if you'd like to pick this up again

[2021-06-10 19:04] #4684 closed

[2021-06-10 19:27] pentschev opened #4902 "UCX tests broken after `distributed.utils_test.cleanup` import removed"
After #4888 which removed `from distributed.utils_test import cleanup` from files, the UCX test now fails as below:

[code]

This is a file which isn't tested by Distributed's CI currently, which is supposedly the reason the error above wasn't catched. However, it seems that https://github.com/dask/distributed/pull/4888/files#diff-a31c7ed5d35f5ed8233994868c54d625b18e6bacb6794344c4531e62bd9dde59R19

[2021-06-10 19:58] jrbourbeau commented on #4902
Hmm interesting. Looking at the CI logs from https://github.com/rapidsai/ucx-py/pull/750, it looks like the `rootdir` reported by `pytest`

[code]

is pointing to a directory within `distributed`. Maybe the `conftest.py` file in the root of the `distributed` source, which contains the `cleanup` fixuture, isn't being picked up by `pytest`?

[2021-06-10 20:28] jrbourbeau commented on #4902
Good catch. If we stick with keeping plugins in the root `conftest.py`, we should include that file in `distributed/MANIFEST.in`

Can you try commenting out this line locally?

https://github.com/dask/distributed/blob/ee06a44cc4b43270b5ae6ee102481f3bbc9daf27/conftest.py#L37

[2021-06-10 20:40] pentschev commented on #4902
I see a different error now:

[code]

I'm not sure, maybe I'm using it incorrectly? Also, on the link you posted before for `--rootdir` there's no explicit mention to `conftest.py`, so perhaps it's not intended to be used with that file, but only with config files such as `pytest.ini`?

[2021-06-10 21:36] scganterh opened #4903 "Worker started from the command line fails to start"
**What happened**: Worker fails with message `AttributeError: module 'click._unicodefun' has no attribute '_verify_python3_env'` after being started from the command line.

**What you expected to happen**: The worker should start running normally.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**: I am using the following list of dependencies:

    click==8.0.1

[2021-06-10 21:46] jrbourbeau commented on #4903
Thanks for reporting @scganterh! Unfortunately older versions of `distributed` aren't compatible with `click > 8`. You need to either pin `click < 8` or `distributed >= 2021.5.0`. See https://github.com/dask/distributed/issues/4817 for more information.

[2021-06-10 21:46] #4903 closed

[2021-06-10 22:08] scganterh commented on #4903
Thanks @jrbourbeau

[2021-06-10 22:24] jrbourbeau commented on #4902
This feels like a step in the right direction as `pytest` has at least found `/datasets/pentschev/src/distributed/conftest.py` which contains the missing `fixture`s. The `--runslow` option is also specific to `distributed`, but is added in the same root `conftest.py` file

https://github.com/dask/distributed/blob/ddec3c9c7b5a5d3cb3b806ff25ee36ef640d8dda/conftest.py#L23-L24

So I'm not sure why we'

[2021-06-10 22:35] pentschev commented on #4902
Yes, it has found it, I'm wondering whether it expects to do so or it has found it but isn't supposed to support it, and thus a bug in one direction or another.

[2021-06-10 22:40] charlesbluca commented on #4781
Yeah that makes sense; maybe in addition to adding logs to the perf reports, we could also update `logs.html` to roughly match the perf report output. Here's a rough recreation of the Bokeh table, with color coding for different log levels:

![image](https://user-images.githubusercontent.com/20627856/121605593-ad46f080-ca1a-11eb-9097-44b3adaae69d.png)

[2021-06-10 22:52] mrocklin commented on #4781
Cool!  Also, I encourage you to think outside the Bokeh box here.  It's a fine styling to mimic, but by no means special.  We can break out of / extend that style if we find it helpful.  For one thing, we probably don't need to restrict the space of the table in the same way that Bokeh does.

[2021-06-10 23:11] charlesbluca opened #4904 "Prefixing UCX/RMM config variables with `distributed.`"
As discussed in dask/dask#7579, the configuring variables for UCX/RMM are not contained in the namespace of Distributed, despite only being used there. With that in mind, it would make sense moving forward to prefix these variables with `distributed.`, and maybe have some deprecation period to handle scripts using UCX/RMM with the old variables. In general, we should be able to prefix old variable

[2021-06-11 02:06] gjoseph92 commented on #4881
Here are some initial batched send results.

I made the worker batched send interval configurable in my [distributed fork](https://github.com/dask/distributed/compare/main...gjoseph92:worker/config-batched-send-interval?expand=1). Here are profile results:

_Note that when looking at speedscope profiles, make sure `MainThread` is selected via the thread selector at the top or the `n` key_

#### GC

[2021-06-11 02:21] mrocklin commented on #4881
This is exciting.  I see two possible actions:

1. Improve our comm infrastructure to use some lower-level asyncio protocol rather than Tornado
2. Have the scheduler identify that it is under strain and ask workers to slow down on their batch rates.  We do something similar in two ways today
     1. Heartbeat frequencies are sent from scheduler to workers on every heartbeat response.   Based on th

[2021-06-11 06:23] fjetter commented on #4881
I am currently a bit surprised about the `2ms` default interval. that's incredibly small (I cannot even ping my own router in that time but that's probably my crappy home network 😁 ). I would argue this should be at the very least a bit larger than our network latencies, especially considering that we're performing serialization and stuff as well. While our latency measurements are a bit crude, th

[2021-06-11 07:25] fjetter commented on #4902
I agree but frankly I was always wondering why we were shipping tests. If this is what we intend to do we should also add tests for this. anything wrong with checking out source?

While it looks the same, fixture discovery and plugin discovery works slightly differently even though it's all based in `conftest.py`, see https://docs.pytest.org/en/6.2.x/writing_plugins.html#plugin-discovery-order-at-

[2021-06-11 07:26] fjetter commented on #4902
INTERNALERROR> It affects the entire test suite instead of just below the conftest as expected.
INTERNALERROR>   /datasets/pentschev/src/distributed/conftest.py
INTERNALERROR> Please move it to a top level conftest file at the rootdir:

There it is. See my above comment about "nested conftest" files.

BTW is this something you can reproduce locally or is this only happening on CI?

[2021-06-11 09:04] #4833 closed

[2021-06-11 10:38] pentschev commented on #4904
I think that covers all the cases, we will only update how they are used in Dask-CUDA and should be good to go. I would only suggest that we consider whether this should be `distributed.ucx` or `distributed.comm.ucx`, or even a more specific namespace such as `distributed.comm.interface.ucx` (`interface` is obviously a suggestion to a namespace that doesn't exist today, but could be `framework` or

[2021-06-11 11:53] pentschev commented on #4902
I could check the source, there's no reason why we can't, it was more of a question as to what is the intended goal. If the tests are shipped, then I believe it should be ensured that they work, otherwise not shipping them at all seems fine.

Either alternative is fine by me, as long as we know what is appropriate for use.

I can reproduce locally, also reproducible with other tests that don't req

[2021-06-11 12:52] mrocklin commented on #4881
I remember originally tuning this number by running something like a rapid ping-pong computation and bringing this number down until it no longer had an effect.  I agree that we could probably bump it up to something like 5ms by default and probably be fine.  We could also make it configurable.

I like the idea of it being auto-tunable though.  I think that this is probably pretty doable.  It work

[2021-06-11 13:28] mrocklin commented on #4781
For example, if using the table forces us to specify a fixed size then let's drop the table entirely and use `<p>` tags or something else.

[2021-06-11 13:49] charlesbluca commented on #4781
The sizing here is less of a table problem and more of a Bokeh app quirk that might be going over my head - in general, to add the raw HTML to the app, I've been wrapping it in a `Div()` object which typically would have sizing applied through the same `sizing_mode` param that we use in other Bokeh components; that doesn't seem to work as expected here.

I'm okay with dropping the idea of a log ta

[2021-06-11 13:54] mrocklin commented on #4781
You're probably already looking at it, but the code in Scheduler.performance_report that generates the first page of the performance report might be a good model.   That manages raw HTML and seems to avoid the sizing issue that you're running into.

[2021-06-11 13:56] fjetter commented on #4881
I agree with you and I would prefer the auto tune over introducing another expert level parameter no actual user can reason about. That also feels like the only sensible way to handle scaling well, even if it is as simple as the heartbeat scaling.

[2021-06-11 14:26] charlesbluca commented on #4781
Inspecting the HTML on that page, it looks like it has the same behavior of my table, in that regardless of the sizing policy specified, the containing `Div()` will size itself to fit the widest element in the raw HTML; that doesn't really matter for the summary page where the contents are on a white background, but is more apparent on a table with colored rows.

In that case, it might be best to

[2021-06-11 14:41] fjetter opened #4905 "Flaky test_scale_up_down"
The test `distributed/deploy/tests/test_slow_adaptive.py::test_scale_up_down` appears to leave RPC comms open

https://github.com/dask/distributed/pull/4784/checks?check_run_id=2803492944

<details/>

[code]

[2021-06-11 15:00] charlesbluca commented on #4781
Here's what something like that would look like:

![image](https://user-images.githubusercontent.com/20627856/121706311-82ed4580-caa3-11eb-9e99-446fda2b9eeb.png)

[2021-06-11 15:12] jacobtomlinson commented on #4714
Supporting heterogenous workers is definitely interesting. This would definitely require some thinking about as we may want to add labels and things to enable task annotation.

For the CPU problem specifically you can now set `nprocs` as `auto` which should detect local resources the same way `LocalCluster` does.

[2021-06-11 15:57] jakirkham commented on #4881
Gabe, have we been able to trackdown what is being GC'd? Is it particular `*State` objects, `Task*` objects, builtin Python objects, or something else? Also does it show up at a particular time like serialization, task submission, task completion, etc.?

[2021-06-11 16:01] mrocklin commented on #4781
I'm curious Charles, what are your thoughts?  You're as likely as anyone
here to have to look at logs.  What looks good to you here and what looks
bad?

On Fri, Jun 11, 2021 at 10:01 AM Charles Blackmon-Luca <
***@***.***> wrote:

[2021-06-11 16:40] gjoseph92 commented on #4881
@jakirkham I haven't looked into GC further. And I haven't noticed much pattern around when it shows up, though you can see [on the profile](https://www.speedscope.app/#profileURL=https%3A%2F%2Frawcdn.githack.com%2Fgjoseph92%2Fdask-profiling-coiled%2F370ae24b7ae81636c310d68bf9f876a63decea08%2Fresults%2Fcython-shuffle-gc.json%3Fraw%3Dtrue) it seems to be at a relatively regular interval.

[2021-06-11 16:55] charlesbluca commented on #4781
From an appearance perspective, I find this approach a little bland, though that might be expected since this is just some slightly formatted terminal output. I personally feel like in the long run, output like this might look better within the context of a larger page with collapsible elements for the scheduler/workers, where all of their logs could be viewed maybe with some additional info. But

[2021-06-11 17:12] #4133 closed

[2021-06-11 17:13] mrocklin commented on #4781
I agree with you about the bland nature.  I notice that you're using bold/italics for different levels.  It might be worth adding a little bit of inline CSS to the `<p>` tags to add colors.  I also think that we could maybe use some other tag in order to reduce spacing between the lines.  I think that that might help things to feel more dense.

I agree that filtering would be good, but I also agre

[2021-06-11 18:56] mrocklin opened #4906 "Rebalance during a moving cluster"
This is part of Active Memory Management

We would like to be able to intentionally move data around the cluster.  Today we do this with methods like rebalance and replicate, however these do not work well when the cluster is active.  We would like to improve robustness here.

[2021-06-11 18:56] mrocklin commented on #4906
In a side-conversation @crusaderky said the following:

I'm working on running rebalance() while a computation is in progress.
I am inclined towards this design philosophy:

- **coarsely** preempt the biggest, most common causes of race conditions between computations and rebalancing
- **finely** implement graceful handling of race conditions if and when they happen, at the cost of suboptimal perf

[2021-06-11 19:07] mrocklin commented on #4715
So, I'm still interested in this topic, however it appears that we went down a classic fail path of ...

- This would be interesting and useful and probably easy to do in isolation
- How can we generalize it?
- Oh man, this is complex, let's all take a break

I'd like to reconsider doing this in isolation.  This would be a simple fix for a while that we might generalize in the future.  Thoughts or

[2021-06-11 19:08] mrocklin commented on #4420
I haven't run into this for a while.  Closing.

[2021-06-11 19:08] #4420 closed

[2021-06-11 19:08] mrocklin commented on #4260
This is a duplciate of #4744

[2021-06-11 19:08] #4260 closed

[2021-06-11 19:25] mrocklin commented on #4906
In general I'm supportive of simple 90% solutions :)

However, I also want to propose an alternate way of looking at things.

We're never going to find safe data to move around.  For example, even if a task isn't currently processing, it might end up processing in the next cycle (because a worker just went down for example).  Trying to segment data into safe and not safe may not be a possible way

[2021-06-11 19:30] freddyaboulton opened #4907 "Dask hangs indefinitely on unit test during client.scatter"
**What happened**:

We have recently started seeing our CI fail sporadically on a test that hangs forever. The stacktrace points to `client.scatter` with broadcast=True. This error doesn't happen every time the test is run but enough times to be noticeable. Due to the sporadic nature of the error, it's hard to create a minimal repro.

We have started seeing this recently, so I'm posting here as a

[2021-06-11 19:35] jrbourbeau commented on #4904
I am curious why the current format was chosen. There could be some reasoning behind it which I'm unaware of. Maybe @quasiben knows?

[2021-06-11 19:39] gjoseph92 commented on #4881
Update: I've also tried a 60ms, 120ms, 500ms interval (just to push to the extreme). The amount of time spent in reads does decrease with each of these, but interestingly the overall runtime doesn't seem to change much.

### GC active
* Performance report: [cython-shuffle-gc-20ms-batched-send.html](https://rawcdn.githack.com/gjoseph92/dask-profiling-coiled/5ea8e50f45752ad444796de26d25abb02a018fbd/

[2021-06-11 19:46] charlesbluca commented on #4781
Yeah, I think colors work well here, just need to pick some that have decent readability on a white background. Spacing is also easy enough to adjust:

![image](https://user-images.githubusercontent.com/20627856/121741156-1cc8e880-cacc-11eb-85a3-72dd90eed873.png)

[2021-06-11 19:51] mrocklin commented on #4781
That looks pretty good to me?  Shall we try merging that in and then leaving improvement for a later PR?

[2021-06-11 20:00] mrocklin commented on #4881
Cool.  As you warned, variation in total runtime is high.  If the next coding step here is to choose a new interval (or interval range, if we're being adaptive) then we're going to want to know what min/max/default values of that range should be, which means that we might want to get more precise measurements.

FWIW, I expect us to focus more in the 2ms-20ms range than out in the 100ms range.  I c

[2021-06-11 20:06] abergou commented on #4907
You may want to try the main branch. In particular a similar issue was fixed for me by dask/distributed#4784.

[2021-06-11 20:21] freddyaboulton commented on #4907
@abaelhe Thanks! What was your issue? Were you getting the same log output?

[2021-06-11 20:26] abergou commented on #4907
@freddyaboulton I was getting cluster hanging during computations. For these I was not using scatter, but clusters would hang indefinitely. I was also seeing some issues in the logs with missing data.

[2021-06-11 20:51] jrbourbeau commented on #4902
That does seem like the simpler option. Perhaps @mrocklin @jcrist or @jakirkham know why we ship tests?

[2021-06-11 23:06] charlesbluca commented on #4781
Sounds good to me!

[2021-06-12 16:56] jrbourbeau opened #4910 "Remove `tmpfile` utility context manager"
Similar to https://github.com/dask/dask/issues/7800, we can replace our `tmpfile` context manager

https://github.com/dask/distributed/blob/5e5b9835a5e6929bb97acf94f0a2eecccc0b6a2f/distributed/utils.py#L862-L863

with [`tempfile.TemporaryFile`](https://docs.python.org/3/library/tempfile.html#tempfile.TemporaryFile) from the standard library.

[2021-06-12 17:35] adeyezbamz commented on #4910
Nice

[2021-06-14 06:48] SultanOrazbayev commented on #1753
I'm trying to manually adjust the priorities for futures (e.g. for tree reduction I want to assign higher priority to tasks that are closer to the final node), but I don't know how to find out the priority of a given future. From the snippet above it looks like it was possible to get `priority` as a property of future, but it doesn't work in `2021.05.1` version.

This is my code:

[code]

[2021-06-14 09:01] fjetter opened #4914 "Flaky test_task_stream_clear_interval"
First observation on OSX https://github.com/dask/distributed/pull/4813/checks?check_run_id=2726554130

<details/>

[code]

[2021-06-14 09:31] jacobtomlinson commented on #4715
I have been continuing to think about this. This combined with a few other thought processes has lead me down the road of thinking about a Dask Agent.

I was considering experimenting with a contrib project (similar to dask-ctl) which builds an agent which acts as a nanny for all processes. It would be able to handle election and discovery along with other useful things like log exporting and othe