[2020-07-27 23:30] mrocklin commented on #3992
We do this for other plots too, so there are probably examples of rotating text in that same file

[2020-07-28 02:43] jakirkham opened #3994 "Copy for mutable frames can introduce a slowdown"
Recently we made a fix to ensure all frames are mutable in PR ( https://github.com/dask/distributed/pull/3967 ). This solves some issues where immutable frames were used to back Python objects.

One downside of that change is it effectively requires a copy of the frames be taken for all objects. This can be unnecessary in cases where the data may already get copied as is the case with Python built

[2020-07-28 02:55] jakirkham commented on #3943
Adding a test for a Pandas Series as well in PR ( https://github.com/dask/distributed/pull/3995 ).

[2020-07-28 04:01] jrdzha commented on #3955
@mrocklin I'm quite busy for the next few days, but I'll take a look after that.

[2020-07-28 05:56] FabioLuporini commented on #3955
@mrocklin sorry -- we did try it (OK, not really `git bisect` for the reasons explained above, but a conceptually analogous thing). We though bumped into other issues, and I eventually forgot to update this thread. I'll let @rhodrin explain our findings 'cause I don't quite remember what the latest news from this front are

[2020-07-28 09:23] crusaderky commented on #3989
@mrocklin NEGATIVE, I'm getting the same issue as before

[2020-07-28 09:25] crusaderky commented on #3916
PR does not fix the issue for me.

Stack trace after the PR:

[code]

[2020-07-28 13:09] rhodrin commented on #3955
@mrocklin Yes, sorry for the delayed response. So we set up an Actions matrix to run our tests many times for each commit between 2.19 and 2.20, and later some earlier and later versions.

Firstly, failures are rare and not particularly consistent (possibly related to load on the github hosted runners). One day we may see a failure 1 in 10 times, the next day we could see ~100 runs with no failure

[2020-07-28 14:35] mrocklin commented on #3989
Hrm, I'm not entirely sure what's going on then.  Any thoughts?

On Tue, Jul 28, 2020 at 2:23 AM crusaderky <notifications@github.com> wrote:

[2020-07-28 14:49] quasiben commented on #3990
I don't see what the error is in the post above.  I only see a few lines of the traceback of where the error occurred. How are you replicating futures ?

[2020-07-28 15:00] jsignell commented on #3916
Hmm maybe we are not catching all the right kinds of errors in that PR.

[2020-07-28 15:03] quasiben commented on #3970
I would be +1 on common module for allocation.  Would you expect that if an error arises on the TCP side that someone would have to be knowledgable about UCX serialization as well to fix ?

[2020-07-28 15:09] quasiben commented on #3992
`fig.xaxis.major_label_orientation = -math.pi / 12` is what we've typically done

[2020-07-28 15:42] pentschev commented on #3970
@quasiben makes a great point I didn't consider initially. Maybe it would be risky to do that for now while we don't have tests that cover UCX more broadly, a change that works on TCP may completely break UCX. But if we find a way to test things, I'm +1 in unifying things.

[2020-07-28 15:55] quasiben commented on #3989
We've had these `gaierror` errors in the past: https://github.com/dask/distributed/issues/3680 .  The fix there was to add:

to /etc/hosts.  Can you try this ?

[2020-07-28 16:34] mrocklin commented on #3989
I think that we're trying to resolve this in the wrong way.  Currently I'm
seeing solutions of the form "Hey, maybe if you change your local network
settings then things will work".  Instead I'd rather us think like "OK,
assuming that the user's network settings are borked, how do we make sure
that users can still import Dask?"  Looking at the traceback it looks like
we're trying to get an IP addr

[2020-07-28 16:37] jakirkham commented on #3970
Honestly I think this will be easier for us to test. As [it is]( https://github.com/dask/distributed/blob/7cdba1d7e17df7be005f4d4b8ca528065a3f83a7/distributed/comm/ucx.py#L66-L103 ), it's not really easy or possible to test.

[2020-07-28 17:02] rileyhun opened #3997 "Adding TLS/SSL to Dask Scheduler, Workers, and Jupyter"
**What happened**:
I am trying to add TLS/SSL Security to my Dask Cluster hosted on Google Kubernetes Engine, installed using helm. I added the fields to the config yaml file and then applied the changes to the Dask Cluster, but I'm still able to freely access my Dask cluster without having to add a security object.

I'm trying to accomplish this in the documentation [1]

I also reviewed this simi

[2020-07-28 17:05] pentschev commented on #3970
It depends, I understand it will make things easier for us to test as a whole, and most of us are testing when we change things in `ucx.py`, even though there aren't many tests in CI. What worries me is someone who's mostly unaware of UCX doing TCP-related changes that end up breaking UCX support.

[2020-07-28 17:21] jakirkham commented on #3970
We are already in the habit of reaching out to potentially affected parties when making changes. I don't think this will be too different. That said, I don't expect this to change much.

[2020-07-28 22:10] jrdzha commented on #3955
@rhodrin Yes, for our testing the fails seem to occur randomly. We run our tests using LocalCluster on a 'local' machine (not our Kubernetes cluster) though and they are failing there.

[2020-07-28 22:31] mrocklin commented on #3955
OK, it seems like the next thing to do here then is for someone to produce a reproducible example.

[2020-07-29 07:31] hugobowne commented on #3992
I'll happily take a stab at this, probably next week some time!

[2020-07-29 09:33] crusaderky commented on #3989
It's weird. I can still replicate the issue with the old code, but I can't after pip-installing the distributed git tip.
It looks like in my retest yesterday I botched the upgrade for some reason...

[2020-07-29 09:33] crusaderky commented on #3916
It's weird. I can still replicate the issue with the old code, but I can't after pip-installing the distributed git tip.
It looks like in my retest yesterday I botched the upgrade for some reason...

[2020-07-29 12:54] velicanu commented on #3916
This issue is fixed for me too on version `distributed==2.21.0+13.g7cdba1d7` (current master) even though I still see it when I pip install distributed and on version `distributed==2.21.0`

So code-wise it seems fixed.

[2020-07-29 16:57] TomAugspurger commented on #3450
This issue came up again on the pangeo call today.

@sklam or @stuartarchibald, assuming this is difficult / impossible to solve on the NumPy side, do you have any guesses on how Numba could avoid creating the dynamically generated ufunc at https://github.com/numba/numba/blob/fd8c232bb37a1945e8dc8becef9fe05fdd78c4cf/numba/np/ufunc/_internal.c#L227-L229? The summary of the issue is at https://githu

[2020-07-29 18:00] mrocklin commented on #3974
Some first steps:

1. Remove the fuse call and see what breaks if anything, maybe also measure performance
2. Take a look at this and compare to  extending blockwise to support IO operations (need to handle blockwise without any inputs)

[2020-07-30 16:25] quasiben commented on #2312
I believe this was fixed in https://github.com/dask/distributed/pull/2658 where the bandwidth is now pulled from dask.config .  Closing

[2020-07-30 16:25] #2312 closed

[2020-07-31 01:39] jakirkham opened #4000 "DOC: Configuring local_directory/temporary-directory to point to fast storage medium"
A common issue for users deploying on clusters is configuring scratch space to use on `Worker`s. If not configured, it defaults to current working directory (often the home directory), which clusters (or even some times individual machines) will have configured to use NFS. This can be quite slow and result in erratic/bad behavior by the Dask cluster. While it is difficult for us to pick a better d

[2020-07-31 06:23] jfenc91 opened #4001 "Memory errors cause jobs to hang forever due to lost tasks"
**What happened**:
The job is incomplete yet all workers are inactive. On the job dashboard the scheduler shows that specific workers are processing tasks yet those workers themselves do not believe they have any tasks assigned to them.

**What you expected to happen**: All jobs or tasks should fail for cause or complete successfully. Having jobs hang is particularly unfortunate in autoscaling sit

[2020-07-31 11:06] willirath opened #4002 "Dashboard issues with very large clusters"
I'm on the latest conda defaults channel  `dask` and `distributed` and see formatting issues of the dashboard with very large clusters:

- On `...:8787/workers`: For a cluster of 100 workers with 24 maxed out (each at 100% cpu) threads each I get total CPU displayed as roughly the average use of one worker (2400%)

![image](https://user-images.githubusercontent.com/5700886/89029134-08558480-d32e-1

[2020-07-31 14:28] mrocklin commented on #4002
My guess is that we're using the `dask.sizeof.sizeof` function to guess the size in bytes of all of the data tracked by each worker, and that we're underestimating the objects that you're using.

For the non-histogram plot (which is used for fewer workers) we switched from using sizeof to using the memory of the process as reported by psutil.  We should probably make this same change for the histo

[2020-07-31 14:46] mrocklin opened #4003 "Run local code remotely on a worker"
I find myself often wanting to run code on a worker, rather than on my local client.  This happens in a few settings:

1.  My workers have access to a data store that I don't, so I need to call something like `dd.read_parquet` remotely (cc @martindurant @jcrist )
2.  My workers are far away from my client, so client-heavy operations like joblib or Hyperband incur a serious bottleneck from client-s

[2020-07-31 14:49] martindurant commented on #4003
"explicit is better than implicit". :)

This feels something like working in a remote ipython kernel, which I suppose does still work (although I haven't seen anyone do it for quite some time).

[2020-07-31 15:13] stsievert commented on #4003
What advantages would the additional syntax provide over submitting a function? Could it supply any debugging utility?

[2020-07-31 15:42] willirath commented on #4002
Yes, I'll have a look next week.

[2020-07-31 16:58] miroenev commented on #3955
Just wanted to chime in that we are consistently seeing the nanny NoneType errors when running LocalCudaCluster/LocalCluster jobs on cloud instances (code gets wrapped into a container/AWS SageMaker Estimator) however the issue seems to not occur when running with containers on a local machine. Interestingly these errors are non-critical and the computations continue to completion, however the err

[2020-07-31 17:08] mrocklin commented on #3955
cc @quasiben

[2020-07-31 17:16] jakirkham commented on #4001
Thanks for reporting, Jeff! Sorry you are having trouble.

Is there some short code that could be shared (even if not fully minimized)?

[2020-07-31 17:18] jakirkham commented on #3990
Any updates here, @mdering? We probably need some more info here to be helpful 🙂

[2020-07-31 17:20] jakirkham commented on #3985
Any updates here @mdering? A performance report or even screenshot would be helpful 🙂

[2020-07-31 18:58] mdering commented on #3985
I can try to generate a performance report, but I'll have to go through and anonymize things because I'm using this for a system at work and plenty of the stack traces i'm having trouble with are part of our core IP. I'm not sure if that will be terribly helpful, but maybe. I'll try to get a screenshot of what I'm referring to, just to show that i'm not crazy, but I'm going to have a hard time rec

[2020-07-31 19:02] jsignell commented on #3916
Ok. I am closing this again since it seems likely that it is fixed.

[2020-07-31 19:02] #3916 closed

[2020-07-31 19:04] mdering commented on #3990
I think this has to do with the replication during a worker shutdown. We're currently using workers who cycle in and out pretty regularly due to high memory use, specifically i think this surfaced during a replication-stimulated delete of a future off of a worker that was shutting down. Once I altered the code to only replicate the futures that were only on < n workers, this issue went away. I tho

[2020-07-31 19:17] mdering commented on #3985
<img width="1377" alt="dask screenshot" src="https://user-images.githubusercontent.com/1246446/89069182-ace0c200-d340-11ea-9f39-cc9518a23f24.png">
ok here is a screenshot of a task I'm trying to profile. As you can see, the hierarchy is there, but the profiler says the task spends 75% of its time copying a single series, and even above that in the hierarchy, it lists other processing done elsewher

[2020-07-31 19:46] jakirkham commented on #3990
My only suggestion at this point would be to cutdown on the amount of memory in each task (if possible). Like working with a smaller amount of data and possibly optimizing functions within tasks to have a lower memory footprint (working in-place is often useful). We do try to spill memory (we know about) to disk based on periodic polling of system memory. The OS can also do this itself. That said,

[2020-07-31 19:49] jsignell commented on #3994
That is a pretty sizable performance hit. Do you have a proposed solution? I suppose the user could pick whether frames are mutable or not. Is there a smart way for us to determine that for them so that we can provide the best default experience?

[2020-07-31 19:50] mdering commented on #3990
sure, I get that but we have some leaky code somewhere (I think), and for testing are keeping memory limits low. We had been doing periodic restarts as well and may return to this. I know that having workers enter and exit should be pretty graceful, but this might be liable to happen in adaptive cluster settings as well.

[2020-07-31 20:04] jakirkham commented on #3994
Yeah I have a WIP branch where I tried to push this more into specific object or protocol serialization. It has some test failures though, which suggest it's not quite sufficient.

The idea of picking (or perhaps even identifying) which frames are mutable is an interesting one. Maybe that's a better way to go. Thanks for the suggestion 🙂

[2020-07-31 20:09] jakirkham commented on #3990
Are there particular kinds of functions that seem to get high memory usage?

That's a fair point and sounds like something worth focusing on. I wonder if we might be able to come up with some cases where the adaptive cluster doesn't communicate data well before closing workers down.

[2020-07-31 20:35] mdering commented on #3990
I'm not sure. It wouldn't surprise me if we have a little memory leak too. Either way its not memory thats managed by dask and were happy enough to let workers enter and exit whenever, but it does seem to cause strange issues in strange places. Replicate through a comms error because it was trying to replicate to a worker that went down. We're also seeing issues like https://github.com/dask/distri

[2020-07-31 21:03] jakirkham commented on #3994
That wound up being much easier to do as well. Submitted as PR ( https://github.com/dask/distributed/pull/4004 ) 😄

[2020-07-31 21:53] jakirkham commented on #3990
Always a possibility.

Running through the code with [`tracemalloc`]( https://docs.python.org/3/library/tracemalloc.html ) can be a useful exercise. If NumPy is involved, it uses [its own domain]( https://numpy.org/doc/stable/release/1.13.0-notes.html#support-for-tracemalloc-in-python-3-6 ), which can be useful to filter out unrelated allocations. Another useful tool is [memprof]( https://jmdana.g

[2020-07-31 21:59] mrocklin commented on #3990
Replicate isn't super robust.  That and rebalance both have consistency
issues and should only be fully trusted when the cluster is in a quiet
state.  They *may *still work in an active state, but the code there isn't
bullet proof.  Long-term I think that the solution to this is to rework
active memory management.  In the meantime if people want to jump into the
replicate code with patches that wo

[2020-08-01 06:47] mgorny opened #4005 "Tests fail (unnecessarily) when networking is unavailable"
**What happened**:

Tests fail immediately when the system does not have Internet access:

[code]

**What you expected to happen**:

I expected at least subset of tests to be usable in network-constrained environments.

**Anything else we need to know?**:

It seems that replacing `has_ipv6()` with explicit `False` helps it get past initial error. However, the majority of tests still fail because o

[2020-08-01 08:45] willirath commented on #4002
#4006.

I just noticed that the averaging of the CPU percentages is intended. So my PR only tackles the memory histogram issue.

[2020-08-01 10:27] jmkim opened #4007 "Multiple different errors while creating the Dask LocalCluster"
# What happened

Failed to create the local cluster. I got a different cases of error when I put the extra worker argument or not.

## Case 1: without worker parameter

When I run following code:

[code]

Three kinds of error string are shown and then failed to create the local cluster.

### Error type A
[code]

### Error type B
[code]

### Error type C
[code]

### Error type D
[code]

### Full lo

[2020-08-01 16:04] mrocklin commented on #4007
Thank you for raising this issue @jmkim .  I'm trying to reproduce this problem and running into some questions.

I'm curious, are you running this in Jupyter when it fails?  If so, can you try running this in ipython and see if it also fails there?

[2020-08-01 16:52] mrocklin commented on #4007
Also, does this problem persist if you upgrade to 2.22.0 ?

[2020-08-02 16:28] #4002 closed

[2020-08-02 17:09] LunarLanding commented on #809
Hi, this is of interest to my use case. How would I go about implementing? Any pointers?

[2020-08-03 09:50] xKHUNx opened #4010 "Custom serializer support for dumps_function()"
I'm having a use case which requires me to parallelize nested Cython functions using Dask, and from the documentation, I've learned that the we can set the serializers/deserializers for a [Client object](https://distributed.dask.org/en/latest/api.html#distributed.Client.map).  This means I can implement my own serializer, in this case, dill, to parallelize my nested functions. It looks like this.

[2020-08-03 20:23] mrocklin opened #4011 "Increase flexibility around Python versions and compression"
Currently Dask fails to communicate when we try to cross Python versions or have mismatched compression.  The Python version mismatch is new-ish ever since we added Pickle protocol 5, the compression is a long-standing issue.  In principle we ask that users provide consistent versions across all machines, however we may still be able to accomodate things here with a little bit of work on our end.

[2020-08-04 00:10] #3994 closed

[2020-08-04 00:32] jakirkham commented on #4011
Messaging capabilities makes sense. Though I would think we would want to cache these somewhere (just to avoid sending this info repeatedly).

As all GPU things implement `"cuda"` and `"dask"` serialization, it should be simple matter to serialize them with either as appropriate. This is how things like TCP and spilling work today.

Though currently compression is not that configurable (or at leas

[2020-08-04 00:34] jakirkham commented on #4011
That said, one thing I'm curious about is in what cases you envision sending GPU objects through a comm to a worker that lacks a GPU. In particular what would that worker do with that message? Or am I misunderstanding something here?

[2020-08-04 01:37] mrocklin commented on #4011
Agreed, I think that we would send this information when first connecting.

My main motivation is to have graceful reduction in performance when Python or LZ4 are mismatched.  GPU stuff is secondary for me, but maybe also interesting.  One situation where this comes up is if I'm executing computations on a remote GPU cluster from a non-GPU machine (like a laptop).  In that situation I may want `x.

[2020-08-04 02:36] mrocklin commented on #4010
I agree that that would be useful in many cases.  One would need to think about how to communicate that custom serializer to all of the parts of the cluster.  There is also an issue in that many people use the serializers functionality in order to restrict custom serialization.  For example some people don't want to allow pickle deserialization in the scheduler for security reasons.

I think that

[2020-08-04 02:43] mrocklin commented on #809
@LunarLanding in principle it looks like you're off to a good start.  Your approach of manipulating scheduler state directly looks good to me.  I'm sure that there will be some corner cases to think about :)

As a next step, I encourage you to turn these functions into methods on the Scheduler class itself and then make a test for it, maybe like the following:

[code]

At this point, I would make

[2020-08-04 02:45] mrocklin commented on #4005
@jacobtomlinson I'm not sure what your priorities are like these days.  But would this be easy for you to resolve?

[2020-08-04 08:52] jacobtomlinson commented on #4005
Looking through the log some of these issues appear to be related to IPv6 rather than a lack of internet connection.

@mgorny could you share a little more about your network setup, what interfaces you have and what IP addresses any active interfaces have when you ran these tests?

[2020-08-04 16:59] quasiben commented on #3955
@miroenev it looks like your issue comes is explained at the top of your log output:

There have been some changes to dask-worker directory creation.  @FabioLuporini can you upgrade to latest (2.22.0) and try again ?

[2020-08-04 17:03] quasiben commented on #3985
It's a little hard to comment but copies can take a long time.  Are you copying between processes ?  If so then there is going to be a serialization component ?  Is this host memory or GPU memory ?  Can you profile just the copy with something like snakeviz ?

[2020-08-04 17:44] mrocklin commented on #3985
It could also be that the code in that line (slicing and copying) has some
unexpected effects that trigger other computations.  Python code is
sometimes a bit magical. If those objects are lazy in some way then maybe
that line triggers some computation?

On Tue, Aug 4, 2020 at 10:04 AM Benjamin Zaitlen <notifications@github.com>
wrote:

[2020-08-04 17:45] quasiben commented on #4005
@mrocklin fixed some issues with importing distributed without a network here: https://github.com/dask/distributed/pull/3991. Perhaps a similar solution of try/execpt with defaults to 127.0.0.1 would also work here

[2020-08-04 18:34] mgorny commented on #4005
I'm running tests inside network namespace, with only `lo` interface set up, i.e. roughly:

[code]

The hostname is also reset to `localhost`.

[2020-08-04 20:59] miroenev commented on #3955
@quasiben I think they are separate errors.

My hypothesis is that the dask_worker_space issue is due to the way SageMaker attaches the same dataset S3 volume to multiple instances when running HPO. I've since tried to set the temporary directory location in a place that SageMaker's documentation suggests will not overlap between instances but its not entirely clear whether this fixes the dask_wor

[2020-08-05 13:11] rhodrin commented on #3955
@quasiben We're now using 2.22.0. We haven't seen this issue yet, but will report back if we do.

[2020-08-05 18:12] jakirkham commented on #4011
Thanks for fleshing out those ideas a bit. Generally that makes sense.

I think when it comes to the CPU/GPU bit I don't think we have enough of the scaffolding to approach that today. Not to say it shouldn't be done, just it may require a bit more thought and work first. For example `"dask"` serialization as implemented today is just a delta away from `"cuda"` serialization in that it just moves

[2020-08-05 18:18] timeisapear opened #4020 "Worker dashboard crashes when dask-worker --memory-limit 0 set"
**What happened**: I set dask-worker --memory-limit 0 and the worker status page crashes 500

**What you expected to happen**: To see the worker page not crash

**Minimal Complete Verifiable Example**:

[code]
then navigate to

http://scheduler-ip:8787/workers

**Anything else we need to know?**:
`dask-scheduler` stack trace:

[code]

**Environment**:

- Dask version: '2.20.0'
- Python version: Py

[2020-08-05 18:38] mrocklin commented on #4011
For GPU-CPU serialization I'm thinking of the following:

[code]

If for some reason we've chosen to move a cupy array to a machine without a GPU, let's convert it to a Numpy array first.  I'm not saying that we *should* do this, merely that it's easy to do if we want to.

[2020-08-05 18:44] jakirkham commented on #4011
Yeah I'm not sure why that needs to live in the CuPy serializer though. Would be much cleaner if it was its own higher level API through a `Dispatch` object.

Independently we probably would want to discuss how this is being used to understand how to design it. Certainly one case is fetching the result. What other use cases are there?

[2020-08-05 19:01] mrocklin commented on #4011
It seems like the simplest place to put it to me.

That's the main one that comes to my mind and that I deal with.

[2020-08-05 19:35] jakirkham commented on #4011
Well the other thing would be the `meta`, but I don't know if the CPU implementations of these things are a good enough proxy for the GPU ones. They might be, but there may be subtle differences. IDK if we are getting off topic, happy to drop it if so.

[2020-08-05 21:13] mrocklin opened #4021 "Cluster map gets stuck in transfer state"
![image](https://user-images.githubusercontent.com/306380/89464758-d4130700-d725-11ea-85ae-d2050723bc6a.png)

cc @jacobtomlinson

Everything is done, but it's still pretty active looking :)

[2020-08-06 13:27] jacobtomlinson commented on #4021
Fun 😂.

Do you have an MCVE?

[2020-08-06 13:50] mrocklin commented on #4021
Not currently.  I've only run into it on relatively busy computations.  I do have a ~M~CVE if you're interested though :)

[2020-08-06 14:54] TomAugspurger opened #4023 "Optional Visualize individual aggergation per key plots as boxplots"
Right now the plots at `/individual-aggregation-per-key` are bar charts showing (I think) the total duration spent on each task prefix.

I'm debugging a problem right now where there's unexpected variation within a task prefix. If this chart could (optionally) show the values as a boxplot ([bokeh docs](https://docs.bokeh.org/en/latest/docs/gallery/boxplot.html)) it'd be easier to verify that this

[2020-08-06 15:17] milliams opened #4024 "Status dashboard is blank when using /proxy"
I created a cluster with dask_jobqueue and I can access the dashboard at `http://[public-ip]:8787/status` and it works correctly. However, since this is running on a server in the cloud, I want the firewall to be locked down and so I want to be able to access it though the proxy. I go to `http://[public-ip]:8000/user/matt/proxy/8787/status` (where `http://[public-ip]:8000/user/matt/lab` is a runni

[2020-08-06 16:13] milliams commented on #4024
As I was running JupyterHub behind a nginx reverse proxy on port 8000, I think the cause was blocking cross-site requests. I changed my [nginx config](https://jupyterhub.readthedocs.io/en/stable/reference/config-proxy.html) from:

[code]

to

[code]

and it is now displaying correctly.

[2020-08-06 16:13] #4024 closed

[2020-08-07 01:13] STOpandthink opened #4026 "Dashboard not found (404)"
I'm using [Python Advanced Setup](https://docs.dask.org/en/latest/setup/python-advanced.html) to run Dask on AWS inside a Docker container. For some reason when I try to access the dashboard, I get a 404. This even happens when I ping `http://localhost:8787` inside Docker. Everything else works fine.

Logs:
[code]

I've read through (all?) related issues here, but none of the fixes seemed to work.

[2020-08-07 01:13] STOpandthink commented on #4026
One thing that wasn't quite clear to me: do I need to run jupyter lab along side this (or something like that)?

[2020-08-07 01:58] mrocklin commented on #4026
Try adding dashboard=True to the Scheduler constructor

On Thu, Aug 6, 2020 at 6:13 PM Alexei Andreev <notifications@github.com>
wrote:

[2020-08-07 02:13] STOpandthink commented on #4026
Oh, wow, that's it. Thank you.

I guess I'd expect it be on by default, or that the documentation should tell you to turn it on, or that the logger shouldn't imply that the dashboard is running.
Overall though, Dask is amazing, so kudos to everyone!

[2020-08-07 02:13] #4026 closed

[2020-08-07 02:51] mrocklin commented on #4023
We would first have to measure the variation.  We might look into streaming measures of variance and record that data on the `TaskPrefix` class.  We wouldn't have to measure exact variance per-se, but maybe just keep an average of disagreement between the duration and the average duration.

[2020-08-07 02:54] mrocklin commented on #4026
Yes, most people don't use this API, and instead use LocalCluster or
dask-scheduler, both of which add this value by default.

On Thu, Aug 6, 2020 at 7:13 PM Alexei Andreev <notifications@github.com>
wrote:

[2020-08-08 05:03] richardzhu commented on #3614
FYI: I had to do `pip uninstall msgpack-python` and `pip install msgpack` to get this to work for me, per the discussion on upgrading to 1.0 [here](https://pypi.org/project/msgpack/).

[2020-08-08 23:20] mathdugre commented on #3992
@hugobowne Did you start working on this issue ? Otherwise, I would be glad to work on it.

[2020-08-09 00:39] mrocklin commented on #3992
Go for it Mathieu

On Sat, Aug 8, 2020, 4:20 PM Mathieu Dugré <notifications@github.com> wrote:

[2020-08-09 04:41] mathdugre commented on #3992
Following @quasiben suggestion I set the `fig.xaxis.major_label_orientation` to rotate the x-axis labels. After trying different values, I found that a rotation of `-0.5` looked pretty good.
Those are the plots generated with a value of `-0.5`:

### Dask Bandwidth [Type]
![image](https://user-images.githubusercontent.com/16450132/89724992-c8f7f980-d9f9-11ea-9655-584b094bcb03.png)

### Dask Bandwid

[2020-08-09 14:23] mrocklin commented on #3992
It seems like an improvement to me :)

On Sat, Aug 8, 2020 at 9:41 PM Mathieu Dugré <notifications@github.com>
wrote:

[2020-08-09 23:35] hugobowne commented on #3992
This looks cool. Apologies for dropping the ball slightly here.

[2020-08-10 02:58] mathdugre opened #4032 "Diagnosis of Task Stream lineage"
The suggested feature would allow the tracing of a task lineage in the Task Stream dashboard component.
This would potentially ease the debugging of pipelines by allowing users to know where tasks are processed and transferred through the pipeline.
Moreover, this could helps in identifying potential improvements to the scheduler to reduce transfer of data.

It could look something similar to this:

[2020-08-10 04:19] eriknw commented on #4003
I took the bait and may have gotten carried away.  This probably isn't quite what you're looking for, but it's... something ;)

https://github.com/eriknw/innerscope

[2020-08-10 19:09] kyprifog opened #4033 "Capability to cancel dask jobs started with fire_and_forget"
Ran across a scenario where a job was improperly submitted using "fire_and_forget" to my dask cluster that was too small/wrong level of parallelism and was going to take a long time to finish.    The only way I could find (out of the box) to cancel the job was to blow away the whole cluster and restart it.

It would be nice if Coordination Primitives as described in this (closed) issue:
https://gi

[2020-08-10 20:13] jkanche opened #4035 "High CPU usage on idle, disable dashboard and metric collection"
Hello,

I was wondering if there's a way to disable metric collection shown on the admin dashboard ?

My original issue was I found dask has high CPU usage on idle (~10% on per worker). I found [this issue](https://github.com/dask/distributed/issues/2156#issuecomment-503735503) and set the following config, which eventually brought down the high CPU to around 2-4%

[code]

Then I tried to disable

[2020-08-10 20:15] drorspei commented on #4003
Sounds a lot like ipyparallel

[2020-08-10 20:18] mrocklin commented on #4035
Try dashboard=False

On Mon, Aug 10, 2020 at 1:13 PM Jayaram Kancherla <notifications@github.com>
wrote:

[2020-08-10 20:23] jkanche commented on #4035
I don't see this documented anywhere, but adding this

`Client(asynchronous=True, dashboard=False)`

[code]

[2020-08-10 20:28] TomAugspurger commented on #4035
From Client / LocalCluster, I think it's called `dashboard_address=None`.

[2020-08-10 20:30] mrocklin commented on #4035
Ah, you're right.  My mistake

On Mon, Aug 10, 2020 at 1:28 PM Tom Augspurger <notifications@github.com>
wrote:

[2020-08-10 20:37] jkanche commented on #4035
but thats what I did, I see no change in CPU % after setting `dashboard_address` to None, so I'm guessing its still collecting metrics even though its not showing ?

[2020-08-11 13:15] kyprifog opened #4037 "Capability to pull logs for one dask worker"
Dask appears to use python standard logging but this makes it difficult to pull the logs for one particular running dask job.   Maybe Coordination Primitives or annotated logs, or even worker callbacks for logging would help with this.   Open to suggestions.   Would be nice to be able to have a client api similar to:

[code]

[2020-08-11 13:39] mrocklin commented on #4037
Hi @kyprifog , thanks for bringing this up.  Collecting logs is a frequent request.  First, there is a get_logs method

[code]

This gets output from running workers that has been triggerd by the `logger` in distributed.worker specifically.

It is also common to delegate this problem to the underlying cluster manager like Kubernetes or SLURM/PBS/SGE.

As you say though, we could also move around l

[2020-08-11 14:49] kyprifog commented on #4037
Hi @mrocklin do you have any thoughts specifically about getting logs just for a specific submitted job (across all workers or maybe just the scheduler logs pertaining to that task).  This was what I intended for this improvement.  Right now pulling logs for a particular worker (in k8s) is pretty straightforward using k8s api.

[2020-08-12 13:48] quasiben commented on #4020
I think this was resolved by https://github.com/dask/distributed/pull/3984.  Can you upgrade to latest dask and try again ?  I'm going close for now but if this is still an issue feel free to reopen

[2020-08-12 13:49] #4020 closed

[2020-08-12 14:53] #3992 closed

[2020-08-12 14:56] quasiben commented on #4032
I'm not quite clear what is being suggested here.  Are the red bars showing the lineage of a set of tasks as it moves around to various workers ?

[2020-08-12 20:29] quasiben commented on #4003
The advantages here would be ergonomic.  In the past I've done some work where I am submitting work to a remote cluster where GPUs are available and the egdge/login node has no GPU.  Having some syntactic sugar here would be helpful

[2020-08-12 20:47] mathdugre commented on #4032
Hi @quasiben, Yes, the highlighted bar (red ones) in the diagram above represent a set of task related to each other and their movement across worker cores.

To be more specific, the proposed feature would allow user to select a task in the Task Stream dashboard component. Once a task-X is selected it would highlight all related tasks. That is, tasks which (1) were used to compute task-X or (2) re

[2020-08-12 22:36] smst329 opened #4040 "HTTPS Dashboard CLI option"
I have been searching through the documentation and I do not see a way to get a HTTPS dashboard with CLI option when launching the scheduler from the CLI. I am already using TLS. I could reverse proxy or set up other machinery but I also think it should be an standard option.

[2020-08-13 13:32] rezze commented on #2226
Thanks for a great and very useful package and for your amazing work. I'm not sure if this is the proper place for this issue. Apologies for that.

I get a result which to me is unexpected. I get substantial data loss (around half data gone) when using set_index(…, shuffle='disk') on a dask dataframe which have more than a few partitions (perhaps more than the number of nodes). When I redo the ind

[2020-08-13 14:36] quasiben commented on #4032
Cool, this could be interesting.   Is dask tracking historical data of where tasks get executed ?

I'm not sure we'd be able to use such diagnostics for scheduler improvements as these tend to be deeper dives on policies the scheduler is employing and fine tuning those policies.  For example, in work stealing, it may be beneficial to pay the cost of transferring the data.

@jacobtomlinson do you h

[2020-08-13 14:57] jacobtomlinson commented on #4032
That could be useful. I'm not quite sure how we would approach it. The task stream doesn't know much about the tasks from the browser side. The server side knows some information about the tasks as they change state, which is what triggers the drawing events to add them to the plot.

Allowing users to interactively highlight things would probably require some custom plotting code on the front end

[2020-08-13 20:25] Carreau opened #4041 "Test amount of data movement between workers"
https://github.com/dask/dask/pull/6491 try to introduce broadcasting tricks for zeros/ones/full which (should) decrease the amount of communications between workers.
https://github.com/dask/dask/pull/6343 test that "sizeof" give the base size instead of the full size.

Would a test in distributed that data-transfer is minimal be worth it in distributed ? And how would I do that ?

[2020-08-13 22:40] mathdugre commented on #4032
Hi @jacobtomlinson ,

I'm not so familiar with the code base for the tasks states and dashboard. I'll be able to look into it throughout next week.

The main rational I had in mind for this feature was for debugging purpose on the user side.
For example, when running a pipeline that creates intermediates files on the different workers, it could ease the process of finding where the different files

[2020-08-14 00:10] mrocklin commented on #4041
I think that workers have something like an `_outgoing_transfer_log` and `_incoming_transfer_log` (not exact names).  So a `gen_cluster` test that used scatter, followed by a task on another machine using the `workers=` keyword in both cases that then checked `._outgoing_transfer_log` would probably work.

[code]

[2020-08-14 00:24] mrocklin commented on #4037
I see, you want logs or stdout from one individual Dask task.  Hrm, interesting.

I don't think that there is a general way to do this.  Dask can run many tasks in parallel in separate threads.  There is no clean way to isolate stdout or logging on a per-thread basis.

However, you may not need the fully general solution.  For example, we could provide a per-task output stream like the following:

[2020-08-14 04:56] pranav-kohli commented on #3103
Actually numpy version below 1.16.1 had a memory issue where pickled numpy arrays weren't released from memory, you can check you numpy version for that.
https://github.com/numpy/numpy/issues/12896

[2020-08-14 14:12] quasiben commented on #4040
I suspect this is because the tls protocol options are not passed to the dashboard tls options directly.  Still, I think this can be done with env vars on the CLI like the following:

[code]
Or you could also change the dask config file as well to something like the following:

[code]

[2020-08-14 18:21] smst329 commented on #4040
Awesome! I'll definitely test the env variables. I still want to push a --https true or just --https flag, especially if tls has already been set up for everything else. So far I'm digging dask and wish I heard of it earlier. Really like the notebook server container with comparable setup to the worker and scheduler containers. The team is doing great work! Feel free to close this issue, the optio

[2020-08-14 18:24] mrocklin opened #4044 "Add basic GPU information to dashboard tables"
We have some nice plots for gpu memory and utilization.  It might be nice to also include GPU information on some of the basic information tables like /workers and /info that are active if GPUs are present.  Maybe GPU memory?

cc @jacobtomlinson @quasiben

[2020-08-14 18:38] mrocklin opened #4045 "test_file_descriptor intermittent failures"
[code]

[2020-08-14 19:42] quasiben commented on #4040
Thanks @smst329 and if you do want to push on things feel free to open a new issue

[2020-08-14 19:42] #4040 closed

[2020-08-14 19:44] jsignell commented on #3884
I clarified this behavior in #4047, but didn't change it

[2020-08-14 19:47] quasiben commented on #4044
Would this be something like `/gpus` then bring in `/individual-gpu-memory` and `/individual-gpu-utilization` ?

[2020-08-14 19:51] jsignell opened #4048 "Profile tab broken on worker dashboard"
**What happened**:
Nothing shows up on page. From console logs:

![image](https://user-images.githubusercontent.com/4806877/90287299-8bee9580-de45-11ea-95fc-0ad98c610abe.png)

**Minimal Complete Verifiable Example**:

[code]

Go to `http://127.0.0.1:8787/proxy/<worker_port>/127.0.0.1/profile`

I discovered this on bokeh 2.2.0rc1, but it was also the case on bokeh 2.1.1, so not a recent regression.

[2020-08-14 19:54] mrocklin commented on #4044
I'm thinking of adding another column to the /workers tab, and
optional rows to the tornado templates in the /info pages

On Fri, Aug 14, 2020 at 12:48 PM Benjamin Zaitlen <notifications@github.com>
wrote:

[2020-08-15 01:21] jakirkham commented on #3994
This is in `2.23.0+`.

[2020-08-16 15:18] mrocklin commented on #4007
Thank you for closing @jmkim .  I'm curious, did you resolve your issue?  If so, do you know what made things work for you?

[2020-08-16 15:28] mrocklin commented on #4048
Fixing this would be grand.  I've noticed this working/not-working off and
on for a while now and haven't been able to track it down.  If this is
feasible for you @jsignell  I for one would really appreciate it.

On Fri, Aug 14, 2020 at 12:51 PM Julia Signell <notifications@github.com>
wrote:

[2020-08-16 16:22] mrocklin commented on #4033
Hi @kyprifog !

My apologies for the long delay in response.  In principle it looks like you're coming up against two issues:

1.  You need to keep track of the Future's key
2.  It's hard to stop Python threads

As you've pointed out, there are workarounds to each problem, but it's not clear that either workaround should be within Dask itself.  Maybe this belongs in user code.

Can you say more ab

[2020-08-16 19:26] kyprifog commented on #4033
More or less I would like to have an optional way to combine the proposed method for arresting a job as proposed in the stack over flow thread with using Coordination Primitives to be able to track track Future's keys so they can be cancelled.

[2020-08-16 23:38] dhirschfeld commented on #4032
It sounds similar to [what I'm also after](https://github.com/dask/dask/issues/3783#issuecomment-414880989) which I'm hopeful [task annotations](https://github.com/dask/distributed/pull/2180#issuecomment-562902173) will enable.

[2020-08-17 12:48] kyprifog commented on #4033
@mrocklin A (I think pretty common) scenario where this would be useful would be say you submit a job to a cluster that is not set to adaptive scaling, and the job is too big.   If you want to clear that job out of dask to make room for other jobs to run, the only way to do that currently to my knowledge is to kill all the workers and start over.

[2020-08-17 14:30] mrocklin commented on #4033
I agree with you about the problem, and that it would be good to resolve that problem.  I haven't given this enough thought to know the right way to solve this problem cleanly.  If you have detailed thoughts on how you would resolve this that would be welcome.

[2020-08-17 14:33] kyprifog commented on #4033
Sure thing, I'll try to sketch something out.

[2020-08-17 15:14] jsignell commented on #4048
It is not clear to me that the worker dashboard is helpful for people. If it is, then it could definitely use some love. There were some other minor issues that I didn't make specific notes about. For instance, some of the pages don't seem to be responsively sized.

[2020-08-18 03:09] jmkim commented on #4007
I mis-closed the issue, sorry @mrocklin ! I am re-opening the issue now.

Thank you for your fast reply and sorry for my late feedback.

Now I tried with these versions:

[code]

Just with `iPython` or `Jupyter Lab` works very well without any errors.

However, I am using [Google Colab](https://colab.research.google.com/https://colab.research.google.com/), with [local runtime](https://research.goo

[2020-08-18 08:26] sroet commented on #4007
I am not familiar at all with connecting to local runtimes, but  I am wondering if this is due to google colab running with an old version of distributed (`1.25.3` if you run `import distributed; distributed.__version__`) and tornado (5.1.1).

Having a look at this, apparently it is also using their own shells and kernels
You might try to check if the interactive shell you get is as expected:
[cod

[2020-08-18 09:28] jmkim commented on #4007
Hi, thank you!

[code]
Showes me:
[code]

And,

[code]

Shows me:

[code]

[2020-08-18 11:16] sroet commented on #4007
Alright, so IPython should run within your kernel.

My last guess would be that maybe the way that processes are spawned trough your interface might be broken.

Does `LocalCluster(processes=False)` work?

If that doesn't solve your issue, I am out of ideas to further debug this. So hopefully someone else then has an idea how to continue on this.

[2020-08-18 13:53] mrocklin commented on #4007
Thank you @sroet for helping to debug this.

If these suggestions don't work I wonder if there is some way to ask folks at Google Colab how their environments differ from vanilla Jupyter?  Unfortunately with proprietary systems like Colab it's hard for us to test and understand issues.  It's much easier with open systems like Jupyter.

[2020-08-18 14:17] sroet commented on #4007
If `processes=False` does not work I would advice you to raise an issue [on this repo](https://github.com/googlecolab/jupyter_http_over_ws)

Because:
1. You have confirmed your code runs on your local kernel
2. The notebook in my previous comment show it runs on the Colab kernels as well (albeit with some force installs)

The only thing that is left as a possible origin of the failure is: The prox

[2020-08-18 19:46] SultanOrazbayev opened #4050 "consistent color scheme across workflows"
This is a minor suggestion, but it would be nice if the colors assigned to task had some deterministic flavour (e.g. based on the hash of the task name). This would make it easier to compare scheduler activity across different workflows/scheduler sessions. Somewhat related to https://github.com/dask/distributed/issues/2711

[2020-08-19 21:52] mrocklin opened #4053 "Reduce activity when CPU is under load"
Oversubscription of threads is a common problem, especially when tasks call routines that are themselves multi-threaded.  The most common culprit of this is BLAS/LAPACK calls.

A couple of years ago I think that the Joblib folks did something clever, they polled the process to see if it was oversubscribed, and if it was, it slowed down work.  We already check CPU metrics regularly with `psutil`.

[2020-08-20 13:24] fjetter opened #4055 "Opening Graph dashboard page causes work starvation on workers due to high scheduler CPU load"
**What happened**:

Opening the `Graph` page of the bokeh dashboard while executing a large task graph (>100k) puts so much load onto the scheduler that it is not able to distribute tasks to workers anymore. This issue cannot be resolved by closing the dashboard again. In fact, the scheduler instance is put into a state where, following the opening of the page once, it cannot handle large tasks gr

[2020-08-20 14:21] mrocklin commented on #4055
Agreed. that this is an issue.  That plot isn't terribly useful above a few thousand tasks.  I think that this has come up before in an issue, but I can't find it right now.

I think that the easiest fix for this is to modify `TaskGraph.update` to only update things if the number of tasks is smallish (a few thousand).  It looks like this was the intent of the `graph-max-items` change by @martindur

[2020-08-20 14:24] martindurant commented on #4055
(the intent of `graph-max-items` was to stop the browser downloading or attempting tp render graphs that are too big to be sueful)

[2020-08-20 14:27] fjetter commented on #4055
I'm also wondering if the `GraphLayout` plugin should be disabled if the submitted graph is too large. I haven't measured the runtime for `GraphLayout .update_graph`, yet, but if it isn't used anyhow it seems like a waste of time (submitting large graphs is slow as it is already).
I can of course deal with this in another PR but I'm curious if there are opinions about this / if this plugin is used

[2020-08-20 14:28] mrocklin commented on #4055
The plugin is used only for this dashboard plot.  Removing or pausing it in this situation sounds good to me.

[2020-08-20 14:49] jsignell commented on #4055
I think it makes sense to disable it and show some explanatory message. I have been alarmed by a blank graph page before.

[2020-08-20 14:53] mrocklin commented on #4055
That sounds like a great idea to me.  If only we had a Bokeh expert around
....

On Thu, Aug 20, 2020 at 7:49 AM Julia Signell <notifications@github.com>
wrote:

[2020-08-20 15:23] #3677 closed

[2020-08-20 17:38] pvanderlinden opened #4057 "Semaphores release automatically - refresh won't run"
**What happened**:
Semaphores always automatically release after 40 seconds

[code]

**What you expected to happen**:
Semaphore leases should be automatically refreshed.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
Workaround would be appreciated!

**Environment**:

- Dask version: 2.22.0 & 2.23.0 tested
- Python version: 3.7
- Operating System: Linux
- In

[2020-08-20 17:42] pvanderlinden commented on #4057
The example is exactly a copy from the docs (adjusted to add the sleep and create a client). I also tried to make access_limited a asyncio coroutine, but that won't actually run.

[2020-08-20 17:44] mrocklin commented on #4057
Thanks for raising an issue @pvanderlinden

cc'ing @fjetter and @lr4d who I think did most of the work here and may have thoughts.

[2020-08-20 17:54] pvanderlinden commented on #4057
Also more remarks: during a task, the ioloop is not running, which is the reason. Do I need to managed the ioloop myself if I want to use a semaphore in a task (just trying to figure out how they currently can be used for a workaround)?

[2020-08-20 22:18] gjoseph92 opened #4058 "Cluster HTML repr doesn't respect JupyterLab themes"
Transferring https://github.com/coiled/coiled-issues/issues/51 to this project.

**What happened**:

Without ipywidgets installed, the HTML repr of a `Cluster` is hard to read in a dark theme:
![image](https://user-images.githubusercontent.com/11656932/90829505-7b3a9580-e305-11ea-991f-66650a9d245e.png)

**What you expected to happen**:

The HTML repr would display using colors from the Jupyter the

[2020-08-21 00:45] rileyhun opened #4059 "Trouble Establishing Connection to Dask Cluster"
**What happened**:

Unable to run python code on Static Dask Cluster on Google Kubernetes Engine. Never had any any issues before, but had to re-create the cluster and re-deploy and now encountering issues. Wondering if it's possibly an issue with the latest version of the dask docker image?

Full Error:

[code]

**What you expected to happen**:

I expected to be able to establish a connection to

[2020-08-21 01:35] #4059 closed

[2020-08-21 07:00] fjetter commented on #4057
The behaviour you're describing is an expected state if you're executing a computation which holds the GIL but this is clearly not the case with the example (I can confirm the example on my end)

We do require an event loop to be active but there should not be a need to manage it yourself. this should be done by the client. I'll need to dig a bit deeper to determine the root cause. In the meantime

[2020-08-21 08:23] fjetter commented on #4057
The issue appears to be that the client-side refresh `PeriodicCallback` is never actually executed (it is scheduled but never executed)

https://github.com/dask/distributed/blob/6a32208717c04aa9ccb4defdf253b8a00cab32b7/distributed/semaphore.py#L367-L382

My suspicion is that in this example we're running workers in a threadpool. According to https://docs.python.org/3/library/asyncio-dev.html#concu

[2020-08-21 14:05] KrishanBhasin opened #4061 "Dask workers spilling to disk too early"
**What happened**:

I have a LocalCluster with ~50 workers. I use pure Dask Dataframe operations to create a dataframe with a large task graph (~3 million tasks).

When this dataframe is submitted to the LocalCluster (e.g. `ddf.to_csv()`), the compute finishes successfully, however at no point does RAM usage go above ~25% (the highest I have seen an individual worker go is ~35%). When I monitor th

[2020-08-21 15:18] jacobtomlinson opened #4063 "SSHCluster expects conda environment to be at the same path on all systems"
**What happened**:
When using `SSHCluster` on machines with different conda paths things fail.

**What you expected to happen**:
The correct conda environment should be activated.

It seems that the `SSHCluster` tries to call the python executable directly at the same path that the current Python is running at. It may be more robust to activate the conda environment with the same name as the curre

[2020-08-21 23:11] FredFLi opened #4065 "KeyError: 'workers'"
From the logs in cluster:

distributed.core - INFO - Starting established connection
**tornado.application - ERROR - Exception in callback functools.partial(<function TCPServer._handle_connection.<locals>.<lambda> at 0x7efde043e378>, <Task finished coro=<BaseTCPListener._handle_stream() done, defined at /azureml-envs/azureml_7627c615978b72dc500c269fe7382a2f/lib/python3.6/site-packages/distributed/

[2020-08-24 13:17] MatthewLennie commented on #3560
@mrocklin Is there a reason that the default behavior isn't to initialize new workers with files that have been uploaded to the Client? In my case I went from manually starting schedulers and workers on the command line, in this case uploading to the client once works. But now I am transporting my code onto a HPC system using the PBSqueue tool and the upload behavior is now quite different. Having

[2020-08-24 16:29] KrishanBhasin commented on #4061
I've started by playing with the logging (adding a few lines of my own and upping the level to make sure I don't miss existing ones) and I can confirm that it is not entering into the below if statement branch.
[code]
The `memory`, `frac`, `memory_spill_fraction` are all reporting "correctly" (that is, that they all indicate spilling should not be occurring).

I will keep digging, first by trying

[2020-08-24 16:51] jrbourbeau commented on #4065
Just checking in here, @FredFLi could you use the same version of dask and distributed everywhere and then try again

[2020-08-24 16:54] #4057 closed

[2020-08-24 16:58] mrocklin commented on #3560
I'm open to that change.  Presumably we would change the `client.upload_file` method to use a worker plugin much like @jrbourbeau has provided above.  This may slightly disrupt existing users of upload_file due to the changed semantics, but  I suspect that this would fix more problems than it would create.

@MatthewLennie are you interested in doing this work?

[2020-08-24 16:58] FredFLi commented on #4065
Thanks @mrocklin , @jrbourbeau.  Sure. Let me try that.

[2020-08-24 17:09] abduhbm commented on #4063
PR #3701 added `remote_python` keyword to `SSHCluster`. How about extending this keyword to accept a dict as {host: path to python on remote node}?

[2020-08-24 17:11] mrocklin commented on #4061
Thank you for your effort here Krishan

On Mon, Aug 24, 2020 at 9:29 AM Krishan Bhasin <notifications@github.com>
wrote:

[2020-08-24 18:11] KrishanBhasin commented on #4061
@kylejn27's repro worked first time locally on my Mac so I'll poke around the internals over the course of the week.

[2020-08-24 19:44] jrbourbeau commented on #4050
Thanks for raising an issue @SultanOrazbayev. Is there a particular plot where you've noticed non-deterministic colors being assigned to tasks? Taking a quick look at the task stream plot, it looks like we're using using the [`color_of` utility](https://github.com/dask/distributed/blob/5e7285cb200d461034a439274d2a5db87c3df9e7/distributed/utils.py#L1283-L1287) to [determine what color a task should

[2020-08-24 20:47] #4055 closed

[2020-08-24 23:47] bbockelm opened #4069 "SpecCluster + Dask JobQueue does not retire workers when scaling down."
I am currently chasing what appears to be a bug in the combination of `distributed` and `dask-jobqueue`.

Particularly, I find that this piece of code almost never completes when running a dask-jobqueue `HTCondorCluster` with adaptive scaling enabled:
[code]

What happens is that, whenever the tasks get almost finished, one of the workers is killed.  This results in lost keys, sets the progress ba

[2020-08-25 00:00] SultanOrazbayev commented on #4050
Oops, my bad. :/ I think the problem is that my functions have similar, but not exactly the same names across the workflows. So `load_func` will have a very different color from `load_f`... and I assumed that the color was just random, but I see that I should just have more consistent naming of the functions. Thanks for the pointer!

[2020-08-25 00:00] #4050 closed

[2020-08-25 01:28] jrbourbeau commented on #4050
I see, no worries, thanks for your quick follow up!

[2020-08-25 04:05] jrbourbeau commented on #4069
Thanks for raising an issue and providing a detailed description of the situation @bbockelm! After briefly looking through the relevant code sections (thanks for the links 🙂 ), I agree there does appear to be a mismatch with how we're keeping track of workers in the `SpecCluster` and the scheduler.

It looks like we make sure a name is always specified when creating new `SpecCluster` workers:

htt

[2020-08-25 04:23] bbockelm commented on #4069
Yeah, I think that ought to work.  However, it appears that we're annoyingly overriding the `--name` flag in our test setup (meaning I'm not in a good place to test out a fix).  Might need a few days to unwind why that's being done.

_That said_, I can confirm matching based on names works (if I hack up the name scheme to match our generated ones).  Just can't write a generic patch right now.

Onc

[2020-08-25 04:37] bbockelm opened #4070 "Preserve hostnames in worker addresses"
The scheduler internally converts an address with a hostname, e.g.,

[code]

into an IP address:

[code]

For the `tcp://` protocol, this is fine -- probably saves a few cycles in address translation.

However, for `tls://`, this drops an important piece of information: the desired hostname.  A TLS router (such as Traefik) can use the desired hostname information to internally route requests to th

[2020-08-25 07:38] sroet commented on #4007
@jmkim Just checking in, did you manage to resolve or make progress on this issue?

[2020-08-25 07:44] jmkim opened #4071 "Correlation callback function"
https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.corr

Please support `callable` option for `DataFrame.corr`.

When I tried to run the callable function, the error shown as:
[code]

Thank you!

[2020-08-25 07:59] MatthewLennie commented on #3560
@mrocklin It's a bit above my skill level as it currently stands, having just transitioned from mechanical engineering to SE. Interested yes, capable not yet. Sorry to be no help yet.

[2020-08-25 08:55] jmkim commented on #4007
Me still have an intent to solve this issue, but because of me in hurry, I am temporarily using the Jupyter Lab instead of Google Colab. But will use Colab again in a week.

Let me follow your instruction in a week. Sorry for my delays.

[2020-08-25 09:36] jacobtomlinson commented on #4063
@abduhbm that would be a great start.

We do also need to consider the rest of the environment. The Python path needs to point to the correct place as well as executing the correct binary.

[2020-08-25 09:45] KrishanBhasin commented on #4061
Latest update:

Creating the cluster with `processes=False` passed in leads to me being unable to replicate the issue (I get appropriate log messages: `Worker is at 71% memory usage. Start spilling data to disk` indicating the code is entering that branch)

[2020-08-25 10:37] skozlovf opened #4072 "Client should call LoopRunner.stop()"
**What happened**:
`distributed.Client` doesn't cleanup `LoopRunner`. Because of that `tornado.ioloop.IOLoop` and related threads remain running after closing the `Client`. The issue appears if run multiple clients with `asynchronous=False`. This happens because `Client` calls `LoopRunner.start()` but doesn't call `LoopRunner.stop()`.

**What you expected to happen**:
`distributed.Client` should s

[2020-08-25 14:22] mrocklin commented on #4070
1.  I think that historically it was because some of this was developed on
a system that took a long time to resolve hostnames.  I think that we
should probably consider reversing this decision.
2.  I'd be interested in that.  It seems like a more sensible choice today

On Mon, Aug 24, 2020 at 9:38 PM Brian P Bockelman <notifications@github.com>
wrote:

[2020-08-25 14:31] mrocklin commented on #4072
My guess is that Dask tries to only close down IOLoops that it created.  If you make an IOLoop externally and hand that to Dask then Dask won't try to close it because you might be using it for something else as well.

Also, just a small note, we've stopped supporting Python 2.7.

[2020-08-25 15:30] skozlovf commented on #4072
Yes, but it calls `LoopRunner.start()` which increments internal counter. This prevents parent `LoopRunner` from stopping `IOLoop`.

Well, `LoopRunner` handles this internally. My understanding is what calling start/stop is safe in this case.

* Bypass initialization and increment counter: https://github.com/dask/distributed/blob/master/distributed/utils.py#L397-L401
* Bypass deinitialization and

[2020-08-25 16:50] abduhbm commented on #4063
@jacobtomlinson I can work on a PR for this if it is fine with you. Thanks,

[2020-08-25 18:52] FredFLi commented on #4065
The issue was caused by version mismatch.

[2020-08-25 18:52] #4065 closed

[2020-08-25 19:08] jrbourbeau commented on #4065
Glad to hear it's been resolved, thanks for following up @FredFLi

[2020-08-26 06:51] skozlovf commented on #4072
Here is more advanced example demonstrating the issue, py3-based.

[code]

Try `run(direct)` and `run(context)` with/without `client._should_close_loop = True`. You will see growing number of threads, except `run(context)` with `client._should_close_loop = True`.

[2020-08-26 11:16] jacobtomlinson commented on #4063
Yes please that would be great!

[2020-08-27 12:56] michaelnarodovitch opened #4080 "Timed out trying to connect ... : connect() didn't finish in time"
Whereas the following is not a bug we can pinpoint, it really bothers us. After weeks of experimentation and investigation we didn't find a real solution.

We run something like
[code]
on 100 workers with 1500 cpus on Kubernetes pods.

When it comes to the last re-partition step, dask starts blocking the event loop and the workers start spamming the following logs
[code]
=> 5000 events

[code]
=>

[2020-08-27 13:02] michaelnarodovitch commented on #4080
I have the suspicion, that this is related to the handshake, which is failing, when the event loop is blocked
https://github.com/dask/distributed/blob/master/distributed/comm/core.py#L297

[2020-08-27 14:22] mrocklin commented on #4080
Interesting.  This was added recently.  We could test this hypothesis relatively easily by walking back to Dask version 2.22 and seeing if the problem persists.  Is this easy for you to do?

[2020-08-27 15:05] michaelnarodovitch commented on #4080
Had a look into our history and we tried 2.20, 2.21 and 2.23. All failing. The runs are somewhat costly and take some hours. We didn't setup cheap reproducers, sofar.

[2020-08-27 15:21] michaelnarodovitch commented on #4080
Digging out more logs
[code]
along with

[code]
=> ~ 1,364 events

[2020-08-27 16:45] mrocklin commented on #4080
OK, if this was happening prior to 2.23 then it probably isn't the handshake.

I'm surprised to see the event loop being inactive for 5s .  The next thing I would probably ask is what is slowing down the workers.  One way to get this information is to create a [performance_report](https://docs.dask.org/en/latest/diagnostics-distributed.html#capture-diagnostics) or watch the dashboard and look at t

[2020-08-27 16:54] mrocklin commented on #4080
I would be curious what this returns on your system.  On my laptop it's 15ms.

[code]

Also, due to connection pooling, running this before your comptuation might make this smoother short term.

[2020-08-27 17:20] michaelnarodovitch commented on #4080
Thank you so much for looking into this! I'm happy to run `all_ping` and try the performance report to create better evidence on what's going on.
Will update the issue with more data in the upcoming week.

[2020-08-28 08:26] michaelnarodovitch commented on #4080
Thanks again for looking into this. I got hooked up on that topic and happy to share a sort-of-reproducer running on the full-scale-cluster.
[code]

The reproducer is producing connection errors and timeouts for the comm between workers and scheduler. This is not exactly the failure mode, we have faced. In our case, the workers are loosing connection between themselves. I'm sharing the results any

[2020-08-28 13:55] mrocklin commented on #4080
Well, looking at the performance report nothing is coming up unfortunately (we're entertainingly spending most of our time in the workers logging).  We're not entirely sensitive here though.  If we're spending a lot of time in GIL-holding functions we wouldn't see that.

This example is great though in that it's really well isolated, and probably stresses only our networking and serialization stac

[2020-08-28 14:02] mrocklin commented on #4080
That's good to hear.  I was curious about how things would scale there.  Thanks!

[2020-08-28 14:27] garanews opened #4083 "Add the heartbeat_interval variable to scheduler Parameters"
With the https://github.com/dask/distributed/pull/3896 it was tuned the heartbeat_interval and correlated to number of workers:

![image](https://user-images.githubusercontent.com/16938405/91578255-34bee980-e94a-11ea-8749-249a978b5f6e.png)

I think it would be useful have the heartbeat_interval   as a Parameter.
With few workers the heartbeat messages are flooding everything and is hard to debug c

[2020-08-28 17:12] mrocklin commented on #4083
Correct, right now heartbeat intervals are adaptive based on the number of workers, and there is no option to make this configurable.

In principle having a configuration value that defaulted to "auto" which would imply the current behavior seems sensible to me.

Short term, you could also change your logging level.  I tend to use INFO by default.

[2020-08-28 17:13] jakirkham opened #4084 "`test_tls_reject_certificate` regression"
Recently [we identified a regression in `test_tls_reject_certificate`]( https://github.com/dask/distributed/pull/4019#pullrequestreview-462034533 ) where the following `assert` no longer works correctly:

https://github.com/dask/distributed/blob/44bf0b981039ef5e474fbc5ccc6cd5a98b42e5e4/distributed/comm/tests/test_comms.py#L649

[2020-08-28 20:43] nsmith- commented on #2835
I'm not 100% sure if I am seeing the same thing discussed here, but often I see one or a handful of jobs stalled in "processing" on some number of workers. If I go to the task in the dashboard I see, e.g.
[code]
If I click the link to the call stack I see `Task not actively running. It may be finished or not yet started` which seems odd. If I retire the worker (e.g. in this case, `client.retire_wo

[2020-08-28 22:54] smst329 opened #4086 "client was defined in a different context"
whether I just use a regular client, or I do asynchronous=True initialization, I get the error:
`<Token var=<ContextVar name='_current_client' default=None at 0x7f8589afacc0> at 0x7f85884a2fc0> was created in a different Context`

The call is what is causing the issue:

`ds = client.get_dataset(current_dataset)`

I am doing the calls within an async function. I use a lock so that there is only one

[2020-08-28 23:39] smst329 commented on #4086
[code]

That is a small example of the issue. I would expect to have the ability to create a dataset in one function call, and then retrieve modify and re-publish in another.

[2020-08-29 04:07] therc commented on #2118
Another scenario: you have a worker size that accommodates 95% of tasks or higher, but the occasional pathological cases will use 2x memory. I'd love to retry tasks that were killed by the nanny, giving them each time X% more memory. This assumes dask-kubernetes and some kind of autoscaling to bring up beefier machines on demand.

[2020-08-29 04:13] smst329 commented on #4086
Closing issue. Root caused found to be asyncio api changes in jupyter not dask.

[2020-08-29 04:13] #4086 closed

[2020-08-29 16:30] mrocklin commented on #4086
Thanks for reporting the issue and for reporting the solution

On Fri, Aug 28, 2020 at 9:13 PM smst329 <notifications@github.com> wrote:

[2020-08-29 17:45] chrisroat commented on #3898
I re-tested this in 2.25.0 and found the memory increase on the scheduler (after reset) is now even higher - 2.2GB.

The code above just shows possible leaks in the main process, which is roughly the same.  I'm not sure yet how to figure out where the scheduler memory is going.

My workaround is to bring up a new cluster for each calculation.

[2020-08-29 20:40] mrocklin commented on #4080
OK, so I just ran this myself on a larger cluster.  Here are the results

[code]

[code]

[code]

[code]

[code]

cc @jakirkham as the new bytes-handling expert does the error message above mean anything to you?

[2020-08-30 22:15] mrocklin commented on #4058
Thank you for the issue @gjoseph92 , and my apologies for the delay in response.  cc'ing @jacobtomlinson and @ian-r-rose

[2020-08-30 22:18] mrocklin commented on #4070
@jacobtomlinson is this something that you would be interested in?

[2020-08-31 08:21] drorspei opened #4088 "Make dask-worker's --nprocs support negative values like joblib"
The joblib API allows giving negative `n_jobs` values, which is then interpreted as `n_cpus + 1 + n_jobs`. Can we have this api working for dask-worker's --nprocs argument?

Why is this useful? My current use case is having a network of machines, with varying numbers of cores, connected in a docker swarm, and my typical workload does well with nprocs=all-cpus and nthreads=1. Since the machines hav

[2020-08-31 09:46] garanews commented on #4083
Thanks @mrocklin , in case I would set logging INFO I am reading here https://docs.dask.org/en/latest/configuration.html and see that is possible to set with YAML, with system ENV or inline.
I am wondering if is possible to pass it as command.
For example, this is docker-compose of worker:
[code]

So I would pass the logging to scheduler:
[code]

But not sure if is possible and how :)

[2020-08-31 13:55] mrocklin commented on #4088
This makes sense to me.  A pull request would be welcome.

On Mon, Aug 31, 2020 at 1:21 AM Dror Speiser <notifications@github.com>
wrote:

[2020-08-31 13:57] mrocklin commented on #4083
I'm not that familiar with docker-compose unfortunately.  Does it allow you
to add files or specify environment variables?  If so, then I would use one
of those.

On Mon, Aug 31, 2020 at 2:46 AM garanews <notifications@github.com> wrote:

[2020-08-31 14:57] 2d1r commented on #3488
Hello,
I am quite new to dask but I am trying to launch some workers on a SLURM cluser, using dask distributed and I get pretty much the same errors the my logs, while the workers continue to run even if my script was killed.

Was this issue fixed somehow or is there a workaround to this? Thanks for your suggestions!

Here is the log of one of my workers ...
Let me know if you need more informatio

[2020-08-31 18:22] kinghuang opened #5425 "Creating a Client with set_as_default=False sets client as default"
**What happened**:

If I create a Client with `set_as_default=False` in the arguments, the client still gets set as the default.

**What you expected to happen**:

The client that I create should not be set as the default client.

**Minimal Complete Verifiable Example**:

[code]

The `default_client()` calls after creating a client with `set_as_default=False` should throw a `ValueError` just like

[2020-09-01 08:33] garanews commented on #4083
For sure you can pass option to command (as I already did for dask-worker passing processes, memory..) , but I see that dask-scheduler doesn't have logging level as option:
![image](https://user-images.githubusercontent.com/16938405/91811031-282edf80-ec2f-11ea-9920-f3645757f9ad.png)

[2020-09-01 14:05] quasiben commented on #4083
I would probably start with passing in the the logging level as an env var with docker compose.  That would be something like:

[code]

Note: I used our new handy conversion tool to help with this: https://docs.dask.org/en/latest/configuration.html#conversion-utility

Thanks @jacobtomlinson

[2020-09-01 14:37] bbockelm commented on #4070
For what it's worth, I'm unfortunately limited on my throughput for hacking on this to my "fun time" (i.e., weekends and nights).  Trying to find someone internally who can volunteer to look into this.

[2020-09-01 14:45] mrocklin commented on #4070
I recommend starting a popular open source project with lots of need of improvement.

It really forces you to up your convince-friends-to-do-free-work game :)

[2020-09-01 14:52] mrocklin commented on #4072
(Sorry for the late reply)

Ok @skozlovf would you like to raise a PR with this change?

[2020-09-01 15:11] jsanjay63 commented on #2757
Any progress on this issue? Thanks.

[2020-09-01 16:09] TomAugspurger commented on #2757
@jsanjay63 this GitHub issue should reflect the current state of things.

[2020-09-01 16:15] jcrist opened #4091 "Investigate performance issues in profiler"
This is a bit vague, apologies. We've received a report of high memory (multi GiB) usage that was resolved by reducing the frequency of the profiler in the workers. The user used tracemalloc and noted that many large allocations were occurring in the profiler. Reducing the frequency of profile info collections reduced the memory usage significantly.

See https://github.com/PrefectHQ/prefect/issues

[2020-09-01 16:21] #4088 closed

[2020-09-01 16:21] hisplan commented on #4007
I'm also getting all A, B, C, and D errors, but I'm running on HPC, not using Jupyter Notebook.

[2020-09-01 16:26] hisplan commented on #1825
Is there a way to programatically remove or adjust nanny start timeout?

[2020-09-01 17:01] davidsmf opened #4092 "Unable to serialize function with closure including object with custom metadata"
Example:

[code]

This works on python 3.8, but not 3.6.  It's caused by the upgrade of cloudpickle from 1.3.0 to 1.5.0 in a8a7586507fb73a08d5a80a1bd79a35ec4af3794

You can't replace the serializer used by `dumps_function`, so I can't replace it with dill. Dill works.

**What happened**:

Exception:
[code]

**What you expected to happen**:

No exception, pickled function.

**Minimal Complete Verif

[2020-09-01 17:10] quasiben commented on #4092
I'm not sure dask can help here if the issue lies with cloudpicke/dill ?  You could write a custom serialization for `pydantic`: https://distributed.dask.org/en/latest/serialization.html#extend

[2020-09-01 18:12] mrocklin commented on #4092
In general I think that if we can solve this upstream in cloudpickle then that's best.

@davidsmf cloudpickle is a pretty welcoming developer community and codebase.  I think that most of the current maintainers are people like you who ran into some part of Python that wasn't easy to serialize and then added it to cloudpickle.  If you're game to help out I'm sure that folks there would welcome it

[2020-09-01 23:38] mrocklin commented on #1825
Thank you for your comment @hisplan .  I don't think that it is related to this issue though, which is quite old and has been closed.  Could I ask you to open up a new issue?

[2020-09-01 23:38] mrocklin commented on #4007
That is useful information.  Thank you.  If you have logs from one of the
workers that would be helpful.

On Tue, Sep 1, 2020 at 9:21 AM Jaeyoung Chun <notifications@github.com>
wrote:

[2020-09-02 01:20] mrocklin commented on #3898
Thanks for keeping up with this @chrisroat .  I'm not sure I fully understand the printout that you gave a few months ago.  What do the sizes mean there?  Data that is no longer being tracked by Python?  If so, I'm curious how this is being discovered.  Some of those lines, like `set()`, seem fairly innocuous.

It's my first time seeing data like this.  Can you help interpret it?

[2020-09-02 01:21] hisplan commented on #4007
Here's the stderr captured by LSF: [stderr.txt.gz](https://github.com/dask/distributed/files/5159511/stderr.txt.gz)

This is how I set up LocalCluster:
[code]

[2020-09-02 01:23] hisplan commented on #1825
I found more relevant issue here: https://github.com/dask/distributed/issues/4007#issuecomment-684976373

[2020-09-02 01:27] mrocklin commented on #4007
The first entry in those logs is this

[code]

Looking at recent code it looks like this line was changed

[code]

Please upgrade Dask and distributed

    conda install dask

or

    pip install dask[complete] --upgrade

[2020-09-02 01:51] hisplan commented on #4007
I'm using Dask 2.21.0. Looks like I can upgrade to 2.25.0, but are you saying the following exception caused all those A, B, C, and D errors later?
[code]

[2020-09-02 01:55] mrocklin commented on #4007
That's my guess, yes.  Is it easy for you to try?

[2020-09-02 01:56] hisplan commented on #4007
Okay. Will try and let you know. Thanks.

[2020-09-02 02:19] chrisroat commented on #3898
Those are coming from [tracemalloc](https://docs.python.org/3/library/tracemalloc.html), which is supposed to detect memory leaks.

I'm realizing now, however, that the 2GB scheduler memory increase is likely not traced here, as it's likely a child process.  I think memory-profiler can profile child processes, but I haven't tried that yet.

[2020-09-02 02:49] mrocklin commented on #3898
The scheduler is run in the same process by default with the local cluster.

I guess I'm surprised that finding memory leaks is that easy.  I'll have to
learn more about how tracemalloc works.

On Tue, Sep 1, 2020, 7:19 PM Chris Roat <notifications@github.com> wrote:

[2020-09-02 05:42] davidsheldon commented on #4092
@quasiben The custom serialization isn't used for `dumps_function`. I tried that.

@mrocklin I'm working on getting cloudpickle fixed (and on upgrading our codebase to 3.8 so we don't hit this issue), however in the mean time dask could work for us if it didn't require 1.5.0 of cloudpickle. There's nothing I could see in that commit that required the upgrade of cloudpickle from the working 1.3.0 o

[2020-09-02 11:26] quasiben commented on #4092
Yes, sorry.

Some time ago, @jakirkham experimented with changing the serialization of args/kwargs in `run` instead of simply pickling:
 https://github.com/dask/distributed/issues/3946 .  Should dask use `serialize` instead of `dumps` ?

[2020-09-02 15:13] oshadura commented on #4069
@bbockelm I see sometimes (very rarely) with autoscaling coffea-casa is failing: https://gist.github.com/oshadura/7dd44b495345edb1b3622117595ad047

[2020-09-02 15:18] quasiben commented on #4091
Once we have a reproducer I'd be happy to help investigate

[2020-09-02 17:14] kevinpauli commented on #2757
What is the workaround for this in the real world?

[2020-09-03 07:48] agniszczotka commented on #3142
Hi, I have encountered the same error OSError: Timed out trying to connect to 'tcp://127.0.0.1:54234' after 10 s: connect() didn't finish in time. In my opinion, it is related to size of dask data frame saved as parquet. The variable n=1000 sets, size of the dask table frame. When n is smaller error does not show.

here there is reproducible code on my machine, Macbookpro-16GB macOS Catalina:

[2020-09-03 09:55] garanews commented on #4083
thanks, I passed that and I see it is set inside the container, but still logging the debug messages...
so if I enter in scheduler container and check env with command export I have:
export DASK_DISTRIBUTED__LOGGING__DISTRIBUTED='info'
export DASK_DISTRIBUTED__LOGGING__WORKER='info'
To be sure I set also these 2 in worker container but still logging the debug messages.

So question is how to avoid

[2020-09-03 12:48] quasiben commented on #4083
Are you setting the logging level to `debug` elsewhere in your setup ?  Typically `debug` is something the user _has to_ configure and the default is `info`

[2020-09-03 13:03] garanews commented on #4083
ehm, I just using docker image daskdev/dask so nothing touch about debug logging.
I see image is called daskdev so understandable debug level, but unfortunately there is not an image daskprod so....

[2020-09-03 14:11] quasiben commented on #4083
Hmm, I just tried the latest from https://github.com/dask/dask-docker and I only have INFO output.  Is there some in your `~/.config/dask/distributed.yaml` file which has DEBUG on ? Or something which changes logging behavior in `daskworkerinit.py` ?

[2020-09-04 08:58] garanews commented on #4083
I found it! I had DEBUG level in base.py  :
"loggers": {"distributed": {"level": "DEBUG", "handlers": ["console"]},},

So now finally I do not have hearbeat log anymore! Thanks @quasiben for your time!

[2020-09-05 07:01] michaelnarodovitch commented on #4080
That's something new to me :) Thanks for trying it out.

I digged a little bit into the comm code and didn't find anything suspicious there. I can't exclude that the connection timeouts on our end are related to our networking setup. I will update here, if I find anything interesting to share.

I suppose, that the reproducer captures the problem (on our end) quite well.

Maybe some other folks are

[2020-09-05 08:51] skozlovf commented on #4072
Ok, will create a PR for `Client` soon, but not sure about `LocalCluster` yet.

[2020-09-05 15:40] mrocklin commented on #4080
@quasiben is anyone on your team able to help deal with the comms issue here?  It seems like it might be related to recent changes.

[2020-09-05 20:41] mrocklin opened #4097 "Add TaskState class to worker.py"
Currently we record state in the Worker class with a variety of dictionaries that hold information like the function to be run, the type of the output, the status, the dependencies that we're waiting on, the number of bytes of the output, and so on.  We might consider turning all of these collections into a single collection of a `TaskState` type.

We did this transformation in the Scheduler a whi

[2020-09-07 14:01] Keou0007 opened #4099 "Cluster dies with "failed to deserialize" and "IndexError: pop from empty list""
**What happened**:
I use dask to dispatch embarrassingly parallel vtk processing jobs. If the vtk files are large-ish, the dask cluster dies halfway through processing the files.

**What you expected to happen**:
The files should be processed and when all of them are done the dask cluster exits cleanly.

**Minimal Complete Verifiable Example**:
 Minimal example is difficult because of the complexi

[2020-09-07 15:15] mrocklin commented on #4099
Thank you for the issue @Keou0007 .  Can I ask you to verify that you have the same version of the `dask` and `distributed` libraries installed on all of the machines?

Also, cc @jakirkham who has been playing around in the protocol/serialization code a bit recently and @quasiben for context.

[2020-09-07 15:39] Keou0007 commented on #4099
yup, versions are the same

[2020-09-07 15:41] mrocklin commented on #4099
Thanks for checking.  In that case I'm going to defer to @jakirkham who has been modifying this code the most recently if he has time.

[2020-09-07 15:43] Keou0007 commented on #4099
I'd be more than happy to help if there's something I can do, but I've tried tracking this down for a while now and I'm a little out of my depth.

[2020-09-08 14:37] quasiben commented on #854
@Kobzol did you ever end up profiling things with `perf` or did you only use `py-spy` in the end ?  No worries if you didn't do a `perf` run

[2020-09-08 14:41] Kobzol commented on #854
I didn't use `perf` on Dask itself, just `py-spy`.

[2020-09-08 14:59] nre opened #4100 "Worker plugin registration with name is not idempotent after cluster scaling"
**What happened**:

Worker plugin registration with name is not idempotent after cluster scaling.

**What you expected to happen**:

Worker plugin registration with name is always idempotent.

**Minimal Complete Verifiable Example**:

[code]
[code]
With the workaround:
[code]

**Anything else we need to know?**:

I propose that `Scheduler.worker_plugins` should be a dict `{name: plugin}` instead o

[2020-09-08 22:55] mrocklin commented on #4097
@gforsyth if you wanted a warmup ...

[2020-09-08 23:37] #3032 closed

[2020-09-09 02:10] Keou0007 commented on #4099
Thinking about this problem some more, it seems weird to me that something would fail to deserialize based on the size of a file being processed. The file is not passed to the worker, only the path to the file. This suggests to me that during processing of the file something is timing out while the file is being processed, which is causing the deserialisation to fail and this only happens when the

[2020-09-09 02:39] jakirkham commented on #4099
Are there some versions of Dask that work for your use case? Are there ones that don't? Can we identify a transition version where it changes?

Is this something that can be reproduced without VTK?

[2020-09-09 02:40] jakirkham commented on #4099
The fact that this doesn't consistently fail makes me thinking this is some kind of network failure (some packets are lost) as opposed to a serialization issue (reliably broken messages are generated).

[2020-09-09 03:04] jakirkham commented on #4092
Agree with Matt that fixing upstream in `cloudpickle` sounds like the way to go.

While `cloudpickle` and `dill` are great and allow us to do some pretty amazing things, occasionally one can still run into an edge case. Would agree the best thing to do here short-term is hide the complexity behind something simpler for them to use (like a wrapper function in user code).

[2020-09-09 03:54] jakirkham commented on #4080
This part of the traceback above sticks out to me.

[code]

Looking at the code it appears to be sending `bytes` (see below). This happens regardless of what was serialized (as it is always turned into a `bytes` object). That code also appears to be unchanged for ~1.5yrs. So am somewhat doubtful that this is the issue.

https://github.com/dask/distributed/blob/a803253492ab13aafee22e4a997996315aca6

[2020-09-09 04:34] Keou0007 commented on #4099
I've done some more looking, digging in on the "compute failed" message. My assumption is that occasionally the worker fails to run the dispatched function for whatever reason and then when the worker is checking the completion of the job (at distributed.worker line 2562), it finds something other than `"task-finished"` in `  result["op"]` and processes the failure accordingly. Whether this is hap

[2020-09-09 04:37] Keou0007 commented on #4099
I don't think this have ever worked 100% for me. My dispatching system is something I've put together fairly recently and my test case only has small files, so it didn't see these errors till I starting trying to use it in production on larger files.

[2020-09-09 05:03] jakirkham commented on #4053
Might also be worth looking at [`threadpoolctl`]( https://github.com/joblib/threadpoolctl ).

[2020-09-09 05:07] jakirkham commented on #4011
Is this solved with PR ( https://github.com/dask/distributed/pull/4019 ) or is there more still to do here? If the latter, it might be worth briefly listing what is still needed.

[2020-09-09 05:08] jakirkham commented on #4001
Friendly nudge @jfenc91 😉

[2020-09-09 12:53] KrishanBhasin commented on #4061
Just a further update on this:

On my large-task-graph usecase (mentioned in the original issue), when I don't use custom configuration, I still observe the RAM use hovering at 25-30%, but I occasionally get warnings from the Nanny about workers exceeding the 95% memory budget, and eventual failure via `KilledWorker`
e.g.
`KilledWorker: ("('getitem-73ddbaf4215b5913935e22a13e0aeae9', 92)", <Worker

[2020-09-09 12:58] gforsyth commented on #4097
Sounds good. I'll pick this up today.

[2020-09-09 15:52] #4011 closed

[2020-09-09 16:12] mrocklin commented on #4100
Making the worker_plugins field a dict makes sense to me.  I'm not
concerned about changing this API.  Very few people modify worker_plugins
directly.

On Tue, Sep 8, 2020 at 7:59 AM Nick Evans <notifications@github.com> wrote:

[2020-09-09 21:19] #4075 closed

[2020-09-10 04:57] smst329 opened #4102 "Getting length of dask dataframe is extremely slow"
I can define a dataset like so,

ds = client.get_dataset('dataset')

It can be very small: length of 500

len(ds) is 5 to 8 seconds.
I can persist it it with client.persist or ds.persist, but len calls are still extremely slow 5~8 seconds. It's not just len calls, pretty much all of the methods for getting the length of a dataframe are extremely slow.

Compared with the 186 µs of pandas, that's no

[2020-09-10 07:47] agniszczotka opened #4103 "raise CommClosedError() distributed.comm.core.CommClosedError with tornado.iostream.StreamClosedError: Stream is closedz"
**What happened**: When creating large data frames and saving to parquet there is an error:

Task exception was never retrieved
future: <Task finished coro=<connect.<locals>._() done, defined at /Users/agnieszkaszczotka/.pyenv/versions/anaconda3-2019.10/envs/bayesian/lib/python3.6/site-packages/distributed/comm/core.py:279> exception=CommClosedError()>
Traceback (most recent call last):
  File "/U

[2020-09-10 11:47] TomAugspurger commented on #4102
Can you provide a performance_report of your len calls https://distributed.dask.org/en/latest/diagnosing-performance.html#performance-reports?

See https://github.com/dask/dask/issues/5633 for a general discussion about adding partition lengths to dataframe metadata.

[2020-09-10 11:48] pvanderlinden opened #4104 "Semaphore and other objects as task condition"
When you are using the builtin Semaphore to limit task concurrency of a certain type, there are currently two behaviours you can choose:
- request the semaphore: this will hold a worker while the semaphore is not acquirable, which means workers are doing nothing (running a task which is waiting for a semaphore) because they are all waiting for the same semaphore
- request the semaphore after seced

[2020-09-10 14:48] seertaak opened #4106 "register_worker_plugin doesn't work as advertised"
`register_worker_plugin` does not work as advertised. The docs provide the following example:

[code]

The docs also say the following:

Unfortunately, when used in the following code:
[code]
In the code above, sometimes the dask workers can actually use the plugin as per the first quotes snippet. Other times, I get a `KeyError`.

In order to make this work, I have to use `sleep(60)` - and pray -

[2020-09-10 18:34] quasiben commented on #4103
Thanks for the report @agniszczotka .  When I ran I got a different error:

[code]

I probably need to upgrade arrow to 1.X (I currently have 0.17 installed.  What are version of arrow are you using ? or if not arrow, fastparquet ?

[2020-09-10 18:52] TomAugspurger commented on #3450
@seberg I looked into this again today. I'm afraid that doing things properly by implementing some kind of overrideable `ufunc.__reduce__` using the Python C API is a bit beyond me right now. What do you think about an explicit solution like the following:

1. NumPy stores a global dict of `{ufunc_instance: (module, name)}`
2. Dynamic ufuncs register themselves with NumPy.

[code]

Then numba coul

[2020-09-10 18:54] quasiben commented on #4103
After upgrading arrow i was not able to reproduce on Linux:

[code]

[2020-09-10 20:45] agniszczotka commented on #4103
I do use fastparquet. could you check with fastparquet?

[2020-09-10 20:51] seberg commented on #3450
@TomAugspurger, seems hackish, but maybe a band-aid is better than nothing.

However, I tried around a bit and I think we are missing that pickle got better, or how reliable it actually is?  I.e. I think NumPy is over-engineered and that makes the solution harder than necessary.  I tried modifying NumPy like this, but you can also do it manually:
[code]
Now you need one more ingredient, and that i

[2020-09-10 21:02] quasiben commented on #4083
Thanks @garanews -- closing

[2020-09-10 21:02] #4083 closed

[2020-09-10 21:09] TomAugspurger commented on #3450
I'm not sure I follow your example, sorry. Is there an else block missing?

But if I understand the spirit of the example, a (mutable?) `ufunc.__qualname__` would perhaps work for the numba example.

[2020-09-10 21:11] seberg commented on #3450
@TomAugspurger, sorry, I put the `if`, just because I assume we can do this change in NumPy master, but numba could use the hack to support older NumPy versions.

A (semi) mutable `__qualname__` would definitely be cleaner.  But if Numba is OK with `test_numba.ufunc.__name__ = "test_numba.ufunc"`, then this will work right now without any modification, I think.

[2020-09-10 21:23] TomAugspurger commented on #3450
Thanks for https://github.com/numpy/numpy/pull/17289

So IIUC, we'd update somewhere around https://github.com/numpy/numpy/blob/7e9d603664edc756f555fecf8649bf888a46d47c/numpy/core/src/umath/ufunc_object.c#L6117-L6119 to make it setable? And when numba generates the ufunc dynamically, they'd set `ufunc.__name__` to be `__module__.<function_name>.ufunc`? I might be able to manage that.

[2020-09-10 21:48] seberg commented on #3450
I am thinking that in theory, numba could set a different name here: https://github.com/numba/numba/blob/fd8c232bb37a1945e8dc8becef9fe05fdd78c4cf/numba/np/ufunc/_internal.c#L213

at least for now.  It is all a bit problematic I admit, if you want to not leak the name (Numba can probably hack this, but I am not quite sure, its all pretty brittle and since Numba copies some NumPy code, in the end nu

[2020-09-11 00:39] mrocklin opened #4108 "Adaptive scaling went above the number of available tasks"
Currently Dask supports [adaptive scaling](https://docs.dask.org/en/latest/setup/adaptive.html).  This allows it to scale the number of workers based on load.  The logic for how many workers to ask for is based on many things, like how much work we have, how much memory we need, and so on.

I recently observed a cluster scale up beyond the number of available tasks.  It shouldn't do this.  I had t

[2020-09-11 03:46] smst329 commented on #4102
Working on generating and reviewing performance reports on different datasets to see what lessons I can learn there and after my own review, I'll post them or report back here whether there is an undocumented lessons learned or the misunderstanding was on my part. I am new enough to dask that I can't resolve some of the trade offs under discussion for 5633 here. But I did find that illustrative.

[2020-09-11 12:32] quasiben commented on #4108
Do you have reproducer for the event ?

[2020-09-11 14:12] quasiben commented on #3616
I don't think this has failed in some time -- I'm going to close for now but let's reopen if we see it pop up again

[2020-09-11 14:12] #3616 closed

[2020-09-11 14:13] quasiben commented on #3578
@tayoogunbiyi are you still interested in working on this issue ?  If not, no worries

[2020-09-11 14:15] quasiben commented on #3594
I'm going to close this. @MennoNij if you are still experiencing issues please feel free to reopen

[2020-09-11 14:15] #3594 closed

[2020-09-11 14:18] quasiben commented on #3522
@andersy005 there have been some updates to dask-labextension ?  Would you be willing to try again ?  If you are still experiencing this issue can you also try another browser to help narrow the scope ?

[2020-09-11 14:38] quasiben commented on #3507
We have regularly been doing the following on the scheduler:

[code]

A complete example of RMM and UCX:
[code]

[2020-09-11 14:38] #3507 closed

[2020-09-11 23:22] jglaser opened #4109 "Default use jupyter-server-proxy with dask-labextension"
**What happened**:

When trying to connect to a dask scheduler with the dask `jupyter-labextension` the buttons for the individual statistics are greyed out. The root cause is that the schedule URL is being constructed as

https://myjupyterhuburl.xyz/user/dfe2f561-ba35-4d44-b100-800857b4b683/128.219.134.85:4024/

(if the bokeh dashboard is available at **128.219.134.85:4024**), that is, the hostna

[2020-09-11 23:38] jakirkham commented on #4109
Would be good to hear your thoughts on this @jacobtomlinson 🙂

[2020-09-12 08:07] pvanderlinden commented on #4104
This actually seems to happen more then it doesn't. New tasks are getting scheduled on the workers which don't do anything but have tasks waiting for Semaphores. While there are 6 workers, only 2 workers will do anything because of this issue. The Semaphore will also prevent task priorities to work properly (as they might get scheduled first, but might not get the lease first).

Is there any advic

[2020-09-12 08:16] pvanderlinden commented on #4104
Although I'm not sure this is the full story. I can also see tasks which are marked as ready, and don't get run at all, while only 2 tasks are actually running with 6 workers. I'm not sure why this is?

[2020-09-13 11:02] pvanderlinden commented on #4104
![test3](https://user-images.githubusercontent.com/391586/93016042-86a87600-f5be-11ea-8c25-e03b9624c78e.png)

An example of a timeline:
- the upper half is color coded for task type, lower half is just alternating to show task changes (if 2 of the same happen after eachother)
- all green tasks are kicked of at the same time, but are limited with a semaphore to one task at the same time
- each work

[2020-09-15 01:29] smst329 commented on #4102
I think the issue can be definitively can be chalked up to repeated concat operations on a streaming dataset creating one partition per datapoint. I think occasional repartitions will solve. I'll also look into accessing the most recent underlying partition and adding data points directly to that. I really appreciated the tip on performance reports.

[2020-09-15 01:29] #4102 closed

[2020-09-15 01:46] hisplan commented on #4007
So far I haven't seen this issue since the upgrade.

[2020-09-15 13:40] jacobtomlinson opened #4113 "Async client problems"
I've noticed a couple of issues with using clusters and clients asynchronously. These may be user error requiring docs/exceptions or bugs.

#### Sync client with async cluster hangs

[code]

#### Compute with async client reports `TypeError: zip argument #1 must support iteration`

[code]

[code]

- Dask version: master
- Python version: 3.7.4
- Operating System: macOS
- Install method (conda, pip

[2020-09-15 14:02] jcrist opened #4114 "Worker clients don't respect timeout config settings"
Clients created with `worker_client` or `get_client` don't respect the timeout settings (e.g. `distributed.comm.timeouts.connect`. The timeout is available to set programmatically, but defaults to `3` rather than falling back to the config file. I think this should be as simple as replacing `timeout=3` with `timeout=None` throughout that code path.

[2020-09-15 14:25] mrocklin commented on #4007
I'm glad to hear it.  I'm going to close this for now in hopes that the issue is resolved.  We'll reopen if this still persists for someone on latest release.

[2020-09-15 14:38] mrocklin commented on #4113
Yeah, the `get` method used within `.compute()` only operates synchronously.  I don't know a way to make `.compute()` work today.

The best way to do this today is to use `await client.compute(arr.mean())`

[2020-09-15 14:40] jacobtomlinson commented on #4113
Ah ok, thanks for the workaround!

[2020-09-15 16:04] jacobtomlinson commented on #4058
I support this, it would be useful.

This is a Jupyter Lab specific change, so we would need to test against other notebook compatible tools like classic notebooks, VSCode and Nteract to ensure things have sensible defaults.

[2020-09-15 18:46] #4007 closed

[2020-09-17 14:34] #4063 closed

[2020-09-17 14:48] #4100 closed

[2020-09-17 23:42] RAMitchell commented on #3833
I'm getting the updated error message but the problem still persists in distributed 2.26:
[code]

[2020-09-18 08:47] jacobtomlinson commented on #3833
Does a second call to rebalance still succeed?

[2020-09-19 19:57] mrocklin opened #4117 "GPU utilization plot reports repeated GPUs"
@quasiben and I were playing around with his 2-gpu system, and were surprised to see four GPUs in his dashboard plots.  I suspect that each worker was separately reporting the metrics for both GPUs on the system.

The relevant code for this is here:

https://github.com/dask/distributed/blob/ecaf14097f5e69e5b884e9c87b708c85d181a9ef/distributed/diagnostics/nvml.py#L6-L12

Perhaps pynvml does not res

[2020-09-19 22:20] brl0 commented on #3893
The PR to cloudpickle was accepted, and the example code above now works, closing.

[2020-09-19 22:20] #3893 closed

[2020-09-21 02:31] jglaser opened #4118 "Hardcoded time outs lead to complete teardown of communication layer"
**What happened**:

A long-running calculation (TPC-X BB benchmark with dask/RAPIDS, query 2) with UCX always crashes in the `distributed` communication layer. I am using 162 workers. The error reproducibly shows up as

[code]

in the log files, followed by many pages of other errors.

**What you expected to happen**:

Successful completion of the calculation.

**Minimal Complete Verifiable Exampl

[2020-09-21 02:34] jglaser commented on #4118
See also a similar issue #4103

[2020-09-21 04:00] mrocklin commented on #4118
cc @quasiben

[2020-09-21 04:21] mrocklin opened #4119 "Pass HighLevelGraphs through graph_to_fututures"
Notes for @madsbk

[code]

[2020-09-21 12:48] quasiben commented on #4118
I don't this we've seen this particular timeout in the past when running TPC benchmarks.  We have run with the following settings:

[code]

Do you know if this timeout occurred in the worker or scheduler ?

cc @beckernick in case he has other thoughts on timeouts

[2020-09-21 14:31] jglaser commented on #4118
@quasiben the timeout first appears in the workers

[2020-09-21 14:51] jrbourbeau commented on #3893
Thanks @brl0 for the upstream changes in `cloudpickle` and following-up here!

[2020-09-21 15:57] KrishanBhasin commented on #3878
Just a little update on this; I'm still seeing it occur with work stealing disabled.

I have a suspicion that it may be related to the fact that I create a client/local cluster long before I actually trigger a compute - if I break up the workflow to create a new client/local cluster right before I call `ddf.to_csv()` then this issue no longer seems to occur.

I am not sure how the workers being id

[2020-09-22 09:53] maldag opened #4120 "pubsub: not all put() operations are completed"
When using the pub/sub pattern in dask distributed the object put in the publish method is not deeply copied to the buffer. Instead it is somewhat loosly coupled. Thinking about message queueing I expected the object to be moved to the queue.

If the call to ` p.put(copy.copy(mydict))` would be done without the copy method, the number `n` in the dictionary would be referenced to the last given num

[2020-09-22 14:29] jennalc opened #4121 "Progress bar does not work with SSL"
progress() method fails with the following message when SSL is enabled for scheduler and client:

[code]

In my environment, edited progressbar.py line 260 to change way connection args are retrieved to:

[code]

After this change, progress bar works well with SSL client.

[2020-09-22 14:38] mrocklin commented on #4121
Thanks for the report and the fix.  Would you be interested in submitting a
pull request with your change?

On Tue, Sep 22, 2020 at 7:30 AM jennalc <notifications@github.com> wrote:

[2020-09-22 17:52] jennalc commented on #4121
Thanks for your quick response @mrocklin
I am new to using git, so please bare with me a little bit. I have submitted a pull request & checks are running now. I am not sure how to link it to this issue.

[2020-09-22 19:57] jrbourbeau commented on #4121
Closed by https://github.com/dask/distributed/pull/4122

[2020-09-22 19:57] #4121 closed

[2020-09-22 20:05] andersy005 commented on #3522
I can confirm that this appears to have been fixed. Thank you for the ping, @quasiben

[2020-09-22 20:05] #3522 closed

[2020-09-24 07:39] PedroMDuarte opened #4124 "Exception in thread and deadlock after creating Client"
**What happened**:

I am trying to instantiate and use a Client as part of handling an http request.

I see the following on the logs:

[code]

**What you expected to happen**:

I was hoping that the client would start normally, and I could use it, but instead the request hangs forever.

**Minimal Complete Verifiable Example**:

It is hard to come up with a minimal way to reproduce the problem. Th

[2020-09-24 14:17] KrishanBhasin commented on #4061
I'm wondering if this issue may be linked to my failure to get the colours on the dask dashboard's memory pane changing as I intended in https://github.com/dask/distributed/pull/3837?

[2020-09-24 16:19] mrocklin commented on #4124
You would have to provide more information in order for us to be useful.
If you are using Dask within an async environment, such as with asyncio or
tornado then I recommend using Dask in asynchronous mode. See
https://examples.dask.org/applications/async-web-server.html for an example

On Thu, Sep 24, 2020 at 12:39 AM Pedro M Duarte <notifications@github.com>
wrote:

[2020-09-24 16:52] jsanjay63 commented on #2757
Small sample example to reproduce this issue: https://stackoverflow.com/questions/64046973/dask-memory-leakage-issue-with-json-and-requests

[2020-09-24 21:17] TomAugspurger opened #4126 "Add helpers to make scheduler state JSON serializable"
In a recent debugging session, I was trying to inspect a remote scheduler through a bunch of `client.run_on_scheduler(lambda dask_scheduler: dask_scheduler.<attr>)` commands. Some of these (like `.tasks`) were harder since they contain references to non-serializable objects.

WorkerState.identity() is I think what I have in mind. This would be similar for all the objects in the scheduler state, an

[2020-09-24 23:28] PedroMDuarte commented on #4124
Thanks @mrocklin , I have been looking more closely at the problem today and found that it shows up only with recent versions of `gcsfs` and `fsspec`.

More details:
[code]

From what I can tell gcsfs 0.7 is also running an io loop, which defaults to `asyncio.get_event_loop()` if a loop is not provided explicitly: https://github.com/intake/filesystem_spec/blob/master/fsspec/asyn.py#L133

This lead

[2020-09-24 23:37] PedroMDuarte commented on #4124
Update, I just tried passing `loop=client.loop` on the `storage_options` and that did not work.  Crashes as follows:
[code]

[2020-09-25 00:05] andrewfulton9 commented on #3590
Is this issue already resolved? I'm not able to reproduce it.

[2020-09-25 02:08] PedroMDuarte commented on #4124
To add more context, I tried reproducing in a minimal way on a local shell but could not reproduce. This may indicate that there can be some interaction with other parts of our web server.

This is what I tried for reproducibility:

[code]

Our webserver is a flask app, run with gunicorn using gevent workers.  It seems that `distributed.Client` is able to start an IO loop in a separate thread unde

[2020-09-25 12:54] martindurant commented on #4124
Note that distributed uses a Tornado loop, but fsspec expects an asyncio loop. For a long time now, the former is a wrapper of the latter, and you can unwrap it like
[code]

The way in which the two libraries start a new loop is rather similar, since I was, of course, familiar with the distributed code.

[2020-09-25 16:29] blazespinnaker commented on #2443
I was getting this error - " Web dashboard not loaded.  Unable to import bokeh".   It's not clear from reading the documentation on how to get more information on what's causing this. I agree with the above that dask is impaired without the web dashboard as I don't know if or how my workers are being utilized properly.  Is there a verbose logging option I've missed?

I was able to fix it by going

[2020-09-25 16:43] mrocklin commented on #2443
Everything is fine.  If you want the dashboard (which is useful) then you'll have to install the additional library `bokeh` for visualization

    pip install bokeh

or

    conda install bokeh

[2020-09-25 16:53] mrocklin commented on #4126
Personally I don't have any objection to this, but I also don't often find
a need for it.  I'm ambivalent.

On Thu, Sep 24, 2020 at 2:17 PM Tom Augspurger <notifications@github.com>
wrote:

[2020-09-25 21:28] mrocklin commented on #4080
This just came up in a Pangeo issue (see #4128 linked above).  @jakirkham @quasiben would you all be able to take ownership over this problem?  I think that you all are probably the best positioned to fix it, if you have the time.

[2020-09-25 21:51] jakirkham commented on #4080
I think I've already provided as much insight as I can above.

[2020-09-25 22:22] mrocklin commented on #4080
Understood.  Someone needs to dig in here, figure out the right way forward, and fix the problem.  I'm curious if either of you are willing to take this on.

[2020-09-25 23:15] blazespinnaker opened #4129 "dask-worker not found after pip install of complete"
**What happened**:

ran:
 20  python3 -m pip install "dask[complete]"
   21  dask-worker

and got

Command 'dask-worker' not found, but can be installed with:

sudo apt install python3-distributed

**What you expected to happen**:
dask-worker to execute

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

workaround was to exit shell and ssh back into node.

**En

[2020-09-26 01:08] mrocklin commented on #4129
This seems like a problem with however it is that you're installing
things.  I'm not sure how much we can help here.  I would check other
things like your PATH, other python libraries that you've installed, and so
on.

Given how you're installing with python3 -m pip you might consider using
that same approach with dask

python3 -m distributed.cli.dask_worker SCHEDULER_ADDRESS

On Fri, Sep 25, 2020

[2020-09-26 01:13] mrocklin commented on #3590
Great.  Thanks for checking @andrewfulton9 .  Closing.

[2020-09-26 03:05] blazespinnaker commented on #4129
FWIW, it was a fresh azure node using vanilla ubuntu image they list at the top.  I installed pip via apt update / apt install python3-pip.   Nothing else was done.  This was the 6th node I installed and encountered this issue, so I'm pretty confident I'm not missing anything here.

[2020-09-26 18:39] michaelnarodovitch commented on #4080
Gave it an other try with dask/distributed 2.7.0 and dask/distributed 2.0.0 - same problem.

Wondering, what happens with the `BatchedComm`, if the scheduler event loop is blocked, as indicated by the logs

[code]

[2020-09-27 13:06] trivialfis commented on #4117
Hi @mrocklin , I'm using `LocalCUDACluster` from `dask-cuda` and couldn't find the utilization information on daskboard.  Is there any document on how to enable it?

[2020-09-27 13:23] quasiben commented on #4117
@trivialfis you may need to upgrade the [dask lab extension](https://github.com/dask/dask-labextension) if you are using jupyter lab (recommended).

<img width="423" alt="Screen Shot 2020-09-27 at 9 23 01 AM" src="https://user-images.githubusercontent.com/1403768/94365969-0ba58c00-00a3-11eb-8be4-65e4ee44b127.png">

You can also find it directly on the dashboard at `:8787/individual-gpu-utilization

[2020-09-27 13:30] quasiben commented on #4080
I can take a look at this early next week

[2020-09-27 13:34] trivialfis commented on #4117
@quasiben Thanks for the reply.  The direct way works perfectly for me.

@mrocklin

If memory serves, you are right that nvml doesn't respect `CUDA_VISIBLE_DEVICES`, so pynvml won't be affected by this env.

[2020-09-27 15:10] trivialfis commented on #4117
Related https://github.com/dask/distributed/issues/3808 .

[2020-09-28 02:00] rahatzamancse commented on #344
I am having the same issue, and I have run dask-scheduler and dask-workers in local machine to test. From the same directory, if the program is launched, it goes smoothly. But ask workers do not seem to find the module of another python file in the same directory.

[2020-09-28 13:12] KrishanBhasin commented on #4080
@michaelnarodovitch This sounds very similar to the issues I have been having in #3878 - these logs are extremely similar to what I have been seeing:

Unfortunately I do not have anything of value to add other than potentially linking the issues, apologies.

[2020-09-28 13:16] deeplook opened #4132 "Add classic line charts"
As nice as the existing dynamic widgets are, in certain cases it would be helpful to have classic line charts instead of the shiny dynamic bar charts. This would allow tracking changes better over time and take a screenshot for documentation. An example use-case is when debugging memory leak issues like described in https://stackoverflow.com/questions/64046973/dask-memory-leakage-issue-with-json-a

[2020-09-28 13:43] fjetter opened #4133 "Computation deadlocks after inter worker communication error"
Before I start, sincere apologies for not having a reproducible example but the issue is a bit weird and hard to reproduce. I mostly querying here to see if anybody has an idea what might be going on.

**What happened**:

We have seen multiple times now that some individual computations are stuck in the `processing` state and are not being processed. A closer investigation revealed in all occurren

[2020-09-28 14:04] TomAugspurger commented on #4133
Good, timing, @quasiben and I are looking into this right now! xref https://github.com/dask/distributed/pull/4128 and linked issues.

One thing I'm trying to disambiguate: connection errors like those seen in https://github.com/dask/distributed/pull/4130 and the `BufferError: Existing exports of data: object cannot be re-sized`  like pangeo is running into. Do you think they might have the same ro

[2020-09-28 14:05] quasiben commented on #4133
Does this occur with a large number of workers ?

One thing which would be super helpful (though fairly challenging) is getting a reproducer for this (these) issues.

[2020-09-28 14:47] fjetter commented on #4133
I suspected the BatchedSend myself but I was working under the impression that everything in `handle_comm` was not batched but a plain comm (ICP/TCP/TLS/etc.; depending on the setup, of course)

No, last time I observed this we had 10 workers. However, the scheduler and one of the workers had an uptime of about a month (we always have one worker ready to compute and are scaling up as necessary. Sc

[2020-09-28 15:07] TomAugspurger commented on #4133
That sounds right to me, but I"ll confirm. Right now my guess is that we have two distinct issues (the `handle_comm` things and `BatchedSend` not gracefully handling exceptions like `BufferError`)

[2020-09-28 15:45] TomAugspurger commented on #4132
Agreed that this would be useful. I don't believe that this information is currently tracked, however. So we would need to collect it before being able to display it.

[2020-09-28 15:53] mrocklin commented on #4132
The Bokeh chart itself could also track it if we wanted to.

On Mon, Sep 28, 2020 at 8:45 AM Tom Augspurger <notifications@github.com>
wrote:

[2020-09-28 19:26] martindurant commented on #4113
Suggest close, unless there is a good place to document the situation

[2020-09-28 19:46] jennalc opened #4134 "KeyError: pickle-protocol when running df.npartitions"
Running the following:
[code]

Get the following error:

[code]

**Anything else we need to know?**:
- I am using a single-host environment - client, scheduler and worker are all on the same host using the same conda environment
- I am using a custom implementation of a dask-jobqueue cluster. Tried to reproduce with LocalCluster, but could not
- The cluster works fine using Dask/Distributed 2.22.0

[2020-09-28 22:25] #4072 closed

[2020-09-29 10:28] cyrilpic opened #4136 "Dask serialization doesn't respect subclass of array"
I have been using Dask to perform parallel computation for optimization algorithms. I use a custom subclass of an `array.array` to represent the solutions and store additional attributes. I then send a list of those to a processing function through dask bag.

**What happened**:

The script fails with a `AttributeError: 'array.array' object has no attribute 'multiplier'` exception. The type of the

[2020-09-29 11:00] TomAugspurger commented on #4134
Do things work if you have matching version of dask / distributed on all the workers & client?

[2020-09-29 11:34] pvanderlinden commented on #4104
@mrocklin @fjetter any thoughts on the above issues with Semaphores?

[2020-09-29 11:59] jennalc commented on #4134
@TomAugspurger - No. It only works when scheduler/worker/client are all on dask/distributed 2.22.0 or below. As soon as I move them all up to 2.23.0 or above, this error occurs.

[2020-09-29 12:01] TomAugspurger commented on #4134
The error message indicates that you haven't upgrades all of them
(scheduler, workers, and client).

On Tue, Sep 29, 2020 at 7:00 AM jennalc <notifications@github.com> wrote:

[2020-09-29 12:28] quasiben commented on #4113
We could document this on the [asynchronous page](https://distributed.dask.org/en/latest/asynchronous.html) .  Something like.  We have some nice text [in an example](https://examples.dask.org/applications/async-await.html#Collections)

Happy to submit a PR @martindurant if you think that'd be appropriate

[2020-09-29 12:31] jennalc commented on #4134
Yes, the error message says that, but I guarantee you that they are all the same. I am working on a single host, with only 1 conda environment. So all 3 components are using the exact same packages.

[2020-09-29 12:34] jennalc commented on #4134
By the way, if I go add a print statement in core.py to print The local and remote pickle-protocol, I see both print "4" several times, but right before this error occurs, the remote loses the key.

[2020-09-29 12:54] martindurant commented on #4113
Sure, sounds reasonable to me.

[2020-09-29 12:59] fjetter commented on #4104
First things first, the scheduler is actually agnostic about the semaphore values and the task transitioning and work assignment doesn't know about this, neither does the work stealing or any other internal administration. So there is definitively a lot of potential for improved scheduling if the synchronization objects were implemented as task annotations or conditions. Effectively only transitio

[2020-09-29 13:37] pvanderlinden commented on #4104
@fjetter I'm using the Semaphore's to limit the usage of an SQL usage and other resources (not per worker resources, otherwise I would use the builtin resource feature). The issue without seceding is that I would not process things in parallel much as all workers will be busy working on waiting for the semaphore. The scenario: I schedule 60+ tasks with the same Semaphore, each of those tasks then

[2020-09-29 13:50] pvanderlinden commented on #4104
Also I do understand that the scheduler is agnostic about the Semaphore, which is basically what is causing the issue. I can't see a way of using the Semaphore's without having the scheduler being aware of the Semaphore's.

I'm also trying to find a work around, as this is a big issue.

[2020-09-29 13:57] quasiben commented on #4136
I think the issue here is a spelling mistake `multipler` -> `multiplier`

[2020-09-29 14:06] cyrilpic commented on #4136
Sorry for the spelling mistake in my minimal example. I've update the example.

Notice that the error is `AttributeError: 'array.array' object has no attribute 'multiplier'` and not `AttributeError: 'CustomArray' object has no attribute 'multiplier'` like one would expect if it was only for the spelling mistake.

[2020-09-29 14:11] fjetter commented on #4104
The thing about seceding is that on a given worker multiple threads may secede and while doing so acquiring a lease. If only one of them can rejoin, this effectively leads to resource starvation which is what might be happening in the case of these very heavy yellow computations.

I don't have much experience with the seceding approach. I actually have no idea about how it is implemented, but from

[2020-09-29 14:29] quasiben commented on #4136
Ah, sorry about that @cyrilpic .  I think in this case you may need to register a custom serializer.   I thought we might be able to use `register_generic`

[code]

But this will fail, I think do to array instance checking:

[code]

And the serializer already defined https://github.com/dask/distributed/blob/b2f594e69751e0733ac595026e04181c55119ae9/distributed/protocol/serialize.py#L628-L633

We ha

[2020-09-29 15:06] pvanderlinden commented on #4104
The main reason  (green-black-yellow) are separate tasks is because they have way different resource requirements and more black and yellow can run at the same time (then green). The second issue is that some yellow tasks are going to depend on black tasks (other then their "own" black task).

[2020-09-29 15:10] quasiben commented on #4134
@jennalc can you build a reproducible example which writes the CSV then reads it back in ?  I'd recommend using `dask.datasets.timeseries()`

[code]

Can I also ask for you post the output of `conda list -n notebookEnv`

[2020-09-29 15:17] pvanderlinden commented on #4104
The other work around would be (not great though), to not secede, and use worker resources. That way I can limit which workers run which tasks. It is not a great work around, but it might solve my issue till the Semaphores & Scheduling work together. I need to test if this works, and also it makes the workers non generic. The other way might be to build more like a queuing system, like the feature

[2020-09-29 15:30] michaelnarodovitch commented on #4080
related:
#4118 - also using a large cluster and experiencing flappy connections (162 workers)
#4133 - `BufferError: Existing exports of data: object cannot be re-sized`
#4113 - flappy connections, ` CommClosedError()`

[2020-09-29 15:57] jakirkham commented on #4136
The `register_generic` approach would work if `CustomArray` contained an `array` instance. Unfortunately it won't work if it subclasses an `array`. Though it doesn't look too difficult to restructure this class to do that if we wanted that option.

Implementing custom serialization is probably the way to go. This involves implementing a [serialization function]( https://github.com/dask/distributed

[2020-09-29 16:07] martindurant commented on #4091
cc @TomAugspurger , perhaps related to the profiler holding references during buffer mutation?

[2020-09-29 16:44] cyrilpic commented on #4136
Thank you, I got it working with the following:

[code]

But I had to put everything in a separate module in order for Dask workers to know about it.

I know it's a bit a special use case (but some libraries use it and cannot be refactored so easily), but I'm still a bit surprised that Dask "secretly" replaces a CustomArray with an array. Maybe it would be worth dropping a line about that in the d

[2020-09-29 17:37] jakirkham commented on #4136
Glad you got it working! 😄

Yeah Dask just does an `isinstance` check when serializing an object. So if the object is a subclass (in this case of `array`), it will likely be picked up by its parent class. We do this with all of the builtins and also other objects (like NumPy arrays).

[2020-10-01 14:38] pvanderlinden commented on #4104
@fjetter There is basically no way of limiting concurrency of tasks correctly as I understand it now?
- Semaphore's while cause one of the two issues I described above
- if I start using queues, I can't really construct a graph as tasks will all be submitted on from the workers, and other issues
- after thinking through using worker resources, I don't think this is an option either. It will cause

[2020-10-01 16:15] fjetter commented on #4104
None of the synchronization objects (Events, Locks, Semaphores) are designed to limit the concurrency of *tasks* but rather about limiting concurrent code execution of code within a task. I actually believe there are valid applications for both but what you are requiring is definitely out of scope of the current implementation.

---

One additional thing you might consider trying to mitigate the "

[2020-10-01 16:18] pvanderlinden commented on #4104
Thanks, I will experiment with the reschedule mechanism.

[2020-10-01 18:54] itamarst opened #4141 "Dask requires consistent Python hashing"
As per https://github.com/dask/dask/issues/6640, Dask breaks if Python hashing is inconsistent across workers. This appears to be a bug in Distributed Dask backend as well:

**hashing.py:**

[code]

When run:

[code]

### Solving this

The solution for Dask (https://github.com/dask/dask/pull/6660) was to set PYTHONHASHSEED for worker processes. And you can do that similar solution for Distributed

[2020-10-02 15:44] mrocklin commented on #4141
Hrm, so `dask-worker` does run the worker in a sub process by default (we create a Nanny, which runs Worker in a spawned process).  However, this isn't universal (some people run without the Nanny process).

Doing the same fix as we did in dask.multiprocessing would be a good first step here, and would probably solve 90% of the problem.

Going beyond that though, I'm not sure.  We could consider a

[2020-10-02 20:50] itamarst commented on #4141
There's no public API for setting it after startup, which makes sense given what it does. Only thing I can think of is something like

[code]

in the startup code (which won't work on Windows...).

[2020-10-03 08:08] bmaisonn opened #4144 "Constantly having MemoryError exceptions when processing dataframe"
**What happened**:
I'm trying to process a large dataframe (1,5Go and millions of rows) with dask and dask distributed but very quickly i get MemoryError exceptions and i need to restart python or workers.

**What you expected to happen**:
My comprehension is that Dask is not supposed to persist data in memory unless when using "compute" so i don't expect to get memory erros when retreive few data

[2020-10-04 12:22] bnaul opened #4145 ""Cycle detected in Dask" with distributed scheduler"
Some simple dataframe operations that were working previously broke on upgrading to 2.29; I `bisect`ed and traced it back to #4127. Certainly sounds related based on the traceback but I'm afraid I don't understand the change well enough to attempt a PR quite yet. It's especially curious to me that this low-level graph optimization logic functions differently when running with or without the distri

[2020-10-04 23:20] mrocklin commented on #4145
Thank you for the excellent bug report @bnaul

I have an async version (sort of) of this here (although the sync compute in the categorize call makes this harder to make clean):

[code]

Placing a `breakpoint()` in dask/core.py where the error occurs we find that we're within a worker thread calling the local dask.get function on a subgraph callable with the following state:

[code]

Note that the

[2020-10-05 08:00] madsbk commented on #4145
In `2.29.0` and `master` we do call `unpack_remotedata()` on subgraphcallable but we call `unpack_remotedata(..., byte_keys=False)` instead of `byte_keys=True` and then later we call `str_graph()` to _stringify_ everything. However, `str_graph()` doesn't _dive_ into `SubgraphCallable`, which I think is the problem.

I can work on a solution where `str_graph()` also handles `SubgraphCallable` later

[2020-10-05 13:43] jennalc commented on #4134
I am able to reproduce with timeseries as suggested, but not with distributed LocalCluster or dask-jobqueue LocalCluster.
Don't have a way to share my other cluster right now... will keep trying and let you know if I can get a standalone reproducible example.

[2020-10-05 14:42] mrocklin commented on #4145
Thanks Mads.  From my perspective fixing this regression is probably higher
priority than other HLG work.

On Mon, Oct 5, 2020 at 1:00 AM Mads R. B. Kristensen <
notifications@github.com> wrote:

[2020-10-05 16:18] lfdversluis opened #4147 "Semaphore gets released too often"
To avoid generating too much NFS traffic, I am using a semaphore like this to copy data from NFS to a local file storage to read from later:

[code]

Now if I run it I get the error that
[code]

I tried debugging, I found out that setting `processes=1,` in the construction of SLURMCluster does **not ** fix this. So it looks like a threading issue to me. https://github.com/dask/distributed/issues/4

[2020-10-05 16:31] lfdversluis commented on #4147
Probably important details:

[code]

and
[code]

[2020-10-05 17:11] mrocklin commented on #4147
cc @fjetter @lr4d

[2020-10-06 06:27] CMCDragonkai commented on #3386
I started getting this too. However I've customizing the LocalCluster, in particular by directly instantiating the SpecCluster.

[code]

But then... when I try to use it...

[code]

[2020-10-06 07:23] CMCDragonkai opened #4149 "Persistent client connection"
I'm creating an aiohttp server that maintains a persistent client connection to the dask distributed scheduler.

Is there a way to hook into the client so I can know when the client has lost connection to the scheduler, and when its attempting to re-establishing connections.

This way I could block/queue up tasks before sending it to the client and report to the user on the web frontend that the s

[2020-10-06 08:43] fjetter commented on #4147
Can you try defining the semaphore instance within the function instead of passing it via the function

[code]

This should help ruling out a (de-)serialization issue. I am pretty surprised to see this and have no idea what's beneath this. The first thing I would suspect is that for whatever reason two worker threads use the same semaphore instance and they simultaneously manipulate internal state

[2020-10-06 11:27] TomAugspurger commented on #4144
You seem to be using pandas in your example?

What's happening on the dashboard while the computation is running?

[2020-10-06 12:41] lfdversluis commented on #4147
No Semaphore output is ending up in the slurm-xxxxxx.out files. I ran my script with your suggested modification and it still happens.

Here is the output of one of the slurm-xxxxx.out files

[code]

I now noticed the line `coroutine 'Semaphore._acquire' was never awaited`. I see the _acquire is async, yet ` return self.client.sync(self._acquire, timeout=timeout)` in the source code should deal wi

[2020-10-06 13:10] quasiben commented on #4149
Would checking `client.status == 'closed'`  or `client.scheduler is None` work for you ?

[2020-10-06 13:13] saeedshojaee opened #4150 "Worker should be able to respond to scheduler when running long GIL functions"
We are using dask for distributing optimization functions. They are usually long running GIL functions. Since workers are unresponsive when solving tasks, scheduler fails to change the cluster size.
We would like the worker to be able to respond to scheduler, and allow the queued task to be redistributed.

[2020-10-06 13:16] quasiben commented on #4150
@saeedshojaee could you provide more context for this issue.  Do you mean heartbeats ? Other Diagnostics ? Was there a particular problem you are currently trying to resolve ?

[2020-10-06 13:35] CMCDragonkai commented on #4149
It needs to be an async callback? Unless you are suggesting me to asynchronously poll.

On 7 October 2020 12:10:50 am AEDT, Benjamin Zaitlen <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-10-06 13:53] itamarst commented on #4141
deephash seems promising:

[code]

Results in:

[code]

[2020-10-06 13:58] quasiben commented on #4149
A `PeriodicCallback` could work but I misunderstood what you were asking for before.  I'm not sure Dask can do what you are asking -- how would you imagine this working ?  When the connection dies a callback is thrown ?  There is a heartbeat between the client and the scheduler -- perhaps that is a viable route ?

[2020-10-06 14:25] #3808 closed

[2020-10-06 14:43] mrocklin commented on #3386
@CMCDragonkai to clarify, are you saying that Dask itself is failing here, or your modification is failing?  If the former then can I ask you to open a separate issue (perhaps referring back to this one) with a minimal example of what a maintainer would need to do to reproduce the problem?

[2020-10-06 16:15] fjetter commented on #4147
Well, yes I would think so. However, if this was never awaited, for whatever reason, it would explain why your code could reach the release before it actually acquired a lease. Let's just put a `assert this_cannot_happen` somewhere in there 😅

If this was never awaited you should effectively not seeing your computations to slow down. The acquire is the blocking call and without it all jobs will ru

[2020-10-06 16:20] fjetter commented on #4147
Not really pretty, but to get to the bottom of it, there are two things which would cause the client.sync to not block and this is if the client is setup asynchronously or if it detects the thread to be in an async state.

You might want to look at the output of
[code]

[2020-10-06 16:59] #4145 closed

[2020-10-06 21:34] jeanp413 opened #4152 "Future stays in pending state after worker crashed"
Hi, I'm submitting cython functions to specific dask workers but if the worker doing the computation crashes the returned future stays in `'pending'` state.
[code]
This is similar to this issue I found https://github.com/dask/distributed/issues/1110#issuecomment-305446145 that says the task is waiting for other workers to claim it but that won't happen as it's submitted to a specific worker.
I exp

[2020-10-06 22:48] jakirkham opened #4153 "test_gpu_metrics fails"
**What happened**:

When running the `test_gpu_metrics` tests, found that they failed due to an `ImportError`.

**What you expected to happen**:

Would have expected these tests to pass.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

<details>
<summary>Test failure:</summary>

[code]

</details>

**Environment**:

- Dask version: 2.29.0
- Distributed versio

[2020-10-06 22:49] jakirkham commented on #4153
cc @quasiben (for vis)

[2020-10-06 22:58] quasiben commented on #4153
I think this is just and error in the test.  I'll fix now

[2020-10-06 23:02] jakirkham commented on #4153
Start of a fix in PR ( https://github.com/dask/distributed/pull/4154 ).

[2020-10-06 23:04] jcrist commented on #4080
We've found a similar issue from running Prefect with `inproc` comms. Was working fine on 0.22.0 and fails with non-deterministic timeout errors pretty consistently after 0.23.0. I've tried to reproduce without prefect, but am struggling. Will try for a bit more tomorrow, otherwise will post a reproducer with prefect involved.

[2020-10-06 23:08] CMCDragonkai commented on #4149
If dask can be async, one should be able to pass a callback into the client object that would be called if these issues occur.

On 7 October 2020 12:59:06 am AEDT, Benjamin Zaitlen <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-10-07 11:08] lfdversluis commented on #4147
If I run your snippet with

[code]

The script crashes before it can even print, seems like the run function does not block?

Running with
[code]

outputs nothing in the logs? Just

[code]

printing doesn't work either; I think as it runs on the node instead of scheduler?

[2020-10-07 12:15] fjetter commented on #4147
I had another look at the issue and it turns out it can be rather easily reproduced with the local cluster even

[code]

The issue is that you're using https://distributed.dask.org/en/latest/api.html#distributed.Client.run to schedule an *out-of-band function*, is this intentional? Internally this works slightly differently compared to an ordinarily scheduled task/future.

The normal way would be

[2020-10-07 12:21] lfdversluis commented on #4147
🤔 I was using run to ensure it runs on all nodes, but I guess submit works too? The reason I used run is because it's blocking. I need to ensure all workers have the dataset on local storage before I start the computation (otherwise the data might not be there). This shouldn't also impact the usage of the semaphore, being out-of-band or not (right?).

I will try to use the submit function with `.r

[2020-10-07 12:55] #4153 closed

[2020-10-07 13:05] ederome commented on #2317
Hello,
    We've been testing recently with Dask two dataframes with about 10 million rows in each of them, containing approximately 20 columns each, first by reading them from MS SQL Server, and then calling the MERGE method on them, with joins.
To use dask, we actually use MODIN, which itself calls DASK under the hood as you know. We could not use the multi processes to True (default) because it

[2020-10-07 13:59] quasiben commented on #2317
I am not that familiar with Modin.  But in general we don't see this issue. In fact, I would recommend closing this as there wasn't much follow up from the original author.  @mrocklin's earlier suggestion still stands:

You could also verify objects are serializable with `serialize`:

[code]
I'd suggest building a minimal reproducer and filing a new issue and I'd be happy to take a look.

@mrockli

[2020-10-07 14:09] mrocklin commented on #4152
In this case it's still waiting for a worker to arrive that meets
conditions.  For example, even though your worker crashed, it might be
brought up again.  In that case Dask would want to run the task there again.

On Tue, Oct 6, 2020 at 2:34 PM Jean Pierre <notifications@github.com> wrote:

[2020-10-07 15:22] felipeblazing commented on #4152
Is there a way for us to be able to detect that the worker did indeed crash during this task execution given that this task is no longer a "valid" one in our case.  The worker won't be coming back and we want to be able to say this failed user.

[2020-10-07 15:59] fjetter commented on #4147
Well, if you call `submit` it will be scheduled as one task and will only be executed on one worker (unless you force it to be distributed among all workers).

I believe when using `Client.run` it is always an asynchronous context, whether you want it to be or not since it is running in the primary server thread (ordinary tasks/futures are computed in a different thread/threadpool). Therefore, if

[2020-10-07 17:38] mrocklin commented on #4152
A quick and dirty way to get what I think you want is to set the
distributed.scheduler.allowed-failures config value to 1.  I suspect that
that will give you the behavior that you're after.

On Wed, Oct 7, 2020 at 8:22 AM felipeblazing <notifications@github.com>
wrote:

[2020-10-07 17:43] mrocklin commented on #2317
Yeah, to reiterate my comment from before, Dask can only move things around that are serializable.  All of pandas, cudf, and dask dataframes are serializable.  I'm not sure what is happening in this particular case.  The next step here is for someone to provide a minimal reproducible example (see http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

I'm happy to close, but also happ

[2020-10-07 17:48] jrbourbeau commented on #4149
The `Client`s underlying Tornado IO loop is accessible at `Client.loop`. Perhaps using `Client.loop.add_callback` would work for your use case

[2020-10-07 19:38] jeanp413 commented on #4152
I tried it out using `export DASK_DISTRIBUTED__SCHEDULER__ALLOWED_FAILURES=1` but it didn't work, the future stays in `pending` state

[2020-10-07 19:48] mrocklin commented on #4152
Ah sorry, maybe try zero?

For context, this value says that if a task is on a worker when it goes
down, try retrying that task N times before calling it a failure.  In this
case it will be marked with the KilledWorker exception.

On Wed, Oct 7, 2020 at 12:39 PM Jean Pierre <notifications@github.com>
wrote:

[2020-10-07 20:27] jeanp413 commented on #4152
Awesome, that worked thanks.

[2020-10-07 20:27] #4152 closed

[2020-10-08 10:08] KrishanBhasin commented on #4080
On `2.30.0`, I am still seeing the below on workers:
`distributed.worker - ERROR - Handle missing dep failed, retrying Traceback [....] Timed out trying to connect to 'tcp://127.0.0.1:46171' after 90 s: connect() didn't finish in time `

`distributed.worker -  ERROR - Worker stream died during communication: tcp://127.0.0.1:34761 [...] Timed out trying to connect to 'tcp://127.0.0.1:34761' after 9

[2020-10-08 12:37] KrishanBhasin commented on #4061
@mrocklin I have been playing around some more using my large task graph usecase from the original issue. I inserted some log lines that emit the values for the `zict` Buffer and have found out that:
- for my use case, the Buffer target is ~14GB (about correct for 0.7 * 20GB per worker)
- Zict's inspection of the buffer shows it is operating at ~97-99%, so it must be spilling before the worker's o

[2020-10-08 13:31] michaelnarodovitch commented on #4080
What helped quite a bit is, sofar:
[code]

Big timeout effectively makes the workers saturate the scheduler socket. The backoff protects the scheduler listener by effectively spreading the connections in time. Failed tasks would still be rescheduled.
https://github.com/dask/distributed/blob/b2f594e69751e0733ac595026e04181c55119ae9/distributed/comm/core.py#L327-L332

[2020-10-09 02:56] CMCDragonkai commented on #3741
I'm seeing this as well, and I've got bokeh installed.

Also shouldn't this issue be reopened?

[2020-10-09 03:40] jrbourbeau commented on #3741
@CMCDragonkai I'd recommend opening a new issue with a minimal reproducer

[2020-10-09 06:36] hhuuggoo commented on #3790
[code]

I couldn't get this alternative to work?  By the time `remote` is called, df is already unpickled, and therefore `__setstate__` is already called.  @crusaderky, how is this working for you?

FWIW - my plan is to use a worker plugin which modifies the worker address - calling `resolve_address` on `get_worker().scheduler.addr`.  Which doesn't directly address the root of the problem, but sho

[2020-10-09 16:59] gimperiale commented on #3790
@hhuuggoo my proposed change goes beyond the 3 lines you pasted - it's explained in detail in my opening post. Those 3 lines alone won't work for the reason you already figured out.

[2020-10-09 17:12] mrocklin commented on #3790
Whoa, name change for @gimperiale .  That's going to take some getting used to :)

[2020-10-09 17:29] crusaderky commented on #3790
@mrocklin nah I just accidentally commented from my work computer :P

[2020-10-09 17:32] itamarst commented on #4141
Moved discussion of Dask-side fix to https://github.com/dask/dask/issues/6723

[2020-10-09 17:36] hhuuggoo commented on #3790
Oh ok apologies.  I read that as this is the current work around, but now I understand.  Thanks

FWIW on our side we're going to be mitigating this issue by resolving hostnames before passing scheduler addresses anywhere.

[2020-10-09 19:20] adbreind opened #4159 "Add ability to reset stateful dashboards"
Some dashboards, like time-per-action and time-per-key, accumulate data over the lifetime of the scheduler.

It would be useful if a user/client could "reset" these to zero or, alternatively, create a new "instance" of these dashboards beginning at a point in code, so that output could be obtained just for subsequent (or even context-manager-guarded) operations.

[2020-10-09 19:24] adbreind opened #4160 "Expose or proxy internal IPs of workers for Prometheus monitoring"
In some deployments, like Fargate container deploys, it can be impossible for an external Prometheus monitoring host to directly reach workers on their published, yet private/internal network, IPs.

It would be useful if the scheduler or a process alongside the scheduler, perhaps using the "sidecar container pattern," could proxy requests to the workers from public IP/ports.

[2020-10-09 19:53] adbreind opened #4161 "Task stream does not render in get_task_stream or performance_report HTML reports"
**What happened**: HTML reports from `get_task_stream` and `performance_report` contain grid and controls for the task stream output, but not task content (colored blocks), while the live dashboard (8787/status) does show task stream contents

**What you expected to happen**: contents in HTML report similar to live dashboard output

**Minimal Complete Verifiable Example**:

setup:
[code]
code:
[co

[2020-10-09 21:14] jrbourbeau commented on #4161
Thanks for raising an issue @adbreind! I think you want to make sure the computation actually runs while in the context managers. For example, instead of:

[code]

try adding a `wait` call

[code]

[2020-10-09 21:40] adbreind commented on #4161
Good point. I'll check and see if we can still reproduce the issue or not.

[2020-10-09 23:22] adbreind commented on #4161
Modified repro example (and put @jrbourbeau 's suggested change inline above, so that newcomers to the issue will get the right code to play with).

Issue still exists, but now we've tightened it up a little.

Thanks for the catch, @jrbourbeau !

[2020-10-10 04:10] jrbourbeau commented on #4161
Hrm, I'm not able to reproduce when I run your updated example when using the latest dev version of `distributed`. The task stream plot from both `get_task_stream` and `performance_report` are populated with task content (screenshots below).

`get_task_stream`:

<img width="1552" alt="Screen Shot 2020-10-09 at 11 07 07 PM" src="https://user-images.githubusercontent.com/11656932/95645428-7e8c0b00-0

[2020-10-10 18:44] adbreind commented on #4161
To standardize testing of this, I tried it on a Coiled Cloud notebook, launching via the JupyterLab launch tile (the one that points to https://cloud.coiled.io/jobs/coiled/jupyterlab)

* First, I ran it using LocalCluster with the test code above, did reproduce the same problem with blank output. For that run, it was dask 0.28 and distributed 0.28, python 3.8

* Next I tested it using the coiled n

[2020-10-10 19:50] jrbourbeau commented on #4161
Alright, thanks for the additional information. I'm able to reproduce the issue just using a `LocalCluster` on my local machine (i.e. not using Coiled) when using `bokeh` v2.2.0 but not with `bokeh` v2.1.1. I used the following the create two separate conda environments with different `bokeh` versions:

No content in task stream:
[code]

Has content in task stream:
[code]

@adbreind there was prob

[2020-10-10 19:53] jrbourbeau commented on #4161
Also cc @jsignell for visibility

[2020-10-11 15:33] bmaisonn commented on #4144
Hello @TomAugspurger,
Sorry i switched back to pandas after made the tests with Dask i edited my first submission to reflect the original code.
I'm not sure to understand what you mean by the dashboard but i took a capture of the dask status page:
![memory_error](https://user-images.githubusercontent.com/7989822/95682787-8e703000-0be7-11eb-9456-1ff971588a6a.gif)

I also have multiple occurences of

[2020-10-11 16:04] DavidKatz-il opened #4162 "HTTP server doesn't closed"
**What happened**:
When opening a client twice (or more) like the following code:
[code]
or
[code]
I`m getting the following warning massage when the new client opens (after one was created before):
[code]

**What you expected to happen**:
When a client is closed, it should also close the http_server thus releasing the port.

**Minimal Complete Verifiable Example**:

[code]

**Environment**:

- Da

[2020-10-12 09:17] fjetter opened #4163 "Flaky test for BatchedSend error handling"
We've encountered a flaky test in #4151 for the recently added exception handling of the BatchedSend introduced in #4135

Full build log
[2_build (3.7).txt](https://github.com/dask/distributed/files/5364141/2_build.3.7.txt)

Test traceback
[code]

cc @TomAugspurger

[2020-10-12 14:34] TomAugspurger commented on #4144
@bmaisonn do your individual partitions fit in memory on your workers? That `MemoryError` indicates that the `pandas_read_text` is consuming more memory that your worker can handle.

[2020-10-12 16:31] KrishanBhasin commented on #4080
@michaelnarodovitch thanks for sharing that. I have just tried running your suggested config, and am finding that the issue still occurs (but much less).

My code does a lot of merging towards the end of the job, where I am still getting `[Errno 111] Connection refused` in my workers' logs followed by a huge loss of progress (I assume because the worker gets removed, so all of its keys have to rec

[2020-10-12 16:48] EmperorArthur commented on #3955
I just ran into this issue on my local machine, so it is alive and well.

[code]

Results in this being outputted over and over again:
[code]

# Known Causes:
* Running this when `os.getcwd()` is in a directory without write privileges triggers the error every time.
* My Django project via PyCharm's console also triggers it every time.
  * Investigating why is still ongoing.

# Version Information

[2020-10-12 16:57] jrbourbeau commented on #4162
Thanks for raising an issue and providing a minimal example snippet @DavidKatz-il! Unfortunately I'm not able to reproduce with the latest distributed release (version 2.30.0). Here's what I get when I running the snippet with `distributed==2.30.0` using Python 3.7:

[code]

Could you try updating to 2.30.0 and see if you still encounter the port warning?

[2020-10-12 18:45] mrocklin commented on #3955
I recommend getting logs and then posting them here

[code]

[2020-10-12 18:46] mrocklin commented on #4162
I also wouldn't be surprised if this is OS dependent.  It may be that even
though Dask/Tornado/Python have released the port back to the common pool
that the OS isn't yet willing to give it to others.  Putting a modest sleep
between shutting down one cluster and starting another might be informative.

On Mon, Oct 12, 2020 at 9:57 AM James Bourbeau <notifications@github.com>
wrote:

[2020-10-12 22:21] jcrist opened #4165 "Frequent CommClosed issues w/ inproc comms on Prefect"
In Prefect we're seeing issues with `distributed >= 2.23.0` when using `inproc` comms. Everything works fine in 2.22.0, but in 2.23.0 we see comm closed errors and workers marked as dead.

I have a reproducer with this, but unfortunately haven't been able to reproduce without prefect yet (will keep trying):

Reproducer (requires `prefect` installed):

[code]

<details>
<summary>
Logs on dask & dis

[2020-10-12 23:32] twoertwein commented on #4108
[code]

prints:
[code]

[2020-10-13 03:35] blazespinnaker commented on #4129
python3 -m distributed.cli.dask_worker tcp://192.168.1.66:8786 worked.  I guess pip install dask[complete] sets up the command line for dask-scheduler but not dask-worker unless you re-enter the shell.

[2020-10-13 03:46] blazespinnaker commented on #4129
Hmmm, looks like the pip install sets up the local bin.  I see now that it does warn about this in the pip install though.

[2020-10-13 03:46] #4129 closed

[2020-10-13 08:26] DavidKatz-il commented on #4162
After updating `distributed`, the above example works fine.
However running with `LocalCluster` still results with the warning:
[code]

or with a random port:
[code]

**Environment**:

- Dask version: 2.30.0
- Distributed version: 2.30.0
- Python version: 3.7.9
- Operating System: Linux
- Install method (conda, pip, source): conda

[2020-10-13 11:14] DavidKatz-il commented on #4162
Thanks, this solves the problem.
[code]

[2020-10-13 11:14] #4162 closed

[2020-10-13 12:20] KrishanBhasin commented on #4061
In summary:
- It appears that the Workers' two methods of identifying memory use have been strongly disagreeing in my use case.
`dask.sizeof()` seems to massively overestimate memory use compared to `psutil`.
- I solved my issue by setting `memory.target` to `False` in the configuration file, relying on `psutil`'s memory monitoring to trigger a spill-to-disk at my `memory.spill` target.
  - This i

[2020-10-13 12:20] #4061 closed

[2020-10-13 13:56] pvanderlinden commented on #4104
Fixed an issue in the code:
[code]

@fjetter Unfortunately this doesn't work. It still keeps the workers busy waiting on Semaphores while "real" tasks are still waiting for a worker.

[2020-10-13 17:30] quasiben commented on #4165
Thanks @jcrist !  I can reproduce.  Will this example scale up/down the number of workers or will the worker number stay at 20 ?

[2020-10-13 17:32] jcrist commented on #4165
With that configuration it should stay at 20.

[2020-10-13 19:02] quasiben commented on #4165
I see things near the end when the job is still running but workers are removed:

[code]

[2020-10-13 19:04] jcrist commented on #4165
Yeah, but no `scale`/`adapt` calls are being made, my assumption was this was due to comms failing and workers being marked as dead. Haven't dug in deeper than that.

[2020-10-13 23:52] CMCDragonkai commented on #3386
@CMCDragonkai I'm more asking how does this error:

[code]

Occur?

There's no addresses that I'm aware of here.

If you could explain what exactly is this address that it's complaining about? It looks like a small type error somewhere that I can investigate further.

[2020-10-14 06:29] pvanderlinden commented on #4104
Is it possible to modify the rejoin function to be able to timeout? This way it would work like this:
- secede
- trying to acquire semaphore
- after that: rejoin
- if that times out: release semaphore and reschedule
That might solve the issue. @fjetter sorry, I just try to get solve this issue, as it slows down everything so much, non parralel processing is almost as fast

[2020-10-14 09:13] pvanderlinden commented on #4104
I thought I found a solution, but this makes the issue even worse, and I don't understand why. I would expect the submitted task to be scheduled on a different worker. and the worker "acquiring and releasing the semaphore" secedes, and is "free" to pick up tasks. Instead the functions submitted by this code don't always get scheduled while there are free workers available. Does this mean there is

[2020-10-14 13:23] jcrist commented on #4165
Here's a new reproducer that makes the dask-related things more visible (not buried in prefect's `DaskExecutor`). Still no reproducible example sans prefect.

[code]

[2020-10-14 13:28] lr4d commented on #4104
Have you looked into _fusing_? Depending on the fusing parameters, you will be executing some of the (logical) tasks after the task involving a semaphore as part of a single (actual) task.

You could also look into using [futures](https://docs.dask.org/en/latest/futures.html#).

[2020-10-14 14:07] pvanderlinden commented on #4104
@lr4d Fusing would only complicate things. They are split because they have completely different scheduling requirements. And it will make it impossible to describe dependencies.

What do you mean with using futures? I'm scheduling tasks like that in the example. But for some reason Dask doesn't schedule the tasks on the 5 idle workers.

[2020-10-14 14:12] pvanderlinden commented on #4104
The main reason to fuse, is if you have many very small tasks which take more time to schedule then to compute. The graph I'm talking about has about 8 hours in 180 tasks on average, which is several minutes per task.

[2020-10-14 14:18] jcrist commented on #4165
Ok, I've figured this out, it's a bug in the connect timeout logic in distributed. PR incoming.

[2020-10-14 14:40] jsignell commented on #4161
Thanks for pinging me - I'll take a look

[2020-10-14 15:18] jsignell commented on #4161
Ok so far I have figured out that there is data in the html. But for some reason it is not rendering properly. I think the time axis might be off somehow.

Compare the saved html:
![image](https://user-images.githubusercontent.com/4806877/96009652-e76ddd00-0e0e-11eb-8ef7-590e3a47b44b.png)

with the output in the dashboard:
![image](https://user-images.githubusercontent.com/4806877/96009712-fbb1da0

[2020-10-14 15:38] jcrist commented on #4165
See #4167.

[2020-10-14 15:47] jcrist commented on #4080
This *might* be fixed by #4167, can you try that branch and see if it works for you?

[2020-10-14 17:53] jsignell commented on #4161
@bryevdv in case you know what's likely to have caused this. Changing the bokeh version from 2.2.0 to 2.1.1 in the html file made the plot render. Here are the html files for [2.2.0](https://gist.github.com/jsignell/5d4f262ccc05770bfd443393c97dcfa4) and [2.1.1](https://gist.github.com/jsignell/182aa4010229f97b3c1731f3694b984f)

[2020-10-14 17:56] #4163 closed

[2020-10-14 18:10] jsignell commented on #4161
I have confirmed that the same behavior exists in 2.2.1 and 2.2.2

[2020-10-14 18:52] bryevdv commented on #4161
I don't offhand, there were no intentional 2.2 changes I am aware of that would bear on this. cc @mattpap

[2020-10-14 19:11] jsignell commented on #4161
Thank you - yeah dask is clearly missing a test for this. Is it possible that integer times aren't being treated correctly in bokeh?

@jrbourbeau do you think we are intentionally using absolute time for these plots rather than time relative to the start of the tasks (like we do in the dashboard version)? As a quick check I tried plotting relative time instead and that works.

git diff for relativ

[2020-10-14 19:39] jsignell commented on #4161
There are no console errors or messages.

[2020-10-14 19:57] bryevdv commented on #4161
Actually @jsignell I think it is this bug (which has been merged for 2.3, but perhaps we can get it into a 2.2.3 as well) https://github.com/bokeh/bokeh/issues/10488

[2020-10-14 20:14] bryevdv commented on #4161
@jsignell actually what is easier for you: excluding 2.x and waiting for 2.3? Or having a 2.2.3 release (though it may not be for a few days or Monday)

[2020-10-14 21:01] jcrist opened #4168 "Python 3.9 compatibility"
Opening this issue to track Python 3.9 compatibility issues.

[2020-10-14 21:02] jcrist commented on #4168
Currently `distributed` fails to start worker processes on Python 3.9 with a local cluster (at least on osx). I see

[code]

[2020-10-14 22:24] madkinsz commented on #4168
I get the same error in the python3.9 docker image (Debain 10 - Linux version 4.19.76) so I presume this is not limited to OSX

[2020-10-15 08:26] fjetter commented on #4104
I thought about the rescheduling again and realised this could never work. The task priorities would still enforce the same tasks to be rescheduled over and over again. Have you considered giving the follow up tasks higher priorities (maybe in combination w/ rescheduling)? Different priorities, of course, could then just flip the problem, s.t. the follow up tasks block. Maybe there is some sweet s

[2020-10-15 09:40] pvanderlinden commented on #4104
Rejoin is ensuring you don't run multiple tasks on a single worker.

Do you have any idea why submitting a task from a task won't schedule it on any of the idle workers, but instead puts them almost all on a single worker, making the issue even worse? @fjetter

[2020-10-15 10:17] lr4d commented on #4104
My bad, didn't go through the whole thread.

I see you're already doing this, my idea was something like the below. (Mostly pseudocode, don't expect this to work).
e.g.
[code]

[2020-10-15 12:13] pvanderlinden commented on #4104
@lr4d I have two versions trying to limit concurrencies of certain tasks:

production:
[code]
Which has the issue of giving the Semaphore some of the time to a worker which is busy, making it impossible to rejoin, and not really distributing the work.

Attempt 2:
[code]
This version seems to trigger a bug in the scheduler, as 4/5 workers are not doing any work most of the time, while there are ava

[2020-10-15 13:00] jsignell commented on #4161
Oh! Yep that seems like it. I am testing 2.3 now. I imagine it's easier to just exclude 2.2 and wait for the 2.3 release

[2020-10-15 13:52] jsignell commented on #4161
Well I can't seem to build bokehjs locally today. I am running into an issue with timezone.js. That bug really feels like it'll solve this issue.

I don't think that's something that we can reasonably test from the dask side though right?

[2020-10-15 17:15] #4097 closed

[2020-10-15 22:23] bryevdv commented on #4161
@jsignell I will try to cut a conda or pip-installable 2.3 dev build tonight.

[2020-10-16 07:23] impravin22 commented on #3798
@jacobtomlinson I am facing the same issue. Did you solve the issue? if yes can you please tell me how to solve it? I have posted my problem in stackoverflow too. But didn't find the solution yet.

https://stackoverflow.com/questions/64382706/dask-distributed-scheduler-error-couldnt-gather-keys

[2020-10-16 14:21] jrbourbeau commented on #4161
Thanks for all your debugging and releasing efforts @jsignell @bryevdv!

[2020-10-16 15:03] EmperorArthur opened #4169 "Dask workers do not properly wait for preload to finish when passing options"
**What happened**:
Pre-loading with click options are not awaited.
This means any plugin which has an async setup function will not be fully loaded when the worker is "started".

distributed.preloading - INFO - Import preload module: test.py
/home/arthur/.virtualenvs/arhlibrary/lib/python3.8/site-packages/distributed/preloading.py:175: RuntimeWarning: coroutine 'dask_setup' was never awaited
  das

[2020-10-16 16:39] jrbourbeau commented on #4169
Thanks for raising an issue and providing an nice code example @EmperorArthur! I'm able to reproduce the `RuntimeWarning: coroutine 'dask_setup' was never awaited` when using your `dask_setup` click command (though I get this warning regardless of if there are click options or not).

My understanding is that click commands themselves don't support coroutines (xref https://github.com/pallets/click/

[2020-10-16 16:58] EmperorArthur commented on #4169
I am interested, though my time is limited, and I need to find and read any contributor guidelines for the project.

I should have been more clear, commenting out both:
[code]
Triggers the else statement:
https://github.com/dask/distributed/blob/dcb46d07318282d8a8976aadb0e4003144a42ae7/distributed/preloading.py#L176-L180

Unfortunately, that meant I had to choose between allowing arguments, or let

[2020-10-16 19:44] bryevdv commented on #4161
FYI we have decided to push a 2.2.3 release. It should be out (pip and bokeh channel) by Monday.

[2020-10-16 20:56] jrbourbeau commented on #4169
No worries @EmperorArthur, I opened up a PR over at https://github.com/dask/distributed/pull/4170 to support click commands wrapping async functions. Also, for future reference, developer docs for `distributed` are available at https://distributed.dask.org/en/latest/develop.html

[2020-10-17 01:32] marwan116 opened #4171 "Passing "zero" to dask-worker cli fails"
**What happened**:

I am looking at the dask-worker cli definition, specifically at the how the memory-limit is specified.

As noted here https://github.com/dask/distributed/blob/master/distributed/cli/dask_worker.py#L149

[code]

so ideally I would want to pass the option "zero for no memory management"

this looks like the function that is used to parse the memory limit specification:
https://gi

[2020-10-17 13:11] marwan116 commented on #4171
as a follow up - it seems to me that passing the integer 0 is what is required for no memory management - but it would be nice to get a confirmation and if the documentation is clarified

[2020-10-17 19:00] jrbourbeau commented on #4171
Thanks for raising an issue @marwan116. As you've found `dask-worker --memory-limit 0` should be used to disable memory management. Do you have interest in clarifying this in the documentation?

[2020-10-18 13:39] moritzaugustin commented on #3881
is there an estimated date when this will be finally merged via https://github.com/dask/distributed/pull/3895 ?

i would very much like to test the port forwarding feature in my dask setup (tens of servers)  where i currently rely on manual port forwarding management

[2020-10-18 18:50] TomAugspurger commented on #3881
@moritzaugustin seems like https://github.com/dask/distributed/pull/3895 has some merge conflicts and test failures. I'm guessing @jacobtomlinson would be fine with you picking up that pull request if you're interested.

[2020-10-19 10:47] jacobtomlinson commented on #4117
I think this has been resolved by #3810

[2020-10-19 10:47] #4117 closed

[2020-10-19 14:28] marwan116 commented on #4171
@jrbourbeau - thanks for confirming, please see the linked PR for a proposed update to the memory-limit options' documentation.

[2020-10-19 16:28] jacobtomlinson commented on #4109
I think there may be more factors at play here as the default scheme doesn't match with your experience.

https://github.com/dask/distributed/blob/a0b2a605b496a0459789e72b00989e17a83ed56c/distributed/distributed.yaml#L156

I would expect the default URL to be `tcp://128.219.134.85:4024/status` in your case.

This suggests that perhaps this is being configured incorrectly elsewhere already.

[2020-10-19 16:29] jacobtomlinson commented on #4109
Could you share how you are constructing your dask cluster?

[2020-10-19 16:34] jrbourbeau commented on #4171
Closed by https://github.com/dask/distributed/pull/4172

[2020-10-19 16:34] #4171 closed

[2020-10-19 19:38] bryevdv commented on #4161
Bokeh 2.2.3 is released should be available on pip and bokeh conda channel to start

[2020-10-20 03:01] jrbourbeau opened #4173 "Flaky test_broken_worker_during_computation"
I've noticed `distributed/tests/test_failed_workers.py::test_broken_worker_during_computation` has been sporadically failing in recent PRs (e.g. https://travis-ci.org/github/dask/distributed/jobs/737168606#L1607)

[2020-10-20 08:08] lr4d commented on #4104
@pvanderlinden As @fjetter states earlier, there is no supported way to accommodate this use case atm. The code example I shared was just an idea that came to my mind, due to issues with state and parallel operations, I wouldn't expect it to work "properly" either.

[2020-10-20 09:08] pvanderlinden commented on #4104
@lr4d Do you have any idea why the client.submit only/mostly seems to submit tasks to the *current* worker only?. I literally have 4/5 workers doing nothing (only running deceded tasks) and a long backlog of tasks on one worker. Do I have to give it some hint to schedule it somewhere else?

[2020-10-20 14:48] jsignell commented on #4161
I verified that Bokeh 2.2.3 solves this issue. Thanks @bryevdv!

@jrbourbeau should we explicitly exclude 2.2.0-2.2.2 as dependencies?

[2020-10-20 16:10] jrbourbeau commented on #4161
Historically we've just asked users to upgrade their bokeh version when there's an issue like this. If it becomes a big enough pattern we can exclude 2.2.0-2.2.2 but I'd rather try the "please upgrade your bokeh version" route first

[2020-10-20 17:04] #4169 closed

[2020-10-20 19:29] eric-czech opened #4175 "Assertion error on connection attempt"
I have a dask cluster running within Kubernetes and the scheduler is reachable from outside the cluster, but I am getting this strange assertion error that does not occur when using the jupyter client within the Helm deployment.  Here is a trace:

[code]

I hacked in the message to see what was coming back.  Again, this same code runs without error using the environment created as part of the helm

[2020-10-20 20:08] eric-czech commented on #4175
Nevermind, this was an issue with the scheduler version differing from the client.

[2020-10-20 20:08] #4175 closed

[2020-10-21 03:25] zhpfu commented on #2543
Is there a solution for the WSL1 version？

[2020-10-21 15:40] fjetter commented on #4118
I've seen similar errors for TCP/TLS comms and came up with #4176 See also #4167

[2020-10-21 15:56] jwilson8767 commented on #2543
@zhpfu Definitely not, as the issue is with WSL1's network stack itself.

[2020-10-21 20:45] rjzamora opened #4177 "[BUG] Failing to find dependencies in tuple of futures"
**What happened**:  After #4139  there seem to be a number of broken tests in [custreamz CI](https://gpuci.gpuopenanalytics.com/view/RAPIDS%20-%20GPU%20Matrix/job/rapidsai/job/gpuci/job/cudf/job/branches/job/cudf-gpu-matrix-branch-0.16/CUDA=10.1,LINUX_VERSION=ubuntu16.04,PYTHON_VERSION=3.7/49/testReport/custreamz.tests/test_dataframes/test_getitem_dask_/).  The failures seem to be related to the w

[2020-10-22 02:33] jrbourbeau commented on #4177
Thanks for the nice reproducer @rjzamora! I haven't had a chance to look into the details, but https://github.com/dask/distributed/pull/4139 definitely introduced this regression

[2020-10-22 02:51] rjzamora commented on #4177
Since we are no longer operating on a raw dict in `_graph_to_futures`, we are now relying on `get_all_dependencies` to gather the required dependency structure.  For `BasicLayer`, this is ultimately relying on `keys_in_tasks`, which only searches for keys in tuples [if the first element is callable](https://github.com/dask/dask/blob/46ef300d4174983e769702a38a51c6884a8765b5/dask/core.py#L178).

It

[2020-10-22 13:34] quasiben commented on #4159
Hmm, I'm not sure how to go about doing this as those plots pull directly from data recorded in the scheduler: https://github.com/dask/distributed/blob/dd28f7af1446e71091e079f7fdceacf489899911/distributed/scheduler.py#L4193-L4194

But I agree it would be useful to reset or context manage these plots

[2020-10-22 13:57] quasiben commented on #4150
@saeedshojaee any additional comments ?

[2020-10-22 14:45] jpujari-ctx opened #4179 "Does the address attribute support a cluster instance"
https://github.com/dask/distributed/blob/18fff8b0ca0297e100695519931c78e579cb55a6/distributed/client.py#L662

The code referenced above throws an error saying

[code]

But the elif is only checking against the str class and no checks against a cluster class.

[2020-10-22 14:48] jcrist commented on #4179
We don't enforce a cluster base class, `Cluster`-like objects passed in as `address` should have a `scheduler_address` attribute, which is pulled in the check above this one:

https://github.com/dask/distributed/blob/18fff8b0ca0297e100695519931c78e579cb55a6/distributed/client.py#L655

[2020-10-22 14:50] jpujari-ctx commented on #4179
Thanks, it makes sense now

[2020-10-22 14:50] #4179 closed

[2020-10-22 16:09] jennakwon06 opened #4180 "Request for documentation on tuning for scaling to thousand-node cluster"
Hello,

I have been trying to connect my client to a 3000-worker cluster across 62 nodes (powerful instances- each with 768GB RAM).
I've been running into connection issues - tried several days tuning various things - to no avail.

Dask promises to scale to thousand-node clusters ("[Dask's schedulers scale to thousand-node clusters](https://dask.org/)").  yet I am a bit in the dark as to what exac

[2020-10-22 16:26] quasiben commented on #4180
@jennakwon06 I can definitely commiserate with this experience having had similar troubles.  For example, when doing larger runs I am usually setting the following across some combination of the scheduler/client/worker:

[code]

A problem here is that best is not generalizable.  Do you have any notes on your errors and what you tried when resolving them ?

@martindurant added a page on `Why worker

[2020-10-22 16:36] jennakwon06 commented on #4180
@quasiben

My error was client failing to connect to scheduler. Took me a while but I ended up root causing by doing tcpdump on client/scheduler machines and seeing scheduler send RST packets to client. Then it took me more time until I came across this issue #4167 and @jcrist pointed me to a bug in distributed.comm layer ([comment](https://github.com/dask/distributed/pull/4167#issuecomment-714594

[2020-10-22 19:42] pentschev opened #4181 "`AsyncProcess` exit handlers execute too early"
I've been working on identifying some issues with UCX cleanup and found one of the issues to be with with exit handlers, in this particular case, it comes from `AsyncProcess`' handler in https://github.com/dask/distributed/blob/18fff8b0ca0297e100695519931c78e579cb55a6/distributed/process.py#L340-L348

For better understanding, consider the log below -- I deliberately removed some lines that weren'

[2020-10-22 22:23] jsCoder020193 commented on #962
Is there any update on how to solve this issue?

The noob that I am I used "pip install dask" and now have trouble with dask.distributed module not found error.

Tried doing:
pip install dask[complete] distributed --upgrade

which I don't think changed much since I am still getting the module not found error.

[2020-10-23 12:27] madsbk opened #4183 "Clarification of the task graph: are futures allowed in tuples that aren't tasks?"
As reported by https://github.com/dask/distributed/issues/4177, [custreamz CI](https://gpuci.gpuopenanalytics.com/view/RAPIDS%20-%20GPU%20Matrix/job/rapidsai/job/gpuci/job/cudf/job/branches/job/cudf-gpu-matrix-branch-0.16/CUDA=10.1,LINUX_VERSION=ubuntu16.04,PYTHON_VERSION=3.7/49/testReport/custreamz.tests/test_dataframes/test_getitem_dask_/) fails because the task graph contains tuples with future

[2020-10-23 15:17] jakirkham commented on #4183
cc @mrocklin @martindurant @jrbourbeau (in case any of you have thoughts 🙂)

[2020-10-23 15:22] martindurant commented on #4183
From the (cu)streamz perspective, I daresay the submits can be changed to use lists instead of tuples where necessary.

[2020-10-23 17:43] jrbourbeau commented on #4183
This is a great question, thanks for asking @madsbk

I'm somewhat torn on what behavior we should have here. Based on the [Dask graph spec](https://docs.dask.org/en/latest/spec.html) I would expect that we shouldn't search through non-task tuples to replace `Future`s with their results as we don't do this for other graph keys. On the other hand, since we currently _do_ search non-task tuples for `

[2020-10-23 21:25] #4177 closed

[2020-10-25 02:09] alvarouc commented on #2880
Using a local cluster and this change broke it. Commenting this change out worked for me. As an alternative could you advise on how to change the "distributed.comm.timeouts.connect" setting?

[2020-10-26 15:49] quasiben opened #4186 "Double Counting and Issues w/Spilling"
cuDF recently made a change (they are now [reverting that change](https://github.com/rapidsai/cudf/pull/6596)) which impacted the way memory usage is reported.  I'm bringing this up to see if my understanding about memory reporting within in Dask is correct, and if so, what we can do to mitigate what I think may be potential double counting in memory reporting for both device and host memory objec

[2020-10-26 16:00] kkraus14 commented on #4186
I want to add an additional case that is maybe problematic, in that in addition to not deduplicating memory, we aren't accurately tracking memory in the case of views. You could imagine code that looks something like:
[code]

Where we'll only report 400 bytes of memory usage, but in reality we're still using 800 bytes since it's just a view into the original 800 byte allocation that is being refer

[2020-10-26 18:49] mrocklin opened #4187 "Remove graph expansions from graph_to_futures"
I'm looking through `Client._graph_to_futures` now after the work from @madsbk was merged in.  It looks like we've moved the graph expansion down to calling `dask.order.order` here:

https://github.com/dask/distributed/blob/23ceba98b4830af006a21036f11891f09090eff2/distributed/client.py#L2638-L2654

I *think* that this is the last major reason to compute `dsk` and `dependencies` explicitly on the c

[2020-10-26 19:05] mrocklin commented on #854
I have some questions about Cython.

In @shwina 's work [here](https://github.com/dask/distributed/pull/3770/files#diff-5ffaf30746e867eb11e9c41b65dc07d2bb3144a683a5e3a1a29f9398320b8f9f) he Cythonized the TaskState and other classes in the Scheduler

https://github.com/dask/distributed/blob/79f1f89eccb8fbb7881f3f155552ff908aa9bc78/distributed/scheduler_cy.pyx#L584-L627

This yielded only modest spe

[2020-10-26 19:25] scoder commented on #854
You can use the `dict` type, but there is not currently dedicated support for containers with typed values like `Dict[str, TaskState]`. One of the issues is tracking usages of the "typing" module, another is integrating container item types into the type system. Both probably aren't difficult to implement (there is precedence for both, e.g. C++ template support), but it hasn't been implemented yet

[2020-10-26 19:30] kkraus14 commented on #854
Given the dict is used with a pre-defined set of keys, I think we could define a big `if, elif, elif, elif, etc.` block which I believe Cython will optimize into a switch case for us. Would look a bit gross code-wise and be a bit unintuitive from a Python perspective.

[2020-10-26 19:40] scoder commented on #854
`switch` doesn't work with string values. And a Python dict lookup with a `str` (especially a literal) is actually plenty fast. I doubt that this is a bottleneck here.

[2020-10-26 20:03] madsbk commented on #4187
Ordering is already done by the scheduler, if `priority` is None: https://github.com/dask/distributed/blob/master/distributed/scheduler.py#L1944

However, I realized that another reason to calculate `dependencies` on the client is `dumps_task()`. Since the scheduler doesn't deserialize tasks, it cannot compute the dependencies of the serialized tasks.

Working on this Friday and today, I finally t

[2020-10-26 20:32] jrbourbeau opened #4188 "TaskState metadata"
Recently I was working with a group that computed user-defined attributes for each task (e.g. the start and stop time when running the task) and stored them in an external database. However, after https://github.com/dask/distributed/pull/4107 we now have a `TaskState` object on both the worker and scheduler which could be used to store custom task-level information directly on the cluster.

For ex

[2020-10-26 20:38] mrocklin commented on #4187
I would expect the Layer subclasses to be able to generate their own dependencies.  Is this not already the case?

Right.  To make sure I understand what you're saying here, this is the serialization that you were doing with `__reduce__` so that you can pass things up through msgpack and then have re-materialized Layers on the scheduler (although with some differences, because probably the actual

[2020-10-26 20:40] mrocklin commented on #854
Thanks for the response @scoder .  I think that we're becoming more comfortable with switching the entire file to Cython.  So what I'm hearing is that we'll do something like the following:

[code]

This is more c-like in that we're declaring up-front the types of various variables used within a function.  Am I right in understanding that Cython will use these type hints effectively when unpacking

[2020-10-26 20:44] mrocklin commented on #4187
To be clear, what I think *should* happen is that

1.  We never expand the full graph locally on the client side
2.  Ideally we also never expand dependencies, unless maybe we need to do a low level task optimization sometimes
3.  We serialize the layer using a method defined on that layer
4.  We deserialize the layer using a method defined on that layer, except that the deserialized form probably

[2020-10-26 21:03] mrocklin commented on #4188
Thinking again about this this might be simple enough to implement that it might make sense to just create a PR.  It might make things more clear and I'm guessing it's only a few lines.

[2020-10-26 22:31] jakirkham commented on #854
If we are comfortable moving to more typical Cython syntax, are we also comfortable making use of C++ objects in Cython? For example we could do things like this...

[code]

Asking as this would allow us to make the kind of optimizations referred to above.

[2020-10-26 22:37] mrocklin commented on #854
I would be inclined to do this incrementally and see what is needed.  My _guess_ is that there will be value in the attributes of a TaskState object being easy to manipulate in Python as well.  This will probably be useful when we engage the networking side of the scheduler, or the Bokeh dashboard.

To me the following somewhat incremental path seems good:

1.  Cythonize the entire scheduler.py fi

[2020-10-26 22:41] pitrou commented on #854
I'm skeptical using a C++ `map` would bring anything. First, you probably want an `unordered_map` (which is a hash table rather than a tree as in `map`). Second, Python `dict`s are quite optimized as far as hash tables go (for example, the hash value of a string is interned and needn't be recomputed, strings can often be compared by pointer..).

[2020-10-26 22:59] jakirkham commented on #854
Sure the code above was intended to provide a sample. Not the optimal solution necessarily.

[2020-10-26 23:08] blchu opened #4189 "Task Stream Empty in Dask Performance Report"
**What happened**:

When attempting to profile via `performance_report`, the resulting HTML file has an empty graph for the task stream tab.
The graph is similarly empty when trying to capture the task stream through `get_task_stream`.

**What you expected to happen**:

Task stream graph should have been populated in the recorded HTML file.

**Minimal Complete Verifiable Example**:

[code]

**Anyt

[2020-10-27 01:01] mrocklin commented on #4189
This may be due to a Bokeh issue.  I think that it was resolved in master
and may be fixed in the next bokeh release.  In the meantime you might want
to pin to an older version.  cc @jsignell for verification

On Mon, Oct 26, 2020 at 4:08 PM Brenton Chu <notifications@github.com>
wrote:

[2020-10-27 02:51] jrbourbeau commented on #4189
@blchu there was an issue in bokeh that caused the task stream to stop rendering (xref https://github.com/dask/distributed/issues/4161). Upgrading to the latest release (`bokeh==2.2.3`) should fix the issue

[2020-10-27 13:14] madsbk commented on #4187
I mostly agree but there are many subtle details that are difficult to handle. I have added some thoughts in the PR: https://github.com/dask/distributed/pull/4140#issuecomment-717221583

[2020-10-27 13:26] jsignell commented on #4189
Right or downgrading to bokeh < 2.2

[2020-10-27 13:26] #4189 closed

[2020-10-27 13:56] quasiben commented on #4188
I think this would be great!  It'd be cool to optionally store timeseries info about tasks in addition to the aggregate behavior we currently store now.  Specifically, with this kind of tooling we may be able to resolve https://github.com/dask/distributed/issues/4159

[2020-10-27 17:18] jrbourbeau commented on #4188
I opened up a PR to implement this over in https://github.com/dask/distributed/pull/4191

[2020-10-27 18:48] Hoeze commented on #391
Wow, this line is a life-saver.
Almost in all of my jobs I end up running into this problem.

Executing this by hand also helped with my issue here:
https://stackoverflow.com/questions/64557212/dask-distributed-workers-stall-when-reaching-80-of-memory-limit

Is there meanwhile a solution for this problem?

[2020-10-27 19:57] Hoeze opened #4193 "WARNING - Memory use is high but worker has no data to store to disk"
I end up getting a lot of error messages like this:
[code]
I'm relatively sure that this warning is actually true.
Also, the workers hitting this warning end up in idling all the time.

Is there a way to automatically retire + restart the workers that hits this error message?

**Anything else we need to know?**:
I'm using Dask v2.30

**Environment**:

- Dask version: v2.30
- Python version: 3.7.8

[2020-10-27 20:53] Hoeze commented on #3018
Hi @chinmaychandak, did you have some success in debugging the issue?

[2020-10-27 20:56] Hoeze commented on #4193
A related issue I hit when residing workers a couple of times:
https://github.com/dask/distributed/issues/3018

At some point, these high-memory workers are just stuck and do not do anything anymore.

[2020-10-27 21:16] mrocklin commented on #4183
I do not recall when we added futures-in-tuples.  I'm fine leaving it
removed for now if the only people who it affects are comfortable moving to
lists.

In principle, any time we accept user input we should probably quote
things.  If a user is providing a tuple of futures we should probably turn
that into (tuple, [f1, f2, f3]) internally.

On Fri, Oct 23, 2020 at 10:43 AM James Bourbeau <notifica

[2020-10-27 21:24] mrocklin commented on #4186
This sounds correct to me.

I had a brief conversation with @kkraus14 in which I recommended that you stop relying on per-object memory counting, and just rely on the device to tell you how much memory is used.  @kkraus14 then told me that this is quite hard/expensive to do, and that per-object tracking is best.

In principle, it is hard to ask Python "How much do all of these things take up in me

[2020-10-27 22:13] chinmaychandak commented on #3018
Hey @Hoeze, I wasn't able to figure out how to fix the issue, but I did a couple of things as a workaround:

1. I am now restarting workers less often by tweaking the `worker.lifetime` and `worker.lifetime.stagger` configs.
2. I also changed a few other configs like `worker.memory` (increased all fractions), `comm.timeouts`, and that seemed to help with my use case, too.

[2020-10-27 22:42] mrocklin opened #4194 "Handshake doesn't handle blosc effectively"
I ran into an issue with @therriault where remote workers had Blosc, but the Client didn't.  This resulted in un-decompressible data being shipped to the client.

I was surprised that this occured because he was after 2.23 where the handshake was implemented.  My _guess_ is that serialization functions are using blosc outside of the normal compression channels and don't have the handshake informat

[2020-10-27 22:45] mrocklin commented on #4194
Here is a notebook from @therriault .  It includes another failure with Joblib if anyone wants to try that out as well: https://gist.github.com/mrocklin/0a332b477dabc1a55fbbdaa2d08a5333

[2020-10-28 21:45] #4188 closed

[2020-10-29 09:48] tomaszgy commented on #2362
Hi there and thanks for a great project Dask is! Has anonye had a chance to work on this?

[2020-10-29 09:52] jacobtomlinson commented on #3488
Hey @2d1r. While similar I think this is a different issue. My initial guess would be that your scheduler is being lost or killed somehow.

I recommend you raise a new issue with this problem and share more information on how you are constructing your cluster. Preferably with code example.

[2020-10-29 14:36] mrocklin commented on #2362
Not to my knowledge.  If you want to help out it would be welcome.

Also cc @fjetter , in case the Semaphore implementation (which I think does support TTLs) could be used to support this.

[2020-10-29 15:26] fjetter opened #4199 "AttributeError in handle_missing_dep"
I can see a lot of logged errors for an `AttributeError` in the `handle_missing_dep` coroutine, e.g. in https://travis-ci.org/github/dask/distributed/jobs/739654791

Note: There are attribute errors for `WorkerState` and `TaskState`

It seems there is no test failure because of it but these exceptions seem to be retried and I could imagine this to be the cause why I can see many tests currently ti

[2020-10-29 16:18] fjetter commented on #2362
The Semaphore implementation should serve as a drop in replacement if used as `Lock ~ Semaphore(1)` and offers a TTL implementation (we just call it slightly differently but I'm open to change :) )
When we introduced the semaphore, we also briefly discussed if it could not be used as a backend for Lock but ultimately, I ran out of time and never got around to do so. IIRC, there are a few subtle ap

[2020-10-29 19:12] quasiben commented on #4193
I don't think there is a method to auto-restart.  You can manually call `client.restart()` which will restart all the workers.  Do you have a concise reproducer ?

[2020-10-29 19:39] Hoeze commented on #3018
Thanks a lot for your tips @chinmaychandak :)
Increasing comm.timeouts seems to improve the situation a lot.

[2020-10-29 19:47] Hoeze commented on #4193
Thanks for your answer @quasiben.
Unfortunately, this does not help in my case.
I want to run my jobs unattended but to finish the last task I often have to manually restart a hanging worker (`await client.cluster.workers[<id>].restart()`).
Also, `client.restart()` would restart the whole cluster and delete all the progress, so I would need to re-run all the computations.

[2020-10-29 20:07] quasiben commented on #4193
Hmm, could there in fact be a leak ?  Can you run with more memory ?Can you describe the kind of operation(s) the worker is doing during this time ?

[2020-10-29 20:12] jrbourbeau opened #4201 "Flaky test_close_gracefully"
`test_close_gracefully` [failed on CI build](https://github.com/dask/distributed/runs/1324615732#step:8:116) over in https://github.com/dask/distributed/pull/4192 which contained seemly unrelated changes

<details>
<summary>Traceback:</summary>

[code]

</details>

[2020-10-29 21:02] Hoeze commented on #4193
My function is fetching data from a SQL server and reads some data from TileDB. Afterwards it uses Pandas to do some aggregations and return a numpy array.
Then I use `dask.array.from_delayed()` to map this function across a range of 2500 inputs.

I made sure that all connections are one-shot and therefore get removed after loading the data.
However, I cannot completely rule out the possibility th

[2020-10-29 21:54] holdenk opened #4202 "Prioritize the migration of recent expensive to compute data during RM scale down"

[2020-10-30 12:58] quasiben commented on #4202
RM scale down is Resource Manager Scale down ?  For example, Kubernetes/Yarn/etc removing workers ?

[2020-10-30 14:43] mrocklin commented on #4202
Yes, but this would be implemented more generally.  I think that this is
handled in Scheduler.retire_workers which relies on Scheduler.rebalance

On Fri, Oct 30, 2020 at 5:58 AM Benjamin Zaitlen <notifications@github.com>
wrote:

[2020-10-30 14:56] mrocklin commented on #4193
I like this idea.

In practice Dask is unable to control memory leaks.  These often come from other libraries that weren't designed to run in a multi-threaded context (indeed, glibc malloc itself has some issues here).  I think that smoothly retiring workers in this situation would be a good way for us to add some robustness to this situation.

One *challenge* to this is what to do with the memory

[2020-10-30 14:59] mrocklin commented on #4201
It looks like this is a confusion between the terms processing and executing.  cc @gforsyth

[2020-10-30 15:05] tomaszgy commented on #2362
@mrocklin and @fjetter, thanks a lot for the quick responses!

I'm going to go with a `Lock ~ Semaphore(max_leases=1)` approach so thanks for pointing it out :-)

[2020-10-30 15:58] gforsyth commented on #4201
Hmm, yeah, so that should probably be `assert ts.state in ("executing", "memory")` -- there is no `processing` state.  I'll push up a fix in a few.

[2020-10-30 16:55] #4201 closed

[2020-10-30 20:02] mrocklin commented on #4168
cc @itamarst this seems like something that might be up your alley

[2020-10-30 20:26] itamarst commented on #4168
Always impressed at your nerd sniping skills :grin:

[2020-10-30 20:50] mrocklin commented on #4168
I think that my main value to society today is indexing people by technical interest

[2020-10-30 20:51] mrocklin commented on #4168
Also, thank you for taking a look, I appreciate it

(I'm interpretting your :grin: as enthusiasm)

[2020-10-31 13:13] itamarst commented on #4168
A workaround:

[code]

No idea what's going on yet, but I suspect it's a bug in Python.

[2020-10-31 17:29] Hoeze commented on #4193
Thanks a lot @mrocklin, I will test your patch in the next week.

[2020-10-31 18:09] mrocklin commented on #4193
Thanks!  To be clear *I *haven't tested that, or even verified that it's
valid Python.  Some work on your end may still be necessary.

On Sat, Oct 31, 2020 at 10:29 AM Florian R. Hölzlwimmer <
notifications@github.com> wrote:

[2020-10-31 18:58] Hoeze commented on #4193
OK sure. I'm happy to debug :)
Nonetheless if you have tips how to get dask workers into debug mode (with pycharm) I'd be even more happy :D

[2020-10-31 19:05] SultanOrazbayev opened #4207 "Enabling discussions"
If possible, it would be great to have "Discussions" tab for clarifications/open-ended questions (https://github.community/t/can-one-apply-for-github-discussions-beta/121120/3).

[2020-10-31 19:12] mrocklin commented on #4207
Sure!  We actually discussed this last month in our meeting, got access to the beta, but never actually set it up.  I've gone ahead and done this.  Let's see how well it works.

Thanks for the reminder @SultanOrazbayev !

[2020-10-31 19:12] #4207 closed

[2020-10-31 19:13] mrocklin commented on #4193
The testing infrastructure is pretty good for this, especially if you can
write async code:
https://distributed.dask.org/en/latest/develop.html#writing-tests

Dask can run itself entirely in one thread, which really helps with
debugging.

On Sat, Oct 31, 2020 at 11:59 AM Florian R. Hölzlwimmer <
notifications@github.com> wrote:

[2020-10-31 20:06] MaxBareiss opened #4210 "OpenCV types can't be serialized"
I can't serialize custom objects from OpenCV (I haven't tested other libraries). The example `Human` type works fine, but one from OpenCV doesn't. The custom serialization/deserialization works if I just do the KeyPoint object, but if it's in a list or tuple it causes problems. Best as I can tell, there's some logic to tell whether to use the `dask` or the `pickle` serializer. This logic works whe

[2020-10-31 23:28] mrocklin commented on #4210
Before looking at custom dask serialization I recommend looking at cloudpickle.  Are your objects cloudpickleable?

[code]

If not, you might consider adding support in Cloudpickle, or maybe raising this at the OpenCV library asking them to make their objects serializable with normal Python routines, like `__setstate__/__getstate__` or `__reduce__`

[2020-11-02 13:34] hammer commented on #3630
Strangely a blog post on this topic hit the frontpage of Hacker News today: https://copyconstruct.medium.com/file-descriptor-transfer-over-unix-domain-sockets-dcbbf5b3b6ec

[2020-11-02 15:16] mrocklin commented on #4168
Thank you for investigating this @itamarst

[2020-11-02 15:17] mrocklin commented on #4168
Short term, would a solution be to add that import to the appropriate file within distributed?

[2020-11-02 16:07] itamarst commented on #4168
I would guess so, yes (on POSIX platforms, anyway).

[2020-11-02 16:51] jacobtomlinson opened #4214 "Migrate CI to GitHub Actions"
Due to changes in the Travis CI billing, the Dask org is migrating CI to GitHub Actions.

This repo contains a `.travis.yml` file which needs to be replaced with an equivalent `.github/workflows/ci.yml` file.

See dask/community#107 for more details.

[2020-11-02 21:13] jrbourbeau opened #4215 "Flaky test_tls_specific"
I've run across `test_tls_specific` failing sporadically in PRs and in the main branch (xref https://github.com/dask/distributed/runs/1332842736#step:8:116). Opening up this issue for tracking

[2020-11-03 03:18] jrbourbeau commented on #4181
@pentschev does https://github.com/dask/distributed/pull/4184 fix this issue, or is there more to do?

[2020-11-03 07:56] pentschev commented on #4181
Yes, it does on my end. Thanks for the ping here @jrbourbeau , closing now.

[2020-11-03 07:56] #4181 closed

[2020-11-03 16:25] TomNicholas commented on #1674
Just commenting to say that I was having this same issue for a long time (I was trying to do something similar to Julius, using xarray.open_mfdataset to open hundreds of netCDF files), but after updating to dask v2.30.0 and dask-labextension v3.0.0 it seems to be working now! I'm very pleased.

<img src="https://user-images.githubusercontent.com/35968931/98012093-968b4c00-1df0-11eb-8de0-0c70774ed8

[2020-11-03 21:43] jsignell commented on #3426
I think this has been resolved. I just tried to go back to the PR that I'd started and I found that the MRE works as expected now :)

[2020-11-03 21:43] #3426 closed

[2020-11-04 12:58] pitrou commented on #854
Slightly orthogonal, but I think the biggest potential speedup for the scheduler would come from vectorizing scheduler operations. That is, instead of having dicts and sets that are iterated on, find a way to express the scheduling algorithm in terms of vector/matrix operations, and use Numpy to accelerate them. Regardless of the implementation language, implementing set operations in terms of has

[2020-11-04 13:45] fijal commented on #854
Jumping on a discussion from forever ago.... that was essentially the issue
with trying to speed it up on pypy. No matter what you do, dict operations
are expensive. If the only thing you do is dict, then cpython/pypy will be
the same speed and probably faster than an equivalent C implementation. But
the implementation in C will probably not use dicts everywhere, because
it's hard. I would strongl

[2020-11-04 14:13] mrocklin commented on #854
Thanks for the comments @pitrou and @fijal (also, it's good to hear from both of you after so long)

I agree that vectorization would probably push us well into the millions of tasks per second mark.  If you look at HPC schedulers in academia one sees this kind of throughput.  At some point we'll have to think about this, and I look forward to that.  I still think that we should be able to do bett

[2020-11-04 14:16] fijal commented on #854
HI Matthew

It might be an unpopular opinion, but the CPython performance does not tell
you much about how it would perform on anything else (e.g. PyPy, numba,
cython, rust, C). E.g. attribute access on PyPy is mostly getting compiled
to an array access

On Wed, Nov 4, 2020 at 4:14 PM Matthew Rocklin <notifications@github.com>
wrote:

[2020-11-04 14:21] mrocklin commented on #854
Yeah, I'm hoping that we could get the same performance result with Cython.  My *hope* (perhaps naive) is that there are large optimizations here that PyPy wasn't able to find, and that by writing this code manually and inspecting the generated C that we might be able to find something that PyPy missed.  I'm making that bet mostly based on the belief that dict/attribute access isn't *that* slow, b

[2020-11-04 14:27] fijal commented on #854
Hi Matthew

I'm really not telling you where you should or should not go. I was
merely saying that everything that *does* any form of optimization
will have a very different profile (more like PyPy) than CPython and
looking where CPython spends it's time is not that interesting. Using
ints as keys, preallocating arrays (as opposed to resizable ones or
dictionaries) etc. are all sensible strategies